<ng-container *ngIf="platform.is('android') || platform.is('ios')">
  <ion-header translucent>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button></ion-back-button>
      </ion-buttons>
      <ion-title>Home</ion-title>
      <ion-buttons slot="end">
        <ion-button>
          <ion-icon slot="icon-only" name="notifications-sharp"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>
</ng-container>

<ng-container *ngIf="!!user.uid; else notLoggedIn">
  <ng-container *ngIf="paginationService.data | async as notifications; else loading">

    <ion-content>
      <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
        <ion-refresher-content
          pullingIcon="arrow-down"
          refreshingSpinner="circles">
        </ion-refresher-content>
      </ion-refresher>
    
      <section fxLayout="column" fxLayoutAlign="center start" fxLayoutGap="24px">
    
        <ng-container *ngFor="let notification of notifications; let isLast = last">
          <strive-notification [notification]="notification" isAdmin="true" [reference]="'Users/' + user.uid + '/Notifications/' + notification.id"></strive-notification>
          <ng-container *ngIf="!isLast">
            <span class="divider"></span>
          </ng-container>
        </ng-container>
          
        <ion-infinite-scroll threshold="100px" (ionInfinite)="loadData($event)">
          <ion-infinite-scroll-content
            loadingSpinner="bubbles"
            loadingText="Loading more data...">
          </ion-infinite-scroll-content>
        </ion-infinite-scroll>
      
      </section>
    </ion-content>

  </ng-container>
</ng-container>

<ng-template #loading>
  <strive-page-loading></strive-page-loading>
</ng-template>

<ng-template #notLoggedIn>
  <div class="not-logged-in">
    <p>
      <span class="fat-text-button" (click)="openLoginModal()">Log in</span>to view your notifications
    </p>
  </div>
</ng-template>


  
  