<ng-container *ngIf="screensize.isMobile$ | async">
  <ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button></ion-back-button>
      </ion-buttons>
      <ion-title>Home</ion-title>
      <ion-buttons slot="end">
        <ng-container *ngIf="user.uid else notLoggedInHeader">
          <ion-button routerLink="../notifications">
            <ion-icon slot="icon-only" name="notifications-sharp" [ngClass]="{'badge': unreadNotifications$ | async}"></ion-icon>
          </ion-button>
        </ng-container>
        <ng-template #notLoggedInHeader>
          <ion-button color="primary" (click)="openAuthModal(enumAuthSegment.login)">
            Log in
          </ion-button>
          <ion-button color="primary" (click)="openAuthModal(enumAuthSegment.register)">
            Sign up
          </ion-button>
        </ng-template>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>
</ng-container>

<ng-container *ngIf="user.uid !== undefined else loading">  
  <ng-container *ngIf="!!user.uid; else notLoggedIn">
    <ng-container *ngIf="feed.data | async as notifications; else loading">

      <ion-content>
        <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
          <ion-refresher-content></ion-refresher-content>
        </ion-refresher>
      
        <ng-container *ngIf="notifications.length else empty">
          <section fxLayout="column" fxLayoutAlign="center start">

            <ng-container *ngFor="let notification of decisions$ | async; let isLast = last">
              <notification-main [notification]="notification" isAdmin="true" [reference]="'Users/' + user.uid + '/Notifications/' + notification.id"></notification-main>
              <span *ngIf="isLast" class="divider"></span>
            </ng-container>

            <ng-container *ngFor="let notification of notifications; let isLast = last">
              <ng-container *ngIf="!notification.needsDecision">
                <notification-main [notification]="notification" isAdmin="true" [reference]="'Users/' + user.uid + '/Notifications/' + notification.id"></notification-main>
                <span *ngIf="!isLast" class="divider"></span>
              </ng-container>
            </ng-container>

            <ion-infinite-scroll threshold="100px" (ionInfinite)="loadData($event)">
              <ion-infinite-scroll-content
                loadingSpinner="bubbles"
                loadingText="Loading more data...">
              </ion-infinite-scroll-content>
            </ion-infinite-scroll>

          </section>
        </ng-container>

        <ng-template #empty>
          <section fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="16px" class="empty">
            <article>Nothing to show yet</article>
            <article><span class="fat-text-button" routerLink="/explore">Explore</span>goals</article>
            <article><span class="fat-text-button" routerLink="/explore">Find</span>friend</article>
            <article><span class="fat-text-button" routerLink="/goals">Create</span> a goal</article>
          </section>
        </ng-template>
      </ion-content>

    </ng-container>
  </ng-container>
</ng-container>


<ng-template #loading>
  <strive-page-loading></strive-page-loading>
</ng-template>

<ng-template #notLoggedIn>
  <ion-content class="ion-no-padding" class="home">
    <header fxLayout="column" fxLayoutAlign="center center">
      <h1>Focus on your Long-term Goals</h1>
      <h2>Journal &#8226; Achieve together &#8226; Support others &#8226; Bucketlist &#8226; Mind Exercises</h2>
      <ng-container *ngIf="pwa.showInstallPromotion$ | async else signUp">
        <ion-button (click)="pwa.showInstallPromotion()">install app</ion-button>
      </ng-container>
      <ng-template #signUp>
        <ion-button (click)="openAuthModal(enumAuthSegment.register)">sign up</ion-button>
      </ng-template>
    </header>

    <section>
      <h3>Goals</h3>
      <p>What do you want to achieve? Describe, visualize it and make a detailed plan. Ask friends and family to support you. And eventually look back on your life and see what you've achieved.</p>
      <article class="grid">
        <ng-container *ngFor="let goal of goals$ | async">
          <strive-small-thumbnail [title]="goal.title" [image]="goal.image" asset="goal.jpeg" [routerLink]="['/goal/', goal.id]">
            <small>{{ goal.numberOfAchievers }} achievers - {{ goal.numberOfSupporters}} supporters</small>
          </strive-small-thumbnail>
        </ng-container>
      </article>
    </section>

    <section>
      <h3>Exercises</h3>
      <p>The belief in yourself is your biggest power. Strengten this power by doing these exercises.</p>
      <article class="grid">
        <ng-container *ngFor="let exercise of exercises | slice:0:4">
          <strive-small-thumbnail [title]="exercise.title" [asset]="exercise.image" (click)="openAuthModal(enumAuthSegment.register, exercise.enum)">
          </strive-small-thumbnail>
        </ng-container>
      </article>
    </section>

    <!-- <section>
      <h3>Collective Goals</h3>
      <p>You're not alone trying to achieve something. Connect with others working on the same goal. Use templates created by people who walked the path before.</p>
      <article class="grid">
        <ng-container *ngFor="let collectiveGoal of collectiveGoals$ | async">
          <strive-small-thumbnail [title]="collectiveGoal.title" [image]="collectiveGoal.image" asset="collective-goal.jpeg" [routerLink]="['/collective-goal/', collectiveGoal.id]">
            <small>{{ collectiveGoal.numberOfAchievers }} achievers</small>
          </strive-small-thumbnail>
        </ng-container>
      </article>
    </section> -->

    <footer>
      <a routerLink="/terms">Terms of Use</a><br/>
      <a routerLink="/privacy-policy">Privacy Policy</a>
    </footer>
  </ion-content>
</ng-template>


  
  