<ng-container *ngIf="screensize.isMobile$ | async">
  <ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button></ion-back-button>
      </ion-buttons>
      <ion-title>Home</ion-title>
      <ion-buttons slot="end">
        <ion-button routerLink="../notifications">
          <ion-icon slot="icon-only" name="notifications-sharp" [ngClass]="{'badge': unreadNotifications$ | async}"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>
</ng-container>

<ng-container *ngIf="!!user.uid; else notLoggedIn">
  <ng-container *ngIf="feed.data | async as notifications; else loading">

    <ion-content>
      <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
        <ion-refresher-content
          pullingIcon="arrow-down"
          refreshingSpinner="circles">
        </ion-refresher-content>
      </ion-refresher>
    
      <ng-container *ngIf="notifications.length else empty">
        <section fxLayout="column" fxLayoutAlign="center start">

          <ng-container *ngFor="let notification of decisions$ | async; let isLast = last">
            <strive-notification [notification]="notification" isAdmin="true" [reference]="'Users/' + user.uid + '/Notifications/' + notification.id"></strive-notification>
            <span *ngIf="isLast" class="divider"></span>
          </ng-container>

          <ng-container *ngFor="let notification of notifications; let isLast = last">
            <ng-container *ngIf="!notification.needsDecision">
              <strive-notification [notification]="notification" isAdmin="true" [reference]="'Users/' + user.uid + '/Notifications/' + notification.id"></strive-notification>
              <span *ngIf="!isLast" class="divider"></span>
            </ng-container>
          </ng-container>

          <ion-infinite-scroll threshold="100px" (ionInfinite)="loadData($event)">
            <ion-infinite-scroll-content
              loadingSpinner="bubbles"
              loadingText="Loading more data...">
            </ion-infinite-scroll-content>
          </ion-infinite-scroll>

        </section>
      </ng-container>

      <ng-template #empty>
        <section fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="16px" class="empty">
          <article>Nothing to show yet</article>
          <article><span class="fat-text-button" routerLink="/explore">Explore</span>goals</article>
          <article><span class="fat-text-button" routerLink="/explore">Find</span>friend</article>
          <article><span class="fat-text-button" routerLink="/goals">Create</span> a goal</article>
        </section>
      </ng-template>
    </ion-content>

  </ng-container>
</ng-container>

<ng-template #loading>
  <strive-page-loading></strive-page-loading>
</ng-template>

<ng-template #notLoggedIn>
  <section fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="16px" class="empty">
    <article>
      <span class="fat-text-button" (click)="openLoginModal()">Sign up</span>to journal about your goals and to help others achieve their goals
    </article>
    <article><span class="fat-text-button" routerLink="/explore">Explore</span>goals</article>
    <article><span class="fat-text-button" routerLink="/explore">Find</span>friends</article>
  </section>
</ng-template>


  
  