<ion-segment scrollable value="goal" (ionChange)="segmentChanged($event)">
	<ion-segment-button value="goal">
		<ion-icon name="flag"></ion-icon>
	</ion-segment-button>
	<ion-segment-button value="team">
		<ion-icon name="people"></ion-icon>
	</ion-segment-button>
	<ion-segment-button value="roadmap">
		<ion-icon name="map"></ion-icon>
	</ion-segment-button>
	<ion-segment-button value="story">
		<ion-icon name="list"></ion-icon>
	</ion-segment-button>
</ion-segment>

<ion-content [ngSwitch]="segmentChoice">
	<ng-container *ngIf="id$ | async as id">
		<strive-goal *ngSwitchCase="'goal'" [id]="id"></strive-goal>
		<strive-team *ngSwitchCase="'team'" [id]="id"></strive-team>
		<strive-roadmap *ngSwitchCase="'roadmap'" [id]="id"></strive-roadmap>
	</ng-container>
</ion-content>
