header {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 16px;

  h4 {
    margin: 0;
    color: var(--ion-color-primary);
  }

  small {
    color: var(--ion-color-medium);
  }
}

.all {
  display: block;
  margin-left: auto;
  width: fit-content
}

ion-list {
  border-radius: 0;

  ion-thumbnail {
    position: relative;
    border-radius: 12px;
		isolation: isolate;

    img {
      border-radius: 12px;
      object-fit: cover;
    }

    .finished-overlay {
      border-radius: 12px;
      position: absolute;
      top: 0;
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      color: var(--ion-color-primary-contrast);
      background: rgba(247, 148, 29, .6);
      font-size: 14px;

      ion-icon {
        font-size: 40px;
      }
    }
  }
}
