<ion-list lines="none" *ngIf="_milestone">
  <ion-item (click)="complete()" *ngIf="_isNotCompleted" button>Complete</ion-item>
  <ion-item (click)="setDeadline()" *ngIf="_isNotCompleted" button>{{ _milestone.deadline ? 'Change Deadline' : 'Set Deadline'}}</ion-item>
  <ion-item (click)="removeDeadline()" *ngIf="_isNotCompleted && _milestone.deadline" button>Remove Deadline</ion-item>
  <ion-item (click)="assignMe()" *ngIf="!_isAlreadyAssigned && _isNotCompleted" button>Assign Me</ion-item>
  <ion-item (click)="unassignMe()" *ngIf="_isAlreadyAssigned && _isNotCompleted" button>Unassign Me</ion-item>
  <ion-item *ngIf="!_isNotCompleted">No Actions Available</ion-item>
</ion-list>