h2 {
  color: var(--ion-color-primary);
  padding-left: 16px;
}

div.max-width {
  margin: auto;
  max-width: 1600px;
}

banner {
  margin: 32px 16px 0 16px;
}

.algolia_search {
  display: block;
  margin: 16px auto;
}