


<ion-content class="ion-no-padding" #scrollArea scrollEvents="true">

  <div class="max-width" [ngSwitch]="segmentChoice">
    <header fxLayout>
      <form [formGroup]="searchForm">
        <ion-searchbar
          formControlName="query"
          placeholder='Try "Eat Healthy"'>
        </ion-searchbar>
        <ion-card>
          <ion-select placeholder="Type" interface="popover" formControlName="type">
            <ion-select-option value="all">All</ion-select-option>
            <ion-select-option value="goals">Goals</ion-select-option>
            <ion-select-option value="users">Users</ion-select-option>
            <ion-select-option value="exercises">Exercises</ion-select-option>
            <ion-select-option value="collectiveGoals">Collective Goals</ion-select-option>
          </ion-select>
        </ion-card>
      </form>
    </header>

    <div *ngSwitchCase="'overview'">
      <section fxLayout fxLayoutAlign="space-between end">
        <h2>Goals</h2>
        <ion-button fill="clear" (click)="setType('goals')">view more</ion-button>
      </section>
      <thumbnail-list [width]="250">
        <ng-container *ngFor="let rows of algolia.goalResults | async | rows:2">
          <ng-template #thumb>
            <article fxFlex class="small-thumbnail-column" fxLayout="column" fxLayoutGap="16px">
              <ng-container *ngFor="let goal of rows; let i = index">
                <small-thumbnail [title]="goal.title" [image]="goal.image" asset="goal.jpeg" [routerLink]="'/goal/' + goal.id">
                  <small>{{ goal.numberOfAchievers }} Achiever{goal.numberOfAchievers, plural, =1 {} other {s}}</small>
                </small-thumbnail>
              </ng-container>
            </article>
  
          </ng-template>
        </ng-container>
      </thumbnail-list>
  
      <section fxLayout fxLayoutAlign="space-between end">
        <h2>Collective Goals</h2>
        <ion-button fill="clear" (click)="setType('collectiveGoals')">view more</ion-button>
      </section>
      <thumbnail-list [width]="250">
        <ng-container *ngFor="let collectiveGoal of algolia.collectiveGoalResults | async">
          <ng-template #thumb>
            <large-thumbnail fxFlex [title]="collectiveGoal.title" [image]="collectiveGoal.image" asset="collective-goal.jpeg" [routerLink]="'/collective-goal/' + collectiveGoal.id">
            </large-thumbnail>
          </ng-template>
        </ng-container>
      </thumbnail-list>

      <banner></banner>
  
      <section fxLayout fxLayoutAlign="space-between end">
        <h2>Users</h2>
        <ion-button fill="clear" (click)="setType('users')">view more</ion-button>
      </section>
      <thumbnail-list [width]="250">
        <ng-container *ngFor="let rows of algolia.profileResults | async | rows:2">
          <ng-template #thumb>
            <article fxFlex class="small-thumbnail-column" fxLayout="column" fxLayoutGap="16px">
              <ng-container *ngFor="let profile of rows">
                <small-thumbnail [title]="profile.username" [image]="profile.photoURL" asset="profile.png" [routerLink]="'/profile/' + profile.uid" borderRadius="50%"></small-thumbnail>
              </ng-container>
            </article>
          </ng-template>
        </ng-container>
      </thumbnail-list>

      <!-- <section fxLayout fxLayoutAlign="space-between end">
        <h2>Exercises</h2>
        <ion-button fill="clear" (click)="setType('exercises')">view more</ion-button>
      </section>

      <thumbnail-list [width]="250">
        <ng-container *ngFor="let rows of exercises$ | async | rows:2">
          <ng-template #thumb>
            <article fxFlex class="small-thumbnail-column" fxLayout="column" fxLayoutGap="16px">
              <ng-container *ngFor="let exercise of rows">
                <small-thumbnail [title]="exercise.title" [asset]="exercise.image"></small-thumbnail>
              </ng-container>
            </article>
          </ng-template>
        </ng-container>
      </thumbnail-list> -->
    </div>


    <section *ngSwitchCase="'search'" class="search">
      <ng-container *ngIf="searchForm.value.type === 'all' || searchForm.value.type === 'goals'">
        <ng-container *ngFor="let goal of algolia.goalResults | async">
          <small-thumbnail [title]="goal.title" [image]="goal.image" asset="goal.jpeg" [routerLink]="'/goal/' + goal.id">
            <small>Type: Goal</small>
          </small-thumbnail>
        </ng-container>
      </ng-container>
      <ng-container *ngIf="searchForm.value.type === 'all' || searchForm.value.type === 'users'">
        <ng-container *ngFor="let profile of algolia.profileResults | async">
          <small-thumbnail [title]="profile.username" [image]="profile.photoURL" asset="profile.png" [routerLink]="'/profile/' + profile.uid" borderRadius="50%">
            <small>Type: User</small>
          </small-thumbnail>
        </ng-container>
      </ng-container>
      <ng-container *ngIf="searchForm.value.type === 'all' || searchForm.value.type === 'collectiveGoals'">
        <ng-container *ngFor="let collectiveGoal of algolia.collectiveGoalResults | async">
          <small-thumbnail [title]="collectiveGoal.title" [image]="collectiveGoal.image" asset="collective-goal.jpeg" [routerLink]="'/collective-goal/' + collectiveGoal.id">
            <small>Type: Collective Goal</small>
          </small-thumbnail>
        </ng-container>
      </ng-container>
      <ng-container *ngIf="searchForm.value.type === 'all' || searchForm.value.type === 'exercises'">
        <ng-container *ngFor="let exercise of exercises$ | async">
          <small-thumbnail [title]="exercise.title" [asset]="exercise.image">
            <small>Type: Exercise</small>
          </small-thumbnail>
        </ng-container>
      </ng-container>
    </section>

    <img class="algolia" asset="search-by-algolia-light-background.svg"/>
  </div>
</ion-content>