<ng-container *ngIf="_platform.is('android') || _platform.is('ios')">
  <ion-header translucent>

    <ng-container *ngIf="screensize.isDesktop$ | async">
      <ion-toolbar [myScrollVanish]="scrollArea">
        <ion-buttons slot="start">
          <ion-menu-button></ion-menu-button>
          <ion-back-button></ion-back-button>
        </ion-buttons>
        <ion-title>Explore</ion-title>
      </ion-toolbar>
    </ng-container>
  
    <ion-toolbar>
      <!-- <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
        <ion-back-button></ion-back-button>
      </ion-buttons> -->
      <ion-searchbar (ionChange)="search($event)" placeholder='Try "Plastic free"'></ion-searchbar>
    </ion-toolbar>
  
  </ion-header>
</ng-container>


<ion-content class="ion-no-padding" #scrollArea scrollEvents="true">

  <h3>Collective Goals</h3>
  <thumbnail-list 
    [thumbnails]="_instantSearch.collectiveGoalResults | async | toThumbnailList:'collectiveGoal'"
    type="collectiveGoal">
    <!-- <ng-template let-detail #details>
      <div>{{ detail.shortDescription }}</div>
    </ng-template> -->
  </thumbnail-list>

  <h3>Goals</h3>
  <thumbnail-list
    [thumbnails]="_instantSearch.goalResults | async | toThumbnailList:'goal'"
    type="goal">
  </thumbnail-list>

  <h3>Users</h3>
  <thumbnail-list
    [thumbnails]="_instantSearch.profileResults | async | toThumbnailList:'user'"
    type="user">
  </thumbnail-list>

</ion-content>