h3 {
  color: var(--ion-color-primary);
  padding-left: 16px;
}

ion-slide {
  float: left;
  width: 165px !important;
  margin-left: 5px !important;
  margin-right: 5px !important;
}

.container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.users {
  .user-profile {
    .profile-image-container {
      .profile-image {
        display: block;
        border-radius: 50%;
        object-fit: cover;
        width: 100px;
        height: 100px;
        margin: 0 auto 0;
        // box-shadow: 0px 11px 20px -3px rgba(142, 136, 146, 0.75);
      }
    }

    .profile-username {
      margin-top: 10px;
      text-align: center;
    }

    .margin {
      margin-left: 5px;
      margin-right: 5px;
      margin-bottom: 20px;
    }

    .clickable {
      cursor: pointer;
    }
  }
}

.users-mobile {
  ion-card {
    width: 160px;
    min-height: 120px;
    transition: box-shadow 0.5s cubic-bezier(0.25, 0.8, 0.25, 1);

    &:hover {
      background-color: var(--ion-color-lightest);
      cursor: pointer;
      box-shadow: 0 3px 10px rgba(0, 0, 0, 0.16), 0 3px 10px rgba(0, 0, 0, 0.23);
    }
  }

  ion-card-content {
    height: 30px;
    padding-left: 2px;
    padding-top: 2px;
  }

  .profile-image {
    display: block;
    border-radius: 50%;
    object-fit: cover;
    width: 100px;
    height: 100px;
    margin: 10px auto 10px auto;
    // box-shadow: 0px 11px 20px -3px rgba(142, 136, 146, 0.75);
  }
}
