<ion-content class="ion-padding">
  <ng-container *ngIf="template$ | async as template">
    <section fxLayout="column">

      <h1>{{ template.title }}</h1>
      <strive-text-editor [description]="template.description" 
        [isAdmin]="isAdmin | async"
        (update)="saveDescription($event)"
      ></strive-text-editor>

      <ion-card>
        <ion-card-header>
          <article fxLayout fxLayoutAlign="space-between">
            <div>
              <b>{{ template.goalTitle }}</b>
              <ng-container *ngIf="!!template.goalDeadline">
                <fa-icon [icon]="['fas', 'stopwatch']"></fa-icon> {{ template.goalDeadline | date:'fullDate' }}
              </ng-container>
            </div>
            <ng-container *ngIf="isAdmin | async">
              <ion-button (click)="presentTemplateOptionsPopover($event)" fill="clear">
                <ion-icon slot="icon-only" name="ellipsis-vertical"></ion-icon>
              </ion-button>
            </ng-container>
          </article>
        </ion-card-header>
        <ion-card-content>
          <article fxLayout fxLayout.lt-sm="column" fxLayoutGap="12px">
            <div>
              {{ template.goalShortDescription }}
            </div>
            <img [ref]="template.goalImage" asset="goal.jpeg"/>
          </article>

          <ion-button (click)="useTemplate()" fill="outline">Use Template</ion-button>
        </ion-card-content>
      </ion-card>

      <article fxLayout fxLayoutAlign="space-between end" fxLayoutGap="8px">
        <h2>Roadmap</h2>
        <ion-button *ngIf="isAdmin | async" fill="clear" [routerLink]="['edit']">edit</ion-button>
      </article>

      Template Roadmp temporarily disabled
      <!-- <strive-roadmap 
        [structuredMilestones]="structuredMilestones"
        [isAdmin]="isAdmin | async"
        [maxDeadline]="maxDeadline$ | async" 
      >
        <ng-template milestone let-milestone let-index="index" let-maxDeadline="maxDeadline">
          <strive-milestone-status [status]="milestone.status"></strive-milestone-status>
          <article fxLayout="column">
            {{ milestone.description }}
            <ng-container *ngIf="milestone.deadline || (isAdmin | async)">
              <strive-milestone-deadline 
                [milestone]="milestone"
                [maxDeadline]="maxDeadline"
                [isAdmin]="isAdmin | async"
                (deadlineChange)="updateRoadmap($event, milestone, template)"
              ></strive-milestone-deadline>
            </ng-container>
          </article>
        </ng-template>
      </strive-roadmap> -->
    </section>
  </ng-container>
</ion-content>