img {
  object-fit: cover;
  width: 100%;
  max-width: 200px;
  height: 200px;
  border-radius: 10px;
  margin: auto;
}

section {
  max-width: 800px;
  margin: auto;
}

strive-text-editor {
  width: 100%;
}

.milestone {
  height: 100%;
}