<ion-header tranlucent>
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-button (click)="dismiss()">
        <ion-icon slot="icon-only" name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>{{ newTemplate ? 'Create Template' : 'Edit Template' }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="templateForm">

    <ng-container *ngIf="!nextPage">
      <ion-item>
        <ion-label position="stacked">Template Title</ion-label>
        <ion-input formControlName="title"
                    type="text"
                    autofocus></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="stacked">Template Description</ion-label>
      </ion-item>

      <quill-editor 
        class="text-editor"
        [formControlName]="'description'"
        [ngModelOptions]="{standalone: true}"
        [style]="editorStyle" 
        [modules]="editorConfig"
      ></quill-editor>
    </ng-container>

    <ng-container *ngIf="nextPage">
      <ion-item>
        <ion-label position="stacked">Title of goal</ion-label>
        <ion-input formControlName="goalTitle"
                   type="text"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="stacked">Short description of goal</ion-label>
        <ion-textarea formControlName="goalShortDescription"
                      type="text"
                      maxLength="256"
                      autosize></ion-textarea>
      </ion-item>

      <ion-item>
        <ion-label position="stacked">Is the goal public?</ion-label>
        <ion-select formControlName="goalIsPublic" [value]="false" interface="popover">
          <ion-select-option [value]="false">No</ion-select-option>
          <ion-select-option [value]="true">Yes</ion-select-option>
        </ion-select>
      </ion-item>

      <ion-item>
        <ion-label position="stacked">What is the end date &#40;optional&#41;</ion-label>
        <ion-datetime
          placeholder="-- -- --"
          displayFormat="DDDD MMMM YYYY"
          pickerFormat="DDDD MMMM YYYY" 
          formControlName="goalDeadline"
          (click)="openingDatetime($event)"
        ></ion-datetime>
      </ion-item>
      
      <media-image-selector [form]="templateForm.goalImage" [storagePath]="'collectiveGoals/' + collectiveGoalId + '/templates/' + templateId"></media-image-selector>

    </ng-container>
  </form>
</ion-content>

<ion-fab vertical="bottom" horizontal="start" slot="fixed" *ngIf="nextPage">
  <ion-button (click)="nextPage = false" class="white" fill="outline">Back</ion-button>
</ion-fab>

<ion-fab vertical="bottom" horizontal="end" slot="fixed">
  <ng-container *ngIf="!nextPage; else last">
    <ion-button class="white" (click)="nextPage = true" fill="outline">Next</ion-button>
  </ng-container>
  <ng-template #last>
    <ion-button (click)="save()" clear [disabled]="!templateForm.dirty">{{ newTemplate ? 'Create' : 'Update'}}</ion-button>
  </ng-template>
</ion-fab>