<ion-header tranlucent>
  <ion-toolbar>

    <ion-buttons slot="end">
      <ion-button (click)="dismiss()">
        <ion-icon slot="icon-only" name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  
    <ion-title>{{_modalTitle}}</ion-title>

  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="createTemplateForm">

    <div *ngIf="!_nextPage">
      <ion-item>
        <ion-label position="stacked">Template Title</ion-label>
        <ion-input formControlName="title"
                    type="text"
                    autofocus></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="stacked">Template Description</ion-label>
      </ion-item>

      <quill-editor 
        class="text-editor" 
        [(ngModel)]="_description"
        [ngModelOptions]="{standalone: true}"
        [style]="_editorStyle" 
        [modules]="_editorConfig"
      ></quill-editor>

    </div>
    <div *ngIf="_nextPage">

      <ion-item>
        <ion-label position="stacked">Title of goal</ion-label>
        <ion-input formControlName="goalTitle"
                    type="text"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="stacked">Short description of goal</ion-label>
        <ion-textarea formControlName="goalShortDescription"
                      type="text"
                      maxLength="256"
                      autosize></ion-textarea>
      </ion-item>

      <ion-item>
        <ion-label position="stacked">Is the goal public?</ion-label>
        <ion-select formControlName="goalIsPublic" [value]="false" interface="popover">
          <ion-select-option [value]="false">No</ion-select-option>
          <ion-select-option [value]="true">Yes</ion-select-option>
        </ion-select>
      </ion-item>

      <ion-item>
        <ion-label position="stacked">What is the end date &#40;optional&#41;</ion-label>
        <ion-datetime
          placeholder="-- -- --"
          displayFormat="DDDD MMMM YYYY"
          pickerFormat="DDDD MMMM YYYY" 
          formControlName="goalDeadline"
          (click)="_openingDatetime($event)"
        ></ion-datetime>
      </ion-item>
      
      <app-image-upload defaultImagePath="assets/Goal.jpg" [currentImage]="template?.goalImage"></app-image-upload>

    </div>
  </form>
</ion-content>

<ion-fab vertical="bottom" horizontal="start" slot="fixed" *ngIf="_nextPage">
  <ion-button (click)="nextPage()" class="white" fill="outline">Back</ion-button>
</ion-fab>

<ion-fab vertical="bottom" horizontal="end" slot="fixed">
  <ion-button *ngIf="!_nextPage" class="white" (click)="nextPage()" fill="outline">Next</ion-button>
  <ion-button *ngIf="_nextPage && _templateIsNew" (click)="handleCreatingTemplate()" clear>Create</ion-button>
  <ion-button *ngIf="_nextPage && !_templateIsNew" (click)="handleUpdatingTemplate()" clear>Update</ion-button>
</ion-fab>