<strive-header title="Dear Future Self" defaultBack="/exercise"/>

<ion-content class="ion-padding">
  <main>
    <section>
      @if ((screensize.isMobile$ | async) === false) {
        <h1>Dear Future Self</h1>
      }
      <small class="explanation">
        Write a message to yourself and receive it (far) in the future. You'll be amazed with how much came true.
        <a href="https://blog.strivejournal.com/blog/dear-future-self" target="_blank">Learn more...</a>
      </small>
    </section>

    @if (isLoggedIn()) {
      <ion-card class="ion-padding">
        @if (state !== 'sent') {
          <section>
            <h5>Your message</h5>
            <ion-item>
              <ion-textarea [formControl]="description" autoGrow autocapitalize="sentences"/>
            </ion-item>
          </section>
          @if (mode === 'duration') {
            <section>
              <h5>Deliver in</h5>
              <article>
                <ion-button [fill]="duration === 2 ? 'solid' : 'outline'" size="small" color="primary" (click)="duration = 2">2 Years</ion-button>
                <ion-button [fill]="duration === 5 ? 'solid' : 'outline'" size="small" color="primary" (click)="duration = 5">5 Years</ion-button>
                <ion-button [fill]="duration === 10 ? 'solid' : 'outline'" size="small" color="primary" (click)="duration = 10">10 Years</ion-button>
                <ion-button fill="clear" size="small" (click)="mode = 'date'">Choose date</ion-button>
              </article>
            </section>
          }
          @if (mode === 'date') {
            <section>
              <h5>Deliver on</h5>
              <ion-datetime presentation="date" [formControl]="date" [min]="min" [max]="max"></ion-datetime>
              <ion-button fill="clear" size="small" (click)="mode = 'duration'">Choose duration</ion-button>
            </section>
          }
          <ion-button expand="block" color="primary" (click)="send()">Send Message</ion-button>
        } @else {
          <section class="sent">
            <h5>Message sent <ion-icon name="checkmark-outline"/></h5>
            <ion-button fill="outline" color="primary" (click)="another()">Write another</ion-button>
          </section>
        }
        <ng-template #sent>
          <section class="sent">
            <h5>Message sent <ion-icon name="checkmark-outline"/></h5>
            <ion-button fill="outline" color="primary" (click)="another()">Write another</ion-button>
          </section>
        </ng-template>
      </ion-card>
      @if (pendingMessages$ | async; as pendingMessages) {
        @if (pendingMessages.length) {
          <ion-list class="pending-list">
            <h5>Pending Messages</h5>
            @for (message of pendingMessages; track message; let last = $last) {
              <ion-item [lines]="last ? 'none' : 'full'">
                <ion-icon name="mail-outline"/>
                <article>
                  <span>Delivered in {{ message.deliveryDate | timeToGo }}</span>
                  <small>Sent {{ message.createdAt | timeAgo }}</small>
                </article>
              </ion-item>
            }
          </ion-list>
        }
      }
      @if (deliveredMessages$ | async; as deliveredMessages) {
        @if (deliveredMessages.length) {
          <ion-list>
            <h5>Delivered Messages</h5>
            @for (message of deliveredMessages; track message; let last = $last) {
              <ion-item button (click)="openMessage(message)" [lines]="last ? 'none' : 'full'">
                <ion-icon name="mail-open-outline"/>
                <article>
                  <span>Delivered on {{ message.deliveryDate | date }}</span>
                  <small>Sent on {{ message.createdAt | date }}</small>
                </article>
              </ion-item>
            }
          </ion-list>
        }
      }
    } @else {
      <section class="not-logged-in">
        <p>
          <span class="fat-text-button" role="button" tabindex="0" (click)="openAuthModal()" (keyup.enter)="openAuthModal()">Log in</span>to write a message to your future self
        </p>
      </section>
    }


  </main>
</ion-content>