<strive-header title="Dear Future Self" defaultBack="/exercise" color="primary"></strive-header>

<ion-content class="ion-padding">
  <main>
    <section>
      <h1 *ngIf="(screensize.isMobile$ | async) === false">Dear Future Self</h1>
      <small class="explanation">
        Write a message to yourself and receive it (far) in the future. You'll be amazed with how much came true.
        <a href="https://blog.strivejournal.com/blog/dear-future-self" target="_blank">Learn more...</a>
      </small>
    </section>

    <ng-container *ngIf="isLoggedIn$ | async else login">
      <ion-card class="ion-padding" mode="md">
        <ng-container *ngIf="state !== 'sent'; else sent">

          <section>
            <h5>Your message</h5>
            <ion-item>
              <ion-textarea [formControl]="description" autoGrow autocapitalize="sentences"></ion-textarea>
            </ion-item>
          </section>
      
          <section *ngIf="mode === 'duration'">
            <h5>Deliver in</h5>
            <article>
              <ion-button [fill]="duration === 2 ? 'solid' : 'outline'" size="small" color="primary" (click)="duration = 2">2 Years</ion-button>
              <ion-button [fill]="duration === 5 ? 'solid' : 'outline'" size="small" color="primary" (click)="duration = 5">5 Years</ion-button>
              <ion-button [fill]="duration === 10 ? 'solid' : 'outline'" size="small" color="primary" (click)="duration = 10">10 Years</ion-button>
              <ion-button fill="clear" size="small" (click)="mode = 'date'">Choose date</ion-button>
            </article>
          </section>
      
          <section *ngIf="mode === 'date'">
            <h5>Deliver on</h5>
            <ion-datetime presentation="date" [formControl]="date" [min]="min" [max]="max"></ion-datetime>
            <ion-button fill="clear" size="small" (click)="mode = 'duration'">Choose duration</ion-button>
          </section>
    
          <ion-button expand="block" color="primary" (click)="send()">Send Message</ion-button>

        </ng-container>

        <ng-template #sent>
          <section class="sent">
            <h5>Message sent <ion-icon name="checkmark-outline"></ion-icon></h5>
            
            <ion-button fill="outline" color="primary" (click)="another()">Write another</ion-button>
          </section>
        </ng-template>
        
      </ion-card>
  
      <ng-container *ngIf="pendingMessages$ | async as pendingMessages">
        <ng-container *ngIf="pendingMessages.length">
          <ion-list class="pending-list" mode="md">
            <h5>Pending Messages</h5>
            <ng-container *ngFor="let message of pendingMessages">
              <ion-item>
                <ion-icon name="mail-outline"></ion-icon>
                <article>
                  <span>Delivered in {{ message.deliveryDate | timeToGo }}</span>
                  <small>Sent {{ message.createdAt | timeAgo }}</small>
                </article>
              </ion-item>
            </ng-container>
          </ion-list>
        </ng-container>
      </ng-container>
  
      <ng-container *ngIf="deliveredMessages$ | async as deliveredMessages">
        <ng-container *ngIf="deliveredMessages.length">
          <ion-list mode="md">
            <h5>Delivered Messages</h5>
            <ng-container *ngFor="let message of deliveredMessages">
              <ion-item button (click)="openMessage(message)">
                <ion-icon name="mail-open-outline"></ion-icon>
                <article>
                  <span>Delivered on {{ message.deliveryDate | date }}</span>
                  <small>Sent on {{ message.createdAt | date }}</small>
                </article>
              </ion-item>
            </ng-container>
          </ion-list>
        </ng-container>
      </ng-container>
    </ng-container>

    <ng-template #login>
      <section class="not-logged-in">
        <p>
            <span class="fat-text-button" (click)="openAuthModal()">Log in</span>to write a message to your future self
        </p>
      </section>
    </ng-template>

  </main>
</ion-content>