<ion-app>

  <!-- Side menu -->
  <section class="sidemenu">
    <ion-menu side="end" contentId="main">
      <ion-content>
        <article #header>
          <ng-container *ngIf="user.profile$ | async as profile">
            <ion-row class="ion-justify-content-center">
              <img id="profile-image"
                [src]="profile.photoURL || 'assets/img/avatar/blank-profile-picture_256_thumb.png'"
                routerDirection="root"
                [routerLink]="'/profile/' + user.uid" />  
            </ion-row>
            <ion-row class="ion-justify-content-center">
              <h3>{{ profile.username }}</h3>
            </ion-row>
          </ng-container>
        </article>
        <ion-list>
          <ion-menu-toggle auto-hide="false">
            <!-- Explore -->
            <ion-item routerDirection="root" routerLink="/explore">
              <ion-icon slot="start" name="globe"></ion-icon>
              <ion-label>Explore</ion-label>
            </ion-item>

            <ng-container *ngIf="user.profile$ | async as profile; else notLoggedInSide">

              <!-- Notifications -->
              <ion-item routerDirection="root" routerLink="/notifications">
                <ion-icon slot="start" name="notifications"></ion-icon>
                <ion-label>Notifications
                  <ng-container *ngIf="!!profile.numberOfUnreadNotifications">
                    <span>({{ profile.numberOfUnreadNotifications }})</span>                  
                  </ng-container>
                </ion-label>
              </ion-item>
              <!-- Goals -->
              <ion-item routerDirection="root" routerLink="/goals">
                <ion-icon slot="start" name="flag"></ion-icon>
                <ion-label>Goals</ion-label>
              </ion-item>
              <!-- Supports -->
              <ion-item routerDirection="root" routerLink="/supports">
                <fa-icon [icon]="['fas', 'hand-holding-heart']" slot="start"></fa-icon>
                <ion-label>Supports</ion-label>
              </ion-item>
              <!-- Profile -->
              <ion-item routerDirection="root" [routerLink]="'/profile/' + user.uid">
                <ion-icon slot="start" name="person"></ion-icon>
                <ion-label>Profile</ion-label>
              </ion-item>
            </ng-container>

            <ng-template #notLoggedInSide>
              <!-- Log in -->
              <ion-item button (click)="openAuthModal(enumAuthSegment.login)">
                <ion-icon slot="start" name="key"></ion-icon>
                <ion-label>Log in</ion-label>
              </ion-item>
              <!-- Sign up -->
              <ion-item button (click)="openAuthModal(enumAuthSegment.register)">
                <ion-icon slot="start" name="key"></ion-icon>
                <ion-label>Sign up</ion-label>
              </ion-item>
            </ng-template>

          </ion-menu-toggle>
        </ion-list>
      </ion-content>
    </ion-menu>
  </section>

  <!-- Mobile -->
  <ng-container *ngIf="_platform.is('android') && !_platform.is('ios'); else desktop">
    <ion-nav id="main" [root]="rootPage"></ion-nav>
  </ng-container>

  <ng-template #desktop>
    <!-- Main navbar -->
    <ion-header>
      <ion-toolbar>
        <ion-row>

          <ng-container *ngIf="(screensize.isDesktop$ | async); else noDesktopMain">
            <ion-col size="1" class="ion-no-padding">
              <a routerLink="/explore">
                <img src="./assets/512x512.png" class="logo">
              </a>
            </ion-col>
            <ion-col size="3" class="ion-no-padding searchbar-container">
              <ion-searchbar
                (ionChange)="search($event)"
                placeholder='Try "Eat Healthy"'
                (keydown.enter)="goToSearchResults($event)">
              </ion-searchbar>
            </ion-col>
            <ion-col size="8" class="ion-no-padding">
              <section class="navbar ion-align-self-end buttons-container">

                <ng-container *ngIf="user.profile$ | async as profile; else notLoggedInMain">
                  <ion-button fill="clear" routerLink="/goals" routerDirection="root" routerLinkActive="active-link"
                    class="link">
                    Goals
                  </ion-button>
                  <ion-button fill="clear" routerLink="/supports" routerDirection="root" routerLinkActive="active-link"
                    class="link">
                    Supports
                  </ion-button>
                  <ion-button fill="clear" routerLink="/notifications" routerDirection="root" routerLinkActive="active-link"
                    class="link">
                    Notifications

                    <ng-container *ngIf="!!profile.numberOfUnreadNotifications">
                      <ion-badge>{{ profile.numberOfUnreadNotifications }}</ion-badge>
                    </ng-container> 

                  </ion-button>
                  <ion-avatar (click)="openProfilePopover($event)">
                    <img id="profile-image"
                      [src]="profile.photoURL || 'assets/img/avatar/blank-profile-picture_256_thumb.png'" />
                  </ion-avatar>
                </ng-container>

                <ng-template #notLoggedInMain>
                  <ion-button fill="clear" (click)="openAuthModal(enumAuthSegment.login)" class="link">
                    Log In
                  </ion-button>
                  <ion-button fill="clear" (click)="openAuthModal(enumAuthSegment.register)" class="link">
                    Sign Up
                  </ion-button>
                </ng-template>
  
              </section>
            </ion-col>
          </ng-container>
        </ion-row>
  
        <ng-template #noDesktopMain>
          <ion-col size="2" class="ion-no-padding">
            <a routerLink="/explore">
              <img src="./assets/512x512.png" class="logo ion-text-left">
            </a>
          </ion-col>
          <ion-col size="9" class="ion-no-padding searchbar-container">
            <ion-searchbar
              (ionChange)="search($event)"
              placeholder='Try "Eat Healthy"'
              (keydown.enter)="goToSearchResults($event)">
            </ion-searchbar>
          </ion-col>
          <ion-col size="1" class="ion-no-padding">
            <ion-menu-button></ion-menu-button>
          </ion-col>
        </ng-template>
  
      </ion-toolbar>
    </ion-header>

    <ion-router-outlet class="main-content-wrapper" id="main"></ion-router-outlet>
  </ng-template>
</ion-app>