.sidemenu {
  img {
    border-radius: 50%;
    object-fit: cover;
    height: 140px;
    width: 140px;
    margin-top: 16px;
  }

  ion-icon {
    color: black;
    font-size: 1.4rem;
    padding: 4px;
    margin: 4px;
  }
  
  fa-icon {
    color: black;
    font-size: 1.2rem;
    padding: 4px;
    margin: 4px;
  }
}


ion-router-outlet {
  margin-top: 65px;
}

.logo {
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;  min-height: 40px;
  max-height: 40px;
  margin: 12px;
  cursor: pointer;
}

.navbar {
  display: flex;
  justify-content: flex-end;
  padding-top: 4px;
  height: 100%;

  ion-button {
    margin-top: auto;
    margin-bottom: auto;
  }

  .buttons-container {
    display: flex;
    align-items: center;
  }
}

.searchbar-container {
  display: flex;
  align-items: center;
  padding-left: 8px;

  ion-searchbar {
    padding: 0;
  }
}

ion-avatar {
  min-height: 40px;
  min-width: 40px;
  cursor: pointer;
  img {
    border-radius: 50%;
    object-fit: cover;
    margin-top: 11px;
    height: 40px;
    width: 40px;
  }
}
