.sidemenu {
  img {
    border-radius: 50%;
    object-fit: cover;
    height: 160px;
    width: 160px;
    margin-top: 15px;
  }
}

ion-icon {
  color: black;
}

ion-router-outlet {
  margin-top: 65px;
}

.logo {
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;  min-height: 40px;
  max-height: 40px;
  margin: 12px;
  cursor: pointer;
}

.navbar {
  display: flex;
  justify-content: flex-end;
  padding-top: 4px;
  height: 100%;

  ion-button {
    margin-top: auto;
    margin-bottom: auto;
  }

  .buttons-container {
    display: flex;
    align-items: center;
  }
}

.searchbar-container {
  display: flex;
}

ion-avatar {
  min-height: 40px;
  min-width: 40px;
  cursor: pointer;
  #profile-image {
    border-radius: 50%;
    object-fit: cover;
    margin-top: 11px;
    height: 40px;
    width: 40px;
  }
}
