<ion-app>

  @if ((screensize.size$ | async) === 'mobile') {
    <ion-nav [root]="rootPage" />
  } @else {
    <ion-header class="ion-no-border">
      <ion-toolbar>
        <header>
          <a routerLink="/">
            <img asset="strivejournal-without-margin.png" class="logo" alt="strive journal logo" />
          </a>
          <section>
            @if (profile$ | async; as user) {
              <ion-button fill="clear" routerLink="/goals" routerDirection="root" routerLinkActive="active-link">
                Goals
              </ion-button>
              <ion-button fill="clear" routerLink="/exercise" routerDrouterDirection="root" routerLinkActive="active-link">
                Exercises
              </ion-button>
              <ion-button [ngClass]="{'badge': hasSupportNeedingDecision$ | async}" fill="clear" routerLink="/supports" routerDirection="root" routerLinkActive="active-link">
                Supports
              </ion-button>
              <ion-button fill="clear" routerLink="/explore" routerDirection="root" routerLinkActive="active-link">
                <ion-icon name="search" size="small" slot="icon-only"></ion-icon>
              </ion-button>
              <ion-button fill="clear" routerLink="/notifications" routerDirection="root" routerLinkActive="active-link" class="notification-icon" [ngClass]="{'badge': unreadNotifications$ | async}">
                <ion-icon name="notifications-outline" size="small" slot="icon-only"></ion-icon>
              </ion-button>
              <ion-avatar (click)="openPopover($event)">
                <img [ref]="user.photoURL" asset="profile.png" [width]="120" [height]="120" alt="profile image"/>
              </ion-avatar>
            } @else {
              <ion-button fill="clear" (click)="openAuthModal(enumAuthSegment.login)">
                Log in
              </ion-button>
              <ion-button fill="clear" (click)="openAuthModal(enumAuthSegment.register)">
                Sign up
              </ion-button>
              <ion-button fill="clear" routerLink="/explore" routerDirection="root" routerLinkActive="active-link">
                <ion-icon name="search" slot="icon-only"></ion-icon>
              </ion-button>
            }
          </section>
        </header>
      </ion-toolbar>
    </ion-header>
    <ion-router-outlet id="main" />
  }

  <router-outlet></router-outlet>

</ion-app>
