<ion-content [scrollEvents]="true" (ionScroll)="logScrolling($event)">
	<ul>
		<ion-infinite-scroll position="top" threshold="100px" (ionInfinite)="more($event)" [disabled]="done$ | async">
			<ion-infinite-scroll-content
				loadingSpinner="bubbles"
				loadingText="Loading more data...">
			</ion-infinite-scroll-content>
		</ion-infinite-scroll>
      
		<li *ngFor="let comment of comments$ | async">
			<img [ref]="comment.source.user.photoURL" asset="profile.png" [width]="40" [height]="40"/>
			<article>
				<small><b>{{ comment.source.user.username }}</b></small>
				<small class="date">{{ comment.createdAt | timeAgo }}</small>
				<div>{{ comment.text }}</div>
			</article>
		</li>
	</ul>
</ion-content>

<ion-footer>
	<ion-item>
		<ion-textarea type="text" placeholder="Reply..." [formControl]="form" (keydown.enter)="addReply($event)" autoGrow></ion-textarea>
		<ion-icon name="send" (click)="addReply()"></ion-icon>
	</ion-item>
</ion-footer>