<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Users</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  @if (users$ | async; as users) {
    <table>
      <tr>
        <th>uid</th>
        <th>username</th>
        <th>created at</th>
      </tr>
      @for (user of users; track user) {
        <tr [routerLink]="['/a/users/', user.uid]">
          <td>{{ user.uid }}</td>
          <td>{{ user.username }}</td>
          <td>{{ user.createdAt | date:'fullDate' }}</td>
        </tr>
      }
    </table>
  } @else {
    <strive-page-loading></strive-page-loading>
  }

</ion-content>
