<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Users</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ng-container *ngIf="users$ | async as users; else loading">
    <table>
      <tr>
        <th>uid</th>
        <th>username</th>
        <th>created at</th>
      </tr>
      <tr *ngFor="let user of users" [routerLink]="['/a/users/', user.uid]">
        <td>{{ user.uid }}</td>
        <td>{{ user.username }}</td>
        <td>{{ user.createdAt.toDate() | date:'fullDate' }}</td>
      </tr>
    </table>
  </ng-container>

  <ng-template #loading>
    <strive-page-loading></strive-page-loading>
  </ng-template>
</ion-content>
