main {
  padding-block: 46px;
}

.main {
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: center;
  text-align: center;

  img.theo {
    height: 100px;
    width: 100px;
  }

  img.download {
    height: 50px;
  }

  hr {
    margin-top: 46px;
    margin-bottom: 46px;
  }

  article {
    display: flex;
    flex-direction: row;
    gap: 16px;
    justify-content: center;
    flex-wrap: wrap;
  }
}