<strive-header title="Download"></strive-header>

<ion-content>
  <main>

    <section class="main">
      <img class="main-image" asset="download.png" alt="Download Strive Journal"/>

      @if (showInstallPromotion$ | async) {
        <h1>Install Strive Journal</h1>
        <ion-button color="primary" (click)="install()">
          <b>INSTALL</b>
        </ion-button>
        <hr/>
      }


      <h5>Journal on your phone or tablet</h5>
      <article>
        <a href="https://play.google.com/store/apps/details?id=com.strive.journal" target="_blank">
          <img class="download" asset="google_play.png" alt="Get it on Google Play"/>
        </a>

        <a href="https://apps.apple.com/nl/app/strive-journal/id6444203026" target="_blank">
          <img class="download" asset="app_store.png" alt="Download on the App Store"/>
        </a>
      </article>

    </section>
  </main>
</ion-content>