<ion-list mode="md">
  <h5>Show goals where I am</h5>
  <ion-item>
    <ion-checkbox [formControl]="form.isAchiever" slot="start" color="primary"></ion-checkbox>
    <ion-label>Achiever</ion-label>
  </ion-item>
  <ion-item>
    <ion-checkbox [formControl]="form.isSupporter" slot="start" color="primary"></ion-checkbox>
    <ion-label>Supporter</ion-label>
  </ion-item>
  <ion-item lines="none">
    <ion-checkbox [formControl]="form.isAdmin" slot="start" color="primary"></ion-checkbox>
    <ion-label>Admin</ion-label>
  </ion-item>
</ion-list>