<strive-header title="Goals" *ngIf="platform.is('android') || platform.is('ios')"></strive-header>

<ion-content class="ion-no-padding">
  <ng-container *ngIf="!!user.uid else notLoggedIn">

    <!-- Goals -->
    <h3>Your Goals</h3>

    <thumbnail-list type="goal" [canCreate]="true">
      <ng-container *ngFor="let goal of goals$ | async">
        <ng-template #thumb>
          <rectangle-thumbnail type="goal" [image]="goal.image" [isFinished]="goal.isFinished" [routerLink]="'/goal/' + goal.id">
            <ng-template #thumbTitle>
              <h5>{{ goal.title }}</h5>
              <p>{{ goal.numberOfSupporters }} Supporter{goal.numberOfSupporters, plural, =1 {} other {s}}</p>
              <p>{{ goal.numberOfAchievers }} Achiever{goal.numberOfAchievers, plural, =1 {} other {s}}</p>
            </ng-template>
          </rectangle-thumbnail>
        </ng-template>
      </ng-container>
    </thumbnail-list>

    <!-- Collective goals -->
    <h3>Your Collective Goals</h3>

    <thumbnail-list type="collectiveGoal" [canCreate]="true">
      <ng-container *ngFor="let collectiveGoal of collectiveGoals$ | async">
        <ng-template #thumb>
          <rectangle-thumbnail type="collectiveGoal" [image]="collectiveGoal.image" [routerLink]="['/collective-goal', collectiveGoal.id]">
            <ng-template #thumbTitle>
              <h5>{{ collectiveGoal.title }}</h5>
              <p>{{ collectiveGoal.numberOfAchievers }} Achiever{collectiveGoal.numberOfAchievers, plural, =1 {} other {s}}</p>
            </ng-template>
          </rectangle-thumbnail>
        </ng-template>
      </ng-container>
    </thumbnail-list>

  </ng-container>
</ion-content>

<ng-template #notLoggedIn>
  <section class="not-logged-in">
    <p>
        <span class="fat-text-button" (click)="openAuthModal()">Log in</span>to view your goals
    </p>
  </section>
</ng-template>