h4 {
  color: var(--ion-color-primary);
}

main {
  display: flex;
  flex-direction: column;
  max-width: 700px;
  margin: auto;

  goal-mini-thumbnail-swiper {
    margin-bottom: 16px;
  }

  .cards-header {
    width: fit-content;
  }

  .cards {
    display: flex;
    flex-direction: column;
    gap: 16px;

    small {
      display: flex;
      gap: 4px;
      align-items: center;
    }
  }

}
