ion-slide {
  float: left;
  width: 165px !important;
  margin-left: 5px !important;
  margin-right: 5px !important;
}

h3 {
  color: var(--ion-color-primary);
  padding-left: 16px;
}

.container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
