<app-header title="Goals" *ngIf="_platform.is('android') || _platform.is('ios')"></app-header>

<div class="not-logged-in" *ngIf="!user.isLoggedIn$ | async">
    <p>
        <span class="fat-text-button" (click)="openAuthModal()">Log in</span>to view your goals
    </p>
</div>

<ion-content *ngIf="user.isLoggedIn$ | async" class="ion-no-padding">

    <!-- Goals -->
    <h3>Your Goals</h3>

    <thumbnail-list
      [thumbnails]="goalsColObs | async | toThumbnailList:'goal'"
      type="goal"
      [canCreate]="true"
    >
      <!-- <ng-template let-goal #details>
        {{ goal.numberOfSupporters }} Supporter{goal.numberOfSupporters, plural, =1 {} other {s}}
        <br/>
        {{ goal.numberOfAchievers }} Achiever{goal.numberOfAchievers, plural, =1 {} other {s}}
      </ng-template> -->
    </thumbnail-list>

    <!-- Collective goals -->
    <h3>Your Collective Goals</h3>

    <thumbnail-list
      [thumbnails]="collectiveGoalsColObs | async | toThumbnailList:'collectiveGoal'"
      type="collectiveGoal"
      [canCreate]="true"
    >
      <!-- <ng-template let-collectiveGoal #details>
        {{ collectiveGoal.numberOfAchievers }} Achiever{goal.numberOfAchievers, plural, =1 {} other {s}}
      </ng-template> -->
    </thumbnail-list>

</ion-content>