<strive-header-root [title]="(uid$ | async) ? 'Goals' : ''"></strive-header-root>

<ng-container *ngIf="(uid$ | async) !== undefined">
  <ng-container *ngIf="uid$ | async else notLoggedIn">
    <ion-content class="ion-padding">

      <ion-refresher slot="fixed" (ionRefresh)="refresh($event)">
        <ion-refresher-content></ion-refresher-content>
      </ion-refresher>

      <main>
        <ng-container *ngIf="achieving$ | async as stakeholders; else loadingSpectating">
          <ng-container *ngIf="stakeholders.length">
            <goal-mini-thumbnail-swiper
              [stakeholders]="stakeholders"
              (clicked)="openFollowedGoal($event)">
            </goal-mini-thumbnail-swiper>
          </ng-container>
        </ng-container>

        <ng-container *ngIf="stakeholders$ | async as stakeholders; else loading">
          <ng-container *ngIf="stakeholders.length else noGoals">

            <ion-button expand="block" fill="clear" (click)="createGoal()">
              <ion-icon name="add" slot="start"></ion-icon>
              <span>CREATE GOAL</span>
            </ion-button>

            <section class="cards">
              <ng-container *ngFor="let stakeholder of stakeholders; trackBy: trackByFn">
                <goal-thumbnail [goal]="stakeholder.goal" [stakeholder]="stakeholder" [events]="stakeholder.events" [routerLink]="['/goal/', stakeholder.goal.id]">
                  <div>
                    <small *ngIf="stakeholder.focus.on">⚡Current Focus</small>
                    <small *ngIf="stakeholder.goal.publicity === 'private'">
                      <ion-icon name="lock-closed-outline"></ion-icon>
                      <span>Private</span>
                    </small>
                  </div>
                </goal-thumbnail>
              </ng-container>
            </section>

          </ng-container>

          <ng-template #noGoals>
            <section class="no_goals">
              <ion-button class="primary" (click)="createGoal()">
                <ion-icon name="add" slot="start"></ion-icon>
                <span>CREATE GOAL</span>
              </ion-button>
              <span class="subtitle">No goals yet. Create your first.</span>  
            </section>

            <ion-card class="wheel_of_life">
              <ion-card-content>
                <p>Fill in the Wheel of Life to find out what are of life you should focus on</p>
                
                <a routerLink="/exercise/wheel-of-life">
                  <ion-item button lines="none">
                    <ion-thumbnail slot="start">
                      <img asset="wheel_of_life.jpg"/>
                    </ion-thumbnail>
                    <ion-label>
                        <span>Wheel of Life</span>
                    </ion-label>
                    <ion-icon name="arrow-forward-outline" slot="end"></ion-icon>
                  </ion-item>
                </a>
              </ion-card-content>
            </ion-card>

          </ng-template>
        </ng-container>

      </main>
    </ion-content>
  </ng-container>
</ng-container>

<ng-template #notLoggedIn>
  <journal-home></journal-home>
</ng-template>

<ng-template #loadingGoals>
  <ion-button expand="block" fill="clear" (click)="createGoal()">
    <ion-icon name="add" slot="start"></ion-icon>
    <span>CREATE GOAL</span>
  </ion-button>
</ng-template>

<ng-template #loadingSpectating>
  <section class="skeleton-spectating">
    <ng-container *ngFor="let i of [].constructor(5)">
      <article>
        <ion-thumbnail>
          <ion-skeleton-text [animated]="true"></ion-skeleton-text>
        </ion-thumbnail>
        <ion-skeleton-text [animated]="true"></ion-skeleton-text>
      </article>
    </ng-container>
  </section>
</ng-template>