<ion-header>
  <ion-toolbar>
    <ion-title>Log in</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <section>
    <form [formGroup]="loginForm" (ngSubmit)="loginUser()">
      <ion-item>
        <ion-input
          formControlName="email"
          type="email"
          label="Email"
          labelPlacement="floating"
          class="primary"
        />
      </ion-item>

      <ion-item>
        <ion-input
          formControlName="password"
          [type]="passwordType"
          (keydown.enter)="loginUser()"
          label="Password"
          labelPlacement="floating"
          class="primary"
        />
        <ion-icon slot="end" [name]="passwordIcon" class="passwordIcon" (click)='hideShowPassword()'></ion-icon>
      </ion-item>

      <ion-button class="submit_button" type="submit" [disabled]="!loginForm.valid">Log in</ion-button>
    </form>

    <ion-button fill="outline" (click)="loginWithGoogle()">
      <ion-icon name="logo-google" slot="start"></ion-icon>
      <span>Continue with Google</span>
    </ion-button>
  </section>

</ion-content>