<strive-header title="Push Notifications" color="" defaultHref="/profile">
  <ion-buttons slot="end">
    <ion-button fill="clear">
      <ion-toggle slot="end" [formControl]="form.main" />
    </ion-button>
  </ion-buttons>
</strive-header>

<ion-content [ngClass]="(isMobile$ | async) ? 'ion-no-padding' : 'ion-padding'">
  <form [formGroup]="form">
    <header *ngIf="(isMobile$ | async) === false">
      <h1>Push Notifications</h1>
      <ion-toggle slot="end" formControlName="main" />
    </header>

    <ion-list mode="md" lines="full">
      <ion-list-header>People you follow</ion-list-header>
      <ion-item lines="none">
        <ion-label>
          <article>
            <span>General</span>
            <small>New goals, finished goals</small>
          </article>
        </ion-label>
        <ion-checkbox formControlName="userSpectatingGeneral" />
      </ion-item>

      <ion-list-header>Goals</ion-list-header>
      <ion-item>
        <ion-label>
          <article>
            <span>General</span>
            <small>Status changes</small>
          </article>
        </ion-label>
        <ion-checkbox formControlName="goalGeneral" />
      </ion-item>
      <ion-item>
        <ion-label>
          <article>
            <span>Team</span>
            <small>Team changes, Requests to join goal</small>
          </article>
        </ion-label>
        <ion-checkbox formControlName="goalTeam" />
      </ion-item>
      <ion-item>
        <ion-label>
          <article>
            <span>Chat</span>
            <small>New messages</small>
          </article>
        </ion-label>
        <ion-checkbox formControlName="goalChat" />
      </ion-item>
      <ion-item>
        <ion-label>
          <article>
            <span>Roadmap</span>
            <small>Milestones status changes, due date warnings</small>
          </article>
        </ion-label>
        <ion-checkbox formControlName="goalRoadmap" />
      </ion-item>
      <ion-item>
        <ion-label>
          <article>
            <span>Story</span>
            <small>New posts</small>
          </article>
        </ion-label>
        <ion-checkbox formControlName="goalStory" />
      </ion-item>

      <ion-list-header>Supports</ion-list-header>
      <ion-item lines="none">
        <ion-label>
          <article>
            <span>General</span>
            <small>Status changes, counter supports</small>
          </article>
        </ion-label>
        <ion-checkbox formControlName="supports" />
      </ion-item>
    </ion-list>

    <section>
      <ng-container *ngIf="fcmRegistered$ | async">
        <ion-button class="secondary" (click)="unregisterFCM()">Unregister this device</ion-button>
      </ng-container>
    </section>
  </form>

</ion-content>
