<strive-header title="Push Notifications" defaultHref="/profile">
  <ion-buttons slot="end">
    <ion-button fill="clear">
      <ion-toggle slot="end" [formControl]="mainForm" />
    </ion-button>
  </ion-buttons>
</strive-header>

<ion-content [ngClass]="(isMobile$ | async) ? 'ion-no-padding' : 'ion-padding'">
  <form [formGroup]="form">
    @if ((isMobile$ | async) === false) {
      <header>
        <h1>Push Notifications</h1>
        <ion-toggle slot="end" formControlName="main" />
      </header>
    }

    <ion-list lines="full">
      <ion-list-header>People you follow</ion-list-header>
      <ion-item lines="none">
        <ion-label>
          <article>
            <span>General</span>
            <small>New goals, finished goals</small>
          </article>
        </ion-label>
        <ion-checkbox formControlName="userSpectatingGeneral" />
      </ion-item>

      <ion-list-header>Goals</ion-list-header>
      <ion-item>
        <ion-label>
          <article>
            <span>General</span>
            <small>Status changes</small>
          </article>
        </ion-label>
        <ion-checkbox formControlName="goalGeneral" />
      </ion-item>
      <ion-item>
        <ion-label>
          <article>
            <span>Team</span>
            <small>Team changes, Requests to join goal</small>
          </article>
        </ion-label>
        <ion-checkbox formControlName="goalTeam" />
      </ion-item>
      <ion-item>
        <ion-label>
          <article>
            <span>Chat</span>
            <small>New messages</small>
          </article>
        </ion-label>
        <ion-checkbox formControlName="goalChat" />
      </ion-item>
      <ion-item>
        <ion-label>
          <article>
            <span>Roadmap</span>
            <small>Milestones status changes, due date warnings</small>
          </article>
        </ion-label>
        <ion-checkbox formControlName="goalRoadmap" />
      </ion-item>
      <ion-item>
        <ion-label>
          <article>
            <span>Story</span>
            <small>New posts</small>
          </article>
        </ion-label>
        <ion-checkbox formControlName="goalStory" />
      </ion-item>

      <ion-list-header>Supports</ion-list-header>
      <ion-item lines="none">
        <ion-label>
          <article>
            <span>General</span>
            <small>Status changes, counter supports</small>
          </article>
        </ion-label>
        <ion-checkbox formControlName="supports" />
      </ion-item>

      <ion-list-header>Exercises</ion-list-header>
      <ion-item>
        <ion-label>
          <article>
            <span>Affirmations</span>
            <small>Daily affirmation</small>
          </article>
        </ion-label>
        <ion-checkbox formControlName="exerciseAffirmations" />
      </ion-item>
      <ion-item>
        <ion-label>
          <article>
            <span>Daily Gratitude</span>
            <small>Reminder to write down three things</small>
          </article>
        </ion-label>
        <ion-checkbox formControlName="exerciseDailyGratitude" />
      </ion-item>
      <ion-item>
        <ion-label>
          <article>
            <span>Dear Future Self</span>
            <small>Receive message from the past</small>
          </article>
        </ion-label>
        <ion-checkbox formControlName="exerciseDearFutureSelf" />
      </ion-item>
      <ion-item>
        <ion-label>
          <article>
            <span>Self Reflect</span>
            <small>New entry possible to self reflect</small>
          </article>
        </ion-label>
        <ion-checkbox formControlName="exerciseSelfReflect" />
      </ion-item>
      <ion-item lines="none">
        <ion-label>
          <article>
            <span>Wheel of Life</span>
            <small>Reminder to fill in wheel of life</small>
          </article>
        </ion-label>
        <ion-checkbox formControlName="exerciseWheelOfLife" />
      </ion-item>
    </ion-list>

    <section>
      @if (fcmRegistered$ | async) {
        <ion-button class="secondary" (click)="unregisterFCM()">Unregister this device</ion-button>
      }
    </section>
  </form>

</ion-content>
