<strive-header title="Edit Profile"></strive-header>

<ng-container *ngIf="isLoggedIn$ | async else login">
  <ion-content class="ion-no-padding">
    <main>
      <ion-card>
        <ion-card-content>
          <ion-item>
            <ion-label position="floating">Username</ion-label>
            <ion-input
              type="text"
              maxlength="16"
              autocapitalize="sentences"
              [formControl]="form.username"
              (keydown.enter)="update()">
            </ion-input>
          </ion-item>
    
          <media-image-selector [form]="form.photoURL" [storagePath]="'profiles/' + uid"></media-image-selector>
        
          <ion-button color="primary" (click)="update()">Save</ion-button>
        </ion-card-content>
      </ion-card>

      <hr/>

      <ion-button color="danger" fill="outline" (click)="deleteAccount()">
        <span>Delete Account</span>
      </ion-button>
    </main>
  </ion-content>
</ng-container>

<ng-template #login>
  <section class="not-logged-in">
    <p>
        <span class="fat-text-button" (click)="openAuthModal()">Log in</span>to edit your profile
    </p>
  </section>
</ng-template>