<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Motivation</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card>
    <form [formGroup]="form" (ngSubmit)="update()">
      <ion-item>
        <ion-label position="floating">Quote</ion-label>
        <ion-input formControlName="quote"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">From</ion-label>
        <ion-input formControlName="from"></ion-input>
      </ion-item>

      <ion-button type="submit" [disabled]="form.invalid">add</ion-button>
    </form>
  </ion-card>

  <ng-container *ngIf="motivations$ | async as motivations; else loading">
    total: {{ motivations?.['quotes']?.length }} - unused: {{ getUnused(motivations['quotes']) }}
    <ng-container *ngFor="let motivation of motivations?.['quotes']; let index = index">
      <ion-card>
        <ion-card-content [ngStyle]="{'color': motivation.used ? 'inherit' : 'white'}">
          <span><i>"{{ motivation.quote }}"</i> - <b>{{ motivation.from }}</b></span>
          <ion-button fill="clear" (click)="remove(index)" *ngIf="!motivation.used">
            <ion-icon slot="icon-only" name="close-outline"></ion-icon>
          </ion-button>
        </ion-card-content>
      </ion-card>
    </ng-container>
  </ng-container>

  <ng-template #loading>
    <strive-page-loading></strive-page-loading>
  </ng-template>
</ion-content>
