 
<ion-tabs>
  <ng-container *ngIf="!(screenSize.isDesktop$ | async)">
    <ion-tab-bar slot="bottom">

      <ion-tab-button tab="feed">
        <ion-icon name="home-sharp"></ion-icon>
        <ion-badge *ngIf="(user.profile$ | async)?.numberOfUnreadNotifications > 0">{{ (user.profile$ | async)?.numberOfUnreadNotifications }}</ion-badge>
      </ion-tab-button>

      <ion-tab-button tab="explore">
        <ion-icon name="earth-sharp"></ion-icon>
      </ion-tab-button>

      <ion-tab-button tab="goals">
        <ion-icon name="flag"></ion-icon>
      </ion-tab-button>

      <ion-tab-button tab="supports">
        <fa-icon [icon]="['fas', 'hand-holding-heart']"></fa-icon>
      </ion-tab-button>

      <ion-tab-button [tab]="'profile/' + user.uid">
        <ion-icon name="person" [color]="(active$ | async) ? 'primary' : 'inherit'"></ion-icon>
      </ion-tab-button>
  
    </ion-tab-bar>
  </ng-container>
</ion-tabs>