<ng-container *ngIf="screenSize.isMobile$ | async">
	<ion-tabs>
		<ion-tab-bar slot="bottom">

			<ion-tab-button tab="goals">
				<ion-icon name="flag-sharp" [color]="(homeActive$ | async) ? 'primary' : 'inherit'"></ion-icon>
			</ion-tab-button>

			<ion-tab-button tab="supports">
				<ion-icon [src]="(hasSupportNeedingDecision$ | async) ? 'assets/icons/hand-holding-primary-heart-outline.svg' : 'assets/icons/hand-holding-heart-outline.svg'"></ion-icon>
			</ion-tab-button>

			<ion-tab-button tab="explore">
				<ion-icon name="earth-sharp"></ion-icon>
			</ion-tab-button>

			<ion-tab-button tab="exercise" [routerLink]="['/exercise']">
				<ion-icon name="barbell-sharp"></ion-icon>
			</ion-tab-button>

			<ion-tab-button [tab]="'profile/' + user.uid">
				<ion-icon name="person" [color]="(profileActive$ | async) ? 'primary' : 'inherit'"></ion-icon>
			</ion-tab-button>
	
		</ion-tab-bar>
	</ion-tabs>
</ng-container>