 
<ion-tabs>
  <ng-container *ngIf="!_isDesktop">
    <ion-tab-bar slot="bottom">

        <ion-tab-button tab="explore">
            <ion-icon name="globe"></ion-icon>
            <ion-label>Explore</ion-label>
        </ion-tab-button>

        <ion-tab-button tab="notifications">
            <ion-icon name="notifications"></ion-icon>
            <ion-label>Notifications</ion-label>
            <ion-badge *ngIf="(auth.userProfile$ | async)?.numberOfUnreadNotifications > 0">{{ (auth.userProfile$ | async)?.numberOfUnreadNotifications }}</ion-badge>
        </ion-tab-button>

        <ion-tab-button tab="goals">
            <ion-icon name="flag"></ion-icon>
            <ion-label>Goals</ion-label>
        </ion-tab-button>

        <ion-tab-button tab="supports">
            <fa-icon [icon]="['fas', 'hand-holding-heart']"></fa-icon>
            <ion-label>Supports</ion-label>
        </ion-tab-button>

        <ion-tab-button [tab]="'profile/' + _uid">
            <ion-icon name="person"></ion-icon>
            <ion-label>Profile</ion-label>
        </ion-tab-button>
  
    </ion-tab-bar>
  </ng-container>
</ion-tabs>