main {
  max-width: var(--page-max-width);
  margin: auto;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

header {
  display: flex;
  margin-top: 20px;

  h1, h3 {
    margin: 0;
  }

  ion-button {
    margin-left: auto;
  }
}

small {
  color: var(--ion-color-medium);
}

.question {
  --min-height: 80px;
  --padding-top: 8px;
  --padding-bottom: 8px;

  section {
    display: flex;
    flex-direction: column;
    gap: 4px;
    width: 100%;

    small {
      display: grid;
      column-gap: 8px;
      grid-template-columns: auto 1fr;
    }
  }
}

.add-custom-question {
  text-align: center;
  color: var(--ion-color-primary);
  --color-hover: var(--ion-color-primary);

  ion-icon {
    color: var(--ion-color-primary)
  }
}