<ion-refresher slot="fixed" (ionRefresh)="refreshPosts($event)">
  <ion-refresher-content></ion-refresher-content>
</ion-refresher>

<ng-container *ngIf="events$ | async as events; else loading">
  <ng-container *ngIf="!!events.length else noPosts">
    <section fxLayout="column">
      <small *ngIf="hasSyncingPosts">Creating new post...</small>

      <ng-container *ngFor="let event of events">
        <ng-container *ngIf="event | storyMessage as message">
          <article *ngIf="message.message.length">
            <div class="badge">
              <ion-icon [name]="message.icon"></ion-icon>
            </div>
            <div class="timelineContent" fxLayout fxLayoutAlign="start start">
              <span>
                <ng-container *ngFor="let text of message.message">
                  <ng-container *ngIf="text.link; else noLink"><a [routerLink]="'/' + text.link">{{ text.text }}</a></ng-container>
                  <ng-template #noLink>{{ text.text }}</ng-template>
                </ng-container>
                {{ event.createdAt | timeAgo }}
              </span>
            </div>
          </article>
        </ng-container>
        <article *ngIf="event.source.postId" class="extra">
          <div></div>
          <div>
            <post-main [author]="event.source.user" [postRef]="'Goals/' + event.source.goal.id + '/Posts/' + event.source.postId"></post-main>
          </div>
        </article>
      </ng-container>

      <ion-infinite-scroll threshold="100px" (ionInfinite)="more($event)">
        <ion-infinite-scroll-content
          loadingSpinner="bubbles"
          loadingText="Loading more data...">
        </ion-infinite-scroll-content>
      </ion-infinite-scroll>
    </section>
  </ng-container>

  <ng-template #noPosts>
    <section fxLayout fxLayoutAlign="center center">
      No posts yet
    </section>
  </ng-template>
</ng-container>

<ng-template #loading>
  <strive-page-loading></strive-page-loading>
</ng-template>