<ion-refresher slot="fixed" (ionRefresh)="refreshPosts($event)">
  <ion-refresher-content></ion-refresher-content>
</ion-refresher>

<ng-container *ngIf="posts$ | async as notifications; else loading">
  <ng-container *ngIf="!!notifications.length else noPosts">
    <section fxLayout="column" fxLayoutAlign="center start" fxLayoutGap="24px">
      <ng-container *ngFor="let notification of notifications">
        <notification-main [goalId]="goal.id" [notification]="notification" [isAdmin]="isAdmin$ | async" [reference]="'Goals/' + goal.id + '/Notifications/' + notification.id"></notification-main>
      </ng-container>

      <ion-infinite-scroll threshold="100px" (ionInfinite)="more($event)">
        <ion-infinite-scroll-content
          loadingSpinner="bubbles"
          loadingText="Loading more data...">
        </ion-infinite-scroll-content>
      </ion-infinite-scroll>
    </section>
  </ng-container>

  <ng-template #noPosts>
    <section fxLayout fxLayoutAlign="center center">
      No posts yet
    </section>
  </ng-template>
</ng-container>

<ng-template #loading>
  <strive-page-loading></strive-page-loading>
</ng-template>