<ion-content class="ion-padding">
  @if (user$ | async; as user) {
    <ion-card>
      <ion-card-content>
        <p>Created at: {{ user.createdAt | date:'medium' }}</p>
        <p>Updated at: {{ user.updatedAt | date:'medium' }}</p>
        <p>Spectators: {{ user.numberOfSpectators }}</p>
        <p>Spectating: {{ user.numberOfSpectating }}</p>
        <form [formGroup]="userForm" (ngSubmit)="update()">
          <ion-item>
            <ion-input
              formControlName="username"
              label="Username"
              labelPlacement="floating"
              [disabled]="true"
              class="primary"
              />
            </ion-item>
            <!-- <strive-image-selector
            [form]="userForm.photoURL"
            [storagePath]="'profiles/' + user.uid"
          ></strive-image-selector> -->
          <ion-button class="submit_button" type="submit" [disabled]="!userForm.valid">Update</ion-button>
        </form>
      </ion-card-content>
    </ion-card>
    <h3>Exercises</h3>
    <ion-list>
      @for (exercise of exercises; track exercise) {
        <strive-small-thumbnail [title]="exercise.title" [asset]="exercise.image" [routerLink]="exercise.link">
          @switch (exercise.id) {
            @case ('Affirmations') {
              @if (affirmations$ | async; as setting) {
                <article>
                  @if (setting.affirmations?.length) {
                    <small>{{ setting.affirmations.length }} {{ setting.affirmations.length === 1 ? 'Affirmation' : 'Affirmations' }} set</small>
                  }
                </article>
              }
            }
            @case ('DearFutureSelf') {
              @if (dearFutureSelf$ | async; as setting) {
                <article>
                  @if (setting?.messages?.length) {
                    <small>{{ (setting | received)?.length }}/{{ setting.messages.length }} Letters received</small>
                    @if (setting | nextLetter; as next) {
                      <small>Next letter in {{ next.deliveryDate | timeToGo }}</small>
                    }
                  }
                </article>
              }
            }
            @case ('DailyGratitude') {
              @if (dailyGratitude$ | async; as setting) {
                <article>
                  @if (setting.on) {
                    <small>Receiving daily at {{ setting.time | date:'shortTime'}}</small>
                  }
                </article>
              }
            }
            @case ('WheelOfLife') {
              <article>
                <small>Coming Soon</small>
              </article>
            }
          }
        </strive-small-thumbnail>
      }
    </ion-list>
    <h3>Goals</h3>
    <ion-button (click)="createGoal(user.uid)">Create Goal</ion-button>
    @if (stakeholders$ | async; as stakeholders) {
      @for (stakeholder of stakeholders; track stakeholder) {
        <ion-card>
          <ion-item lines="none" [routerLink]="['/goal/', stakeholder.goal.id]">
            <ion-thumbnail slot="start">
              <img [ref]="stakeholder.goal.image" asset="goal.png" [width]="120" [height]="120"/>
              @if (stakeholder.goal.status !== 'pending') {
                <div>finished</div>
              }
            </ion-thumbnail>
            <article>
              <ion-text>
                <b>{{ stakeholder.goal.title }}</b>
                @if (stakeholder.isAchiever && !stakeholder.isSupporter) {
                  <small>{{ stakeholder.goal | toProgressLabel }}</small>
                }
                @if (stakeholder.isAchiever && stakeholder.isSupporter) {
                  <small>{{ stakeholder.goal | toProgressLabel }} & Supporting</small>
                }
                @if (!stakeholder.isAchiever && stakeholder.isSupporter) {
                  <small>Supporting</small>
                }
              </ion-text>
              <!-- <ion-button fill="clear" (click)="openGoalOptions(stakeholder.goal, stakeholder, $event)">
              <ion-icon slot="icon-only" name="ellipsis-vertical"></ion-icon>
            </ion-button> -->
          </article>
        </ion-item>
        <!-- <ul *ngIf="stakeholder.story.length" [routerLink]="['/goal/', stakeholder.goal.id]" [queryParams]="{t:'story'}">
        <li *ngFor="let event of stakeholder.story">
          <ion-icon [name]="event.icon"></ion-icon>
          <span [ngClass]="{'important': event.importance <= 2}">{{ event.message }}</span>
        </li>
      </ul> -->
    </ion-card>
  }
}
}
</ion-content>