<strive-header title="Assess Life Settings" defaultBack="/exercise/assess-life" color="primary" />

<ion-content class="ion-padding">
  <main>
    <h1 *ngIf="(isMobile$ | async) === false">Settings</h1>

    <ng-container *ngIf="loading() else notLoading">
	    <strive-page-loading></strive-page-loading>
    </ng-container>

  </main>
</ion-content>

<ng-template #notLoading>
  <ion-list mode="md" lines="full">
    <form [formGroup]="form">
      <ion-item>
        <ion-label>
          <section>
            <span>Dear Future Self</span>
            <small>Write a message/advice/predictions to your future self</small>
          </section>
        </ion-label>
        <ion-select [legacy]="true" formControlName="dearFutureSelf" interface="popover">
          <ng-container *ngTemplateOutlet="options" />
        </ion-select>
      </ion-item>

      <ion-item>
        <ion-label>
          <section>
            <span>Gratitude</span>
            <small>What are you grateful for?</small>
          </section>
        </ion-label>
        <ion-select [legacy]="true" formControlName="gratitude" interface="popover">
          <ng-container *ngTemplateOutlet="options" />
        </ion-select>
      </ion-item>

      <ion-item>
        <ion-label>
          <section>
            <span>Learn</span>
            <small>What do you want to learn?</small>
          </section>
        </ion-label>
        <ion-select [legacy]="true" formControlName="learn" interface="popover">
          <ng-container *ngTemplateOutlet="options" />
        </ion-select>
      </ion-item>

      <ion-item>
        <ion-label>
          <section>
            <span>Pride</span>
            <small>What are you proud of?</small>
          </section>
        </ion-label>
        <ion-select [legacy]="true" formControlName="proud" interface="popover">
          <ng-container *ngTemplateOutlet="options" />
        </ion-select>
      </ion-item>

      <ion-item>
        <ion-label>
          <section>
            <span>Prioritize Goals</span>
            <small>Order your goals by priority</small>
          </section>
        </ion-label>
        <ion-select [legacy]="true" formControlName="prioritizeGoals" interface="popover">
          <ng-container *ngTemplateOutlet="options" />
        </ion-select>
      </ion-item>

      <ion-item>
        <ion-label>
          <section>
            <span>Time Management</span>
            <small>What did you spend time on?</small>
          </section>
        </ion-label>
        <ion-select [legacy]="true" formControlName="timeManagement" interface="popover">
          <ng-container *ngTemplateOutlet="options" />
        </ion-select>
      </ion-item>

      <ion-item lines="none">
        <ion-label>
          <section>
            <span>Wheel of Life</span>
            <small>Rate how you feel</small>
          </section>
        </ion-label>
        <ion-select [legacy]="true" formControlName="wheelOfLife" interface="popover">
          <ng-container *ngTemplateOutlet="options" />
        </ion-select>
      </ion-item>
    </form>
  </ion-list>
</ng-template>

<ng-template #options>
  <ion-select-option value="never">Never</ion-select-option>
  <ion-select-option value="weekly">Weekly</ion-select-option>
  <ion-select-option value="monthly">Monthly</ion-select-option>
  <ion-select-option value="quarterly">Quarterly</ion-select-option>
  <ion-select-option value="yearly">Yearly</ion-select-option>
</ng-template>