main {
  max-width: var(--page-max-width);
  margin: auto;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

small {
  color: var(--ion-color-medium);
}

section.toggle {
  display: flex;
  justify-content: space-between;

  article {
    display: flex;
    align-items: center;
    gap: 16px;
  }
}
