<ion-header>
    <ion-toolbar>
  
      <ion-buttons slot="end">
        <ion-button (click)="dismiss()">
          <ion-icon slot="icon-only" name="close"></ion-icon>
        </ion-button>
      </ion-buttons>
    
      <ion-title>Create Collective Goal</ion-title>
  
    </ion-toolbar>
  </ion-header>
  
  <ion-content class="ion-padding">
  
    <form [formGroup]="createCollectiveGoalForm">
  
      <ion-item>
        <ion-label position="stacked">Title</ion-label>
        <ion-input formControlName="title" 
                  type="text"
                  maxlength="25"
                  autofocus></ion-input>
      </ion-item>
  
      <ion-item>
          <ion-label position="stacked">Short description</ion-label>
          <ion-textarea formControlName="shortDescription"
                        type="text"
                        maxlength="256"
                        autosize></ion-textarea>
      </ion-item>
  
      <ion-item>
        <ion-label position="stacked">Public</ion-label>
        <ion-select formControlName="isPublic" [value]="false" interface="popover">
          <ion-select-option [value]="false">No</ion-select-option>
          <ion-select-option [value]="true">Yes</ion-select-option>
        </ion-select>
      </ion-item>

      <ion-item>
          <ion-label position="stacked">End date &#40;optional&#41;</ion-label>
          <ion-datetime
            placeholder="-- -- --"
            displayFormat="DDDD DD MMMM YYYY"
            pickerFormat="DDDD MMMM YYYY" 
            formControlName="deadline"
            (click)="_openingDatetime($event)"
          ></ion-datetime>
        </ion-item>
  
      <!-- <app-image-upload defaultImagePath="assets/CollectiveGoal.jpg" [currentImage]="collectiveGoal?.image"></app-image-upload> -->
  
      <ion-fab vertical="bottom" horizontal="end" slot="fixed">
        <ion-button *ngIf="!collectiveGoal.id" (click)="handleCreatingCollectiveGoal()" clear>Create</ion-button>
        <ion-button *ngIf="collectiveGoal.id" (click)="handleUpdatingCollectiveGoal()" clear>Update</ion-button>
      </ion-fab>
  
    </form>
  
  </ion-content>
  