<ion-list>
  <!-- <ion-item (click)="close(enumGoalOptions.EditNotificationSettings)" button>Edit Notification Settings</ion-item> -->
  <ion-item (click)="close(enumGoalOptions.DuplicateGoal)" button>Duplicate Goal</ion-item>
  <!-- <ion-item (click)="close(enumGoalOptions.leaveGoal)" *ngIf="!_isFinished" button>Leave Goal</ion-item> -->
  <ion-item (click)="close(enumGoalOptions.FinishGoal)"  *ngIf="_isAdmin && !_isFinished" button><ion-icon name="trophy"></ion-icon>Finish Goal</ion-item>
  <ion-item (click)="close(enumGoalOptions.editGoal)" *ngIf="_isAdmin" button>Edit Goal</ion-item>
  <ion-item (click)="close(enumGoalOptions.deleteGoal)" *ngIf="_isAdmin" button>Delete Goal</ion-item>
</ion-list>