<strive-header title="Daily Gratefulness" defaultBack="/exercise" color="primary"></strive-header>

<ion-content class="ion-padding">
  <main>
    <h2 *ngIf="(screensize.isMobile$ | async) === false">Daily Gratefulness</h2>
    <p>Reminding the things you are grateful for trains your mind to focus on the positive instead of the negative. Receive a daily push notification to remind you to think of three things you are grateful for that day.</p>

    <ng-container *ngIf="!isLoading else loading">
      <ng-container *ngIf="user.uid else login">

        <exercises-activate-push-notification></exercises-activate-push-notification>

        <section class="toggle">
          <article>
            <ion-toggle [formControl]="form.get('on')" (ionChange)="toggle($event)"></ion-toggle>
            <span (click)="openDatetime()"><b>{{ dailyGratefulness.on ? 'Reminded daily at ' + form.get('time').value : 'Reminder turned off'}}</b></span>
          </article>
          <!-- <ion-button disabled color="primary" fill="clear">
            <ng-container *ngIf="form.dirty; else saved">
              <span>SAVING...</span>
            </ng-container>
            <ng-template #saved>
              <span>SAVED</span>
              <ion-icon slot="end" name="checkmark-outline"></ion-icon>
            </ng-template>
          </ion-button> -->
        </section>

        <!-- <ng-container *ngIf="dailyGratefulness.on">
          <section class="time">
            <small>What time would you like to receive the reminder?</small>
            <ion-datetime presentation="time" [formControl]="form.get('time')"></ion-datetime>
          </section>
        </ng-container> -->

        <exercise-daily-gratefulness-cards></exercise-daily-gratefulness-cards>

      </ng-container>
    </ng-container>

    <ng-template #loading>
      <strive-page-loading></strive-page-loading>
    </ng-template>

    <ng-template #login>
      <div class="not-logged-in">
        <p>
          <span class="fat-text-button" (click)="openAuthModal()">Log in</span>to start with Daily Gratefulness
        </p>
      </div>
    </ng-template>

  </main>
</ion-content>