main {
  max-width: var(--page-max-width);
  margin: auto;
  display: flex;
  flex-direction: column;
  gap: 16px;

  section {
    display: flex;
    flex-direction: column;
    gap: 16px;

    strive-support-list small {
      color: var(--ion-color-medium);
    }
  }

  .empty {
    small {
      color: var(--ion-color-medium);
    }
  }
}
