<ng-container *ngIf="stakeholders$ | async as stakeholders; else loading">
	<ion-button (click)="add()">Add</ion-button>
	<ion-list mode="md">
		<ion-item *ngFor="let stakeholder of stakeholders$ | async" button [routerLink]="['/a/users/', stakeholder.uid]">
			{{ stakeholder.profile?.username }}
			<ion-icon src="assets/icons/user-tie-solid.svg"
				slot="end"
				[ngStyle]="{'opacity': stakeholder.isAdmin ? '1' : '0.3' }"
				(click)="toggleAdmin(stakeholder, $event)">
			</ion-icon>
			<ion-icon name="flag"
				slot="end"
				[ngStyle]="{'opacity': stakeholder.isAchiever ? '1' : '0.3' }"
				(click)="toggleAchiever(stakeholder, $event)">
			</ion-icon>
			<ion-icon src="assets/icons/hand-holding-heart-solid.svg"
				slot="end"
				[ngStyle]="{'opacity': stakeholder.isSupporter ? '1' : '0.3' }"
				(click)="toggleSupporter(stakeholder, $event)">
			</ion-icon>
		</ion-item>
	</ion-list>
</ng-container>

<ng-template #loading>
	<strive-page-loading></strive-page-loading>
</ng-template>