main {
  max-width: 700px;
  margin: auto;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

h1 {
  color: var(--ion-color-primary);
}

.explanation {
  color: var(--ion-color-medium);
}

section.reminder {
  display: flex;
  align-items: center;
}

ion-button {
  width: fit-content;
}

ion-segment {
  margin-top: 16px;
  margin-bottom: 16px;
}