<strive-header title="Wheel of Life" defaultBack="/exercise" color="primary"></strive-header>

<ion-content class="ion-padding">
  <main>
    <h2 *ngIf="(isMobile$ | async) === false">Wheel of Life</h2>
    <small>Get insight in which areas in your life needs more attention and track results over the long term.</small>

    <ng-container *ngIf="finishedLoading$ | async else loading">
      <ng-container *ngIf="uid$ | async else login">
    
        <section>
          <span>Receive reminder</span>
          <ion-select interface="popover" [formControl]="form">
            <ion-select-option value="never">Never</ion-select-option>
            <ion-select-option value="weekly">Weekly</ion-select-option>
            <ion-select-option value="monthly">Monthly</ion-select-option>
            <ion-select-option value="quarterly">Quarterly</ion-select-option>
            <ion-select-option value="yearly">Yearly</ion-select-option>
          </ion-select>
        </section>
    
        <ng-container *ngIf="entries$ | async as entries">
    
          <ng-container *ngIf="entries.length else noEntries">
            <ion-button fill="clear" (click)="addEntry()">
              <ion-icon name="add" slot="start"></ion-icon>
              <span>Add new entry</span>
            </ion-button>
          </ng-container>
    
          <ng-template #noEntries>
            <ion-card>
              <ion-card-content>
                <exercise-wheel-of-life-entry [entry]="entries | today"></exercise-wheel-of-life-entry>
              </ion-card-content>
            </ion-card>
          </ng-template>
    
          <ng-container *ngIf="entries.length">
            <ion-segment scrollable (ionChange)="segmentChanged($event)">
              <ng-container *ngFor="let aspect of aspectsConfig">
                <ion-segment-button [value]="aspect.id">
                  {{ aspect.title }}
                </ion-segment-button>
              </ng-container>
            </ion-segment>
    
            <exercise-wheel-of-life-results [aspect]="segmentChoice" [entries]="entries"></exercise-wheel-of-life-results>
          </ng-container>
        </ng-container>  

      </ng-container>
    </ng-container>

    <ng-template #loading>
      <strive-page-loading></strive-page-loading>
    </ng-template>

    <ng-template #login>
      <div class="not-logged-in">
        <p>
          <span class="fat-text-button" (click)="openAuthModal()">Log in</span>to start with the Wheel of Life
        </p>
      </div>
    </ng-template>

  </main>
</ion-content>