<strive-header title="Settings" color="primary" defaultHref="/profile"></strive-header>
<ion-content>
  <ion-list mode="md">
    <ion-item *ngIf="showInstallPromotion$ | async; else safari" (click)="installPWA()" lines="none" button>
      <ion-label>Install App</ion-label>
    </ion-item>
    <ion-list-header>Account</ion-list-header>
    <ion-item button routerLink="/edit-profile">
      <ion-label>Edit Profile</ion-label>
    </ion-item>
    <ion-item button (click)="signOut()" lines="none">
      <ion-label>Log out</ion-label>
    </ion-item>

    <ng-container *ngIf="isWeb">
      <ion-list-header>Notifications</ion-list-header>
      <ion-item *ngIf="fcmIsSupported | async" button (click)="registerFCM()" lines="none">
        <ion-label>Push Notifications</ion-label>
        <ion-toggle slot="end" [(ngModel)]="fcmActive"></ion-toggle>
      </ion-item>
      <ion-item *ngIf="(fcmIsSupported | async) === false" disabled lines="none">
        <ion-label>Push Notifications not supported</ion-label></ion-item>  
    </ng-container>


    <ion-list-header>Support</ion-list-header>
    <ion-item button href="https://blog.strivejournal.com/intro" target="_blank"> 
			<ion-label>Guides</ion-label>
			<ion-icon name="open-outline"></ion-icon>
		</ion-item>

		<ion-item button href="https://blog.strivejournal.com/blog" target="_blank">
			<ion-label>Blog</ion-label>
			<ion-icon name="open-outline"></ion-icon>
		</ion-item>

    <ion-item button href="mailto:support@strivejournal.com">
      <ion-label>Contact Support</ion-label>
			<ion-icon name="open-outline"></ion-icon>
    </ion-item>

    <ion-list-header>Legal</ion-list-header>
    <ion-item routerLink="/terms">
      <ion-label>Terms of Use</ion-label>
    </ion-item>
    <ion-item routerLink="/privacy-policy" lines="none">
      <ion-label>Privacy Policy</ion-label>
    </ion-item>

  </ion-list>
  <span class="version">Version 1.0.12</span>
</ion-content>

<ng-template #safari>
  <ng-container *ngIf="isSafari">
    <ion-item button (click)="goTo('/download')">Add to Home Screen</ion-item>
  </ng-container>
</ng-template>