<strive-header title="Settings" color="primary" defaultHref="/profile"></strive-header>
<ion-content>
  <ion-list mode="md">
    <ion-item *ngIf="showInstallPromotion$ | async; else safari" (click)="installPWA()" lines="none" button>Install App</ion-item>
    <ion-list-header>Notification</ion-list-header>
    <ion-item *ngIf="fcmIsSupported | async" button (click)="registerFCM()" lines="none">
      <span>Push Notifications</span>
      <ion-toggle slot="end" [(ngModel)]="fcmActive"></ion-toggle>
    </ion-item>
    <ion-item *ngIf="(fcmIsSupported | async) === false" disabled lines="none">Push Notifications not supported</ion-item>

    <!-- <ion-item>Contact, bugs & suggestions</ion-item> -->
    <ion-list-header>Legal</ion-list-header>
    <ion-item routerLink="/terms">Terms of Use</ion-item>
    <ion-item routerLink="/privacy-policy" lines="none">Privacy Policy</ion-item>

    <ion-list-header>Authentication</ion-list-header>
    <ion-item button routerLink="/edit-profile">Edit Profile</ion-item>
    <ion-item button (click)="signOut()" lines="none">Log out</ion-item>
  </ion-list>
  <span class="version">Version 1.1.1</span>
</ion-content>

<ng-template #safari>
  <ng-container *ngIf="isSafari">
    <ion-item button (click)="goTo('/download')">Add to Home Screen</ion-item>
  </ng-container>
</ng-template>