.collapsible-header {
    align-items: center;
    min-height: 4em;
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
    line-height: 1.5;
    padding: .6rem;
    background-color: var(--collapsible-header-color);
  
    i {
        width: 2rem;
        font-size: 1.6rem;
        display: inline-block;
        text-align: center;
        margin-right: 1rem;
    }

    &:hover {
        background-color: var(--ion-color-lightest);
        cursor: pointer;
    }
}

.collapsible-body {
  align-items: center;
  box-sizing: border-box;
  margin-left: 1rem;
  margin-right: 1rem;

  .third {
    border-left: 1px solid var(--ion-color-primary-tint);
    min-height: 4em;
  }
}

.collapsible-body .collapsible .active {
  padding-bottom: 15px;
}
  
.side-nav,
.side-nav.fixed {

  .collapsible {
    border: none;
    box-shadow: none;

    li { 
      padding: 0;
    }
  }

  .collapsible-header {
    background-color: transparent;
    border: none;
    line-height: inherit;
    height: inherit;
    padding: 0 var(--sidenav-padding);

    i { line-height: inherit; }
  }

  .collapsible-body {
    border: 0;
    background-color: var(--collapsible-header-color);

    li a {

      &:hover {
        background-color: var(--ion-color-lightest);
        cursor: pointer;
        box-shadow: 0 3px 10px rgba(0,0,0,0.16), 0 3px 10px rgba(0,0,0,0.23);
      }

    }
  }

}

.collapsible-header.active {
  .second-description {
    font-weight: 500;
  }
}

.third {
  margin-left: 1.3rem;
  margin-right: 1.2rem;
  padding: .6rem;

  .description {
    color: var(--ion-color-dark);
  }

  &:hover {
    background-color: var(--ion-color-lightest);
  }
}
  
// Popout Collapsible
.collapsible.popout {
    border: none;
    box-shadow: none;
    > li {
      box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    //   transform: scaleX(.92);
      margin: 0 24px;
      transition: margin .35s cubic-bezier(0.250, 0.460, 0.450, 0.940);
    }
    > li.active {
      box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15);
      margin: 16px 0;
    //   transform: scaleX(1);
  }
}

ul {
  padding: 0;
  list-style-type: none;
}

ion-img {
  max-width: 360px;
  max-height: 360px;
  margin: auto;
  margin-top: 10%;
}

h3 {
  color: var(--ion-color-primary);
  text-align: center;
}