<div class="not-logged-in" *ngIf="_pageIsLoading">
  <ion-spinner name="lines" color="primary"></ion-spinner>
</div>

<div *ngIf="structuredMilestones.length === 0 && !_pageIsLoading">
  <ion-img src='assets/pages/roadmap/Define Roadmap.png' (click)="editMilestones()" [ngStyle]="{'cursor': isAdmin ? 'pointer' : 'inherit'}"></ion-img>
  <h3 *ngIf="isAdmin" (click)="editMilestones()" [ngStyle]="{'cursor': isAdmin ? 'pointer' : 'inherit'}">Define your roadmap</h3>
  <h3 *ngIf="!isAdmin">Roadmap is not defined</h3>
</div>

<!-- First level -->
<ul class="collapsible popout" data-collapsible="accordion">
    <li *ngFor="let milestoneLevelOne of structuredMilestones; let i = index">
      <div class="collapsible-header">
        <app-milestone [milestone]="milestoneLevelOne" [goalId]="goalId" [isAdmin]="isAdmin" [isAchiever]="isAchiever" [goal]="goal"></app-milestone>
        
      </div>

      <!-- Second level -->
      <div class="collapsible-body">
        <ul class="collapsible" data-collapsible="accordion">
          <li *ngFor="let milestoneLevelTwo of milestoneLevelOne.milestonesLevelTwo; let j = index">
            <div class="collapsible-header">
              <app-milestone [milestone]="milestoneLevelTwo" [milestoneParent]="milestoneLevelOne" [goalId]="goalId" [isAdmin]="isAdmin" [isAchiever]="isAchiever" [goal]="goal"></app-milestone>
            </div>

            <!-- Third level -->
            <div class="collapsible-body third" *ngFor="let milestoneLevelThree of milestoneLevelTwo.milestonesLevelThree; let k = index">
              <app-milestone [milestone]="milestoneLevelThree" [milestoneParent]="milestoneLevelTwo" [goalId]="goalId" [isAdmin]="isAdmin" [isAchiever]="isAchiever" [goal]="goal"></app-milestone>
            </div> <!-- End level 3-->

          </li>
        </ul>
      </div> <!-- End level 2-->

    </li>
  </ul> <!-- End level 1-->

  <!-- Only admins can edit milestones -->
  <ion-fab *ngIf="isAdmin && _isGoal" vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="editMilestones()"><ion-icon name="build"></ion-icon></ion-fab-button>
  </ion-fab>