<strive-header title="Self Reflect Settings" defaultBack="/exercise/self-reflect" color="primary" />

<ion-content class="ion-padding">
  <main>
    <h1 *ngIf="(isMobile$ | async) === false">Settings</h1>

    <ng-container *ngIf="loading() else notLoading">
	    <strive-page-loading></strive-page-loading>
    </ng-container>

  </main>
</ion-content>

<ng-template #notLoading>
  <form [formGroup]="form">
    <ion-list mode="md" lines="full">
      <small class="reminder">What day and time would you prefer to receive the Self Reflection reminder?</small>
      <ion-item>
        <ion-label>Day</ion-label>
        <ion-select interface="popover" formControlName="preferredDay">
          <ion-select-option value="monday">Monday</ion-select-option>
          <ion-select-option value="tuesday">Tuesday</ion-select-option>
          <ion-select-option value="wednesday">Wednesday</ion-select-option>
          <ion-select-option value="thursday">Thursday</ion-select-option>
          <ion-select-option value="friday">Friday</ion-select-option>
          <ion-select-option value="saturday">Saturday</ion-select-option>
          <ion-select-option value="sunday">Sunday</ion-select-option>
          <ion-select-option value="never">Never</ion-select-option>
        </ion-select>
      </ion-item>

      <ion-item lines="none" button (click)="openTimePicker()">
        <ion-label>Time</ion-label>
        <ion-text>{{ form.get('preferredDay').value === 'never' ? '-' : form.get('preferredTime').value }}</ion-text>
      </ion-item>
    </ion-list>
  </form>

  <form [formGroup]="metaSettingsForm">
    <ion-list mode="md" lines="full">
      <ion-item *ngFor="let key of settingKeys; let last = last" [lines]="last ? 'none' : 'full'">
        <ion-label>
          <section>
            <span>{{ settings[key].title }}</span>
            <small>{{ settings[key].description }}</small>
          </section>
        </ion-label>
        <ion-select [legacy]="true" [formControlName]="key" interface="popover">
          <ion-select-option value="never">Never</ion-select-option>
          <ion-select-option value="weekly">Weekly</ion-select-option>
          <ion-select-option value="monthly">Monthly</ion-select-option>
          <ion-select-option value="quarterly">Quarterly</ion-select-option>
          <ion-select-option value="yearly">Yearly</ion-select-option>
        </ion-select>
      </ion-item>
    </ion-list>
  </form>

    <h2>Custom Questions</h2>
    <ion-list mode="md">
      <ion-item *ngFor="let question of customQuestions$ | async" button (click)="openQuestion(question)">
        <ion-label>
          <section>
            <span>{{ question.question }}</span>
            <small>{{ steps[question.step] }} - {{ question.interval | titlecase }}</small>
          </section>
        </ion-label>
      </ion-item>
      <ion-item button (click)="openQuestion()" lines="none" class="add-question">
        <ion-label>Add Question</ion-label>
        <ion-icon slot="end" name="add-outline"/>
      </ion-item>
    </ion-list>
</ng-template>
