main {
  max-width: var(--page-max-width);
  margin: auto;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

form {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

ion-item {
  --highlight-background: var(--ion-color-primary);
}

.reminder {
  display: block;
  margin: 8px 16px;
  color: var(--ion-color-medium);
}

ion-text {
  margin-right: 16px;
}

section {
  display: flex;
  flex-direction: column;
  gap: 8px;

  small {
    color: var(--ion-color-medium);
  }
}

span {
  text-overflow: ellipsis;
  overflow: hidden;
}

.add-question {
  text-align: center;
  color: var(--ion-color-primary);
  --color-hover: var(--ion-color-primary);

  ion-icon {
    color: var(--ion-color-primary)
  }
}