<strive-header title="Self Reflect Settings" defaultBack="/exercise/self-reflect" color="primary" />

<ion-content class="ion-padding">
  <main>
    <h1 *ngIf="(isMobile$ | async) === false">Settings</h1>

    <ng-container *ngIf="loading() else notLoading">
	    <strive-page-loading></strive-page-loading>
    </ng-container>

  </main>
</ion-content>

<ng-template #notLoading>
  <form [formGroup]="form">
    <ion-list lines="full">
      <small class="reminder">What day and time would you prefer to receive the Self Reflection reminder?</small>
      <ion-item>
        <ion-select interface="popover" formControlName="preferredDay" label="Day">
          <ion-select-option value="monday">Monday</ion-select-option>
          <ion-select-option value="tuesday">Tuesday</ion-select-option>
          <ion-select-option value="wednesday">Wednesday</ion-select-option>
          <ion-select-option value="thursday">Thursday</ion-select-option>
          <ion-select-option value="friday">Friday</ion-select-option>
          <ion-select-option value="saturday">Saturday</ion-select-option>
          <ion-select-option value="sunday">Sunday</ion-select-option>
          <ion-select-option value="never">Never</ion-select-option>
        </ion-select>
      </ion-item>

      <ion-item lines="none" button (click)="openTimePicker()">
        <ion-label>Time</ion-label>
        <ion-text>{{ form.get('preferredDay').value === 'never' ? '-' : form.get('preferredTime').value }}</ion-text>
      </ion-item>
    </ion-list>
  </form>
</ng-template>
