.header {
  ion-card {
    background-image: linear-gradient(to bottom, var(--ion-color-primary-tint), white);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding: 16px;

    img {
      border-radius: 50%;
      object-fit: cover;
      width: 100px;
      height: 100px;
      margin: 0 0 12px 12px;
      box-shadow: 0px 11px 20px -3px rgba(142, 136, 146, 0.75);
    }

    ion-icon {
      &:hover  {
        color: black;
        cursor: pointer;
      }
    }
  }
}


// Profile content
#content {
    position: relative;
    margin-top: 180px;
    padding-top: 50px;
    text-align: center;
}

#profile-info {
    position: absolute;
    top: -95px;
    width: 100%;
    z-index: 2;
    text-align: center;
}

#profile-username {
    color: #444;
    font-size: 26px;
    font-weight: 500;
}

#profile-username-edit-icon {
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 5px;

    &:hover {
        color: black;
    }
}

// Affirmations


// Bucketlist
.exercise {

    .exercise-header-container {
        display: flex;
    
        .exercise-help-icon {
            margin-top: auto;
            margin-bottom: auto;
            margin-left: 5px;
    
            &:hover {
                color: black;
                cursor: pointer;
            }
        }
    
        .exercise-edit-icon {
            margin-top: auto;
            margin-bottom: auto;
            margin-left: 20px;
    
            &:hover {
                color: black;
                cursor: pointer;
            }
        }
    
    }

    ion-checkbox {
        margin-right: 5px;
    }
}

hr {
    border: 0;
    height: 1px;
    background: #444;
    background: -webkit-linear-gradient(left, hsla(0, 0%, 0%, 0) 0%, rgb(188, 198, 214) 50%, hsla(0, 0%, 0%, 0) 100%);
}

.goal-thumbnail-wrapper {
    display: flex;
}

ion-slide {
    float: left;
    width: 165px !important;
    margin-left: 5px!important;
    margin-right: 5px!important;
}

h3 {
    color: var(--ion-color-primary);
}

.padding {
    padding-left: 16px;
}

ion-input {
    max-width: 200px;
    color: #444;
    font-size: 26px;
    font-weight: 500;
}

.container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.back-btn {
    vertical-align: text-top;
    cursor: pointer;
    color: var(--ion-color-medium);
}

// Exercises
.exercise-card {
    position: relative;
    text-align: center;
    width: 260px;
    
    &:hover {
        cursor: pointer;
    }
}

.card-title {
    position: absolute;
    background: rgba(0, 0, 0, .4);
    bottom: 10%;
    font-size: 2.0em;
    width: 100%;
    font-weight: bold;
    color: #fff;
}
