<ng-container *ngIf="title$ | async as title">

  <ng-container *ngIf="isOwner$ | async else notOwner">
    <strive-header-root [title]="title" />
  </ng-container>
  <ng-template #notOwner>
    <strive-header [title]="title" />
  </ng-template>

</ng-container>

<ion-content class="ion-no-padding">

  <ng-template #noProfile>
    <ng-container *ngIf="loading$ | async; else notFound">
      <strive-page-loading />
    </ng-container>
    <ng-template #notFound>
      <strive-404 />
    </ng-template>
  </ng-template>

  <ng-container *ngIf="profile$ | async as profile; else noProfile">
    <main>
      <header>
        <ion-card class="ion-padding">
          <article class="profile">
            <ion-avatar>
              <img
                [ref]="profile.photoURL"
                asset="profile.png"
                alt="profile picture"
                (click)="editProfileImage(profile, $event)"
                [width]="600"
                [height]="600"
              />
            </ion-avatar>
            <div>
              <h5>{{ profile.username }}</h5>
              <span>Joined {{ profile.createdAt | date:'longDate' }}</span>
            </div>
          </article>
          <ul>
            <li (click)="openFollowers()" class="clickable">
              <span class="number">{{ profile.numberOfSpectators }}</span>
              <span>Followers</span>
            </li>
            <li (click)="openFollowing()" class="clickable">
              <span class="number">{{ profile.numberOfSpectating }}</span>
              <span>Following</span>
            </li>
            <li (click)="openSupporting()" class="clickable">
              <span class="number">{{ (supportingGoals$ | async)?.length ?? 0 }}</span>
              <span>Goals supported</span>
            </li>
          </ul>
        </ion-card>

        <ng-container *ngIf="(isOwner$ | async) === false">
          <ng-container *ngIf="isSpectator$ | async else notSpectator">
            <ion-button (click)="toggleSpectate(false)" size="block" class="fake-disable">
              <ion-icon name="star" slot="start" />
              <span>FOLLOWING</span>
            </ion-button>
          </ng-container>
          <ng-template #notSpectator>
            <ion-button (click)="toggleSpectate(true)" size="block">
              <ion-icon name="star-outline" slot="start" />
              <span>FOLLOW</span>
            </ion-button>
          </ng-template>
        </ng-container>
      </header>

      <section class="goals">
        <article>
          <h2>Goals</h2>
          <ion-button *ngIf="isOwner$ | async" fill="clear" (click)="createGoal()">
            <ion-icon name="add" slot="start" />
            <span>add goal</span>
          </ion-button>
        </article>
        <ng-container *ngIf="achievingStakeholders$ | async as achievingStakeholders">
          <ng-container *ngIf="achievingStakeholders.length > 0 else noBucketList">
            <ul>
              <li *ngFor="let stakeholder of achievingStakeholders">
                <strive-goal-thumbnail [goal]="stakeholder.goal" [stakeholder]="(isOwner$ | async) ? stakeholder : undefined" [routerLink]="['/goal/', stakeholder.goal.id]">
                  <div>
                    <small *ngIf="stakeholder.focus.on">⚡Current Focus</small>
                    <small *ngIf="stakeholder.goal.publicity === 'private'">
                      <ion-icon name="lock-closed-outline"></ion-icon>
                      <span>Private</span>
                    </small>
                    <small>
                      <ion-icon name="flag-outline"></ion-icon>
                      <span>{{ stakeholder.goal.numberOfAchievers }} Achiever{stakeholder.goal.numberOfAchievers, plural, =1 {} other {s}}</span>
                    </small>
                  </div>
                </strive-goal-thumbnail>
              </li>
            </ul>

          </ng-container>
          <ng-template #noBucketList>
            <span>Not achieving any goals</span>
          </ng-template>
        </ng-container>
      </section>

    </main>
  </ng-container>
</ion-content>