@if (title$ | async; as title) {
  @if (isOwner$ | async) {
    <strive-header-root [title]="title" />
  } @else {
    <strive-header [title]="title" />
  }
}

<ion-content class="ion-no-padding">

  @if (profile$ | async; as profile) {
    <main>
      <header>
        <ion-card class="ion-padding">
          <article class="profile">
            <ion-avatar>
              <img
                [ref]="profile.photoURL"
                asset="profile.png"
                alt="profile picture"
                (click)="editProfileImage(profile, $event)"
                tabindex="0"
                [width]="600"
                [height]="600"
              />
            </ion-avatar>
            <div>
              <h5>{{ profile.username }}</h5>
              <span>Joined {{ profile.createdAt | date:'longDate' }}</span>
            </div>
            <ion-button fill="clear" (click)="openShare($event)" color="primary">
              <ion-icon name="share-social-outline" size="small" slot="icon-only"></ion-icon>
            </ion-button>
          </article>
          <ul>
            <li (click)="openFollowers()" class="clickable" (keyup.enter)="openFollowers()" tabindex="0">
              <span class="number">{{ profile.numberOfSpectators }}</span>
              <span>Followers</span>
            </li>
            <li (click)="openFollowing()" class="clickable" (keyup.enter)="openFollowing()" tabindex="0">
              <span class="number">{{ profile.numberOfSpectating }}</span>
              <span>Following</span>
            </li>
            <li (click)="openSupporting()" class="clickable" (keyup.enter)="openSupporting()" tabindex="0">
              <span class="number">{{ (supportingGoals$ | async)?.length ?? 0 }}</span>
              <span>Goals supported</span>
            </li>
          </ul>
        </ion-card>
        @if ((isOwner$ | async) === false) {
          @if (isSpectator$ | async) {
            <ion-button (click)="toggleSpectate(false)" size="block" class="follow fake-disable">
              <ion-icon name="star" slot="start" />
              <span>Following</span>
            </ion-button>
          } @else {
            <ion-button (click)="toggleSpectate(true)" size="block" class="follow">
              <ion-icon name="star-outline" slot="start" />
              <span>Follow</span>
            </ion-button>
          }
        }
      </header>
      <section class="goals">
        <article>
          <h2>Goals</h2>
          @if (isOwner$ | async) {
            <ion-button fill="clear" (click)="createGoal()">
              <ion-icon name="add" slot="start" />
              <span>Create Goal</span>
            </ion-button>
          }
        </article>
        @if (achievingStakeholders$ | async; as achievingStakeholders) {
          @if (achievingStakeholders.length > 0) {
            <ul>
              @for (stakeholder of achievingStakeholders; track stakeholder) {
                <li>
                  <strive-goal-thumbnail [goal]="stakeholder.goal" [stakeholder]="(isOwner$ | async) ? stakeholder : undefined" [routerLink]="['/goal/', stakeholder.goal.id]">
                    <div>
                      @if (stakeholder.goal.publicity === 'private') {
                        <small>
                          <ion-icon name="lock-closed-outline"></ion-icon>
                          <span>Private</span>
                        </small>
                      }
                      <small>
                        <ion-icon name="flag-outline"></ion-icon>
                        <span>{{ stakeholder.goal.numberOfAchievers }} Achiever{stakeholder.goal.numberOfAchievers, plural, =1 {} other {s}}</span>
                      </small>
                    </div>
                  </strive-goal-thumbnail>
                </li>
              }
            </ul>
          } @else {
            <span>Not achieving any goals</span>
          }
        }
      </section>
    </main>
  } @else {
    @if (loading$ | async) {
      <strive-page-loading />
    } @else {
      <strive-404 />
    }
  }
</ion-content>