section {
  max-width: 700px;
  margin: auto;
  padding: 0px 16px;
}

footer {
  height: 40px;
}

.header {
  position: relative;
  margin-top: 64px;

  article div {
    cursor: pointer;
  }

  ion-card {
    width: 100%;
    padding: 48px 12px 12px 12px;
  }

  .img-container {
    position: absolute;
    top: -40px;

    img {
      border-radius: 50%;
      object-fit: cover;
      width: 100px;
      height: 100px;
      box-shadow: 0px 6px 12px -6px var(--ion-color-medium);
      cursor: pointer;
    }
  }

  ion-button {
    width: fit-content;
  }
}

.fat-text-button {
  margin-left: 3px;
  font-weight: bold;
  cursor: pointer;
  color: var(--ion-color-primary);
}

h2 {
  color: var(--ion-color-primary);
}

.padding {
  padding-left: 16px;
}

ion-list {
  overflow: hidden;

  ion-item {
    --padding-start: 8px;
    --inner-padding-end: 0;
  }

  ion-thumbnail {
    position: relative;
    border-radius: 12px;
    
    img {
      border-radius: 12px;
      object-fit: cover;
    }
    
    div {
      border-radius: 12px;
      position: absolute;
      top: 0;
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      color: var(--ion-color-primary-contrast);;
      background: rgba(247, 148, 29, .6);
      font-size: 14px;
    }
  }

  article {
    display: grid;
    grid-template-columns: auto 50px;
    width: 100%;

    ion-label {
      b, small {
        overflow: hidden;
        text-overflow: ellipsis;
      }

      small {
        display: flex;
        align-items: center;
      }
    }
  }
}

.gradient-border {
  --borderWidth: 3px;
  background: #1D1F20;
  position: relative;
  border-radius: var(--borderWidth);
}
.gradient-border:after {
  content: '';
  position: absolute;
  top: calc(-1 * var(--borderWidth));
  left: calc(-1 * var(--borderWidth));
  height: calc(100% + var(--borderWidth) * 2);
  width: calc(100% + var(--borderWidth) * 2);
  background: repeating-linear-gradient(
    60deg, 
    var(--ion-color-light),
    var(--ion-color-primary),
    var(--ion-color-light),
    var(--ion-color-light),
    var(--ion-color-primary),
    var(--ion-color-light),
    var(--ion-color-light),
    var(--ion-color-primary),
    var(--ion-color-light),
    var(--ion-color-light),
    var(--ion-color-primary),
    var(--ion-color-light)
  );
  border-radius: calc(4 * var(--borderWidth));
  z-index: -1;
  animation: animatedgradient 24s linear infinite;
  background-size: 300% 300%;
}


@keyframes animatedgradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}