main {
  max-width: 700px;
  margin: auto;
  padding: 0px 16px;
}

header {
  margin-top: 16px;

  ion-card {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 16px;

    article.profile {
      display: flex;
      gap: 16px;
      justify-content: space-between;

      h5 {
        color: var(--ion-text-color);
      }

      ion-avatar {
        min-width: clamp(64px, 20vw, 128px);
        min-height: clamp(64px, 20vw, 128px);
      }
    }

    section {
      display: flex;
      gap: 32px;
      flex-wrap: wrap;

      article {
        display: flex;
        flex-direction: column;
        text-align: center;
        color: var(--ion-text-color);

        .number {
          font-size: large;
          font-weight: bold;
        }
      }
    }
  }

  ion-button {
    width: fit-content;
  }
}

.fat-text-button {
  margin-left: 3px;
  font-weight: bold;
  cursor: pointer;
  color: var(--ion-color-primary);
}

.clickable {
  cursor: pointer;
}

h2 {
  color: var(--ion-color-primary);
}

section.goals {
  display: flex;
  flex-direction: column;
}

ul {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin: 0;

  small {
    display: flex;
    gap: 4px;
    align-items: flex-start;
  }
}

.gradient-border {
  --borderWidth: 3px;
  background: #1D1F20;
  position: relative;
  border-radius: var(--borderWidth);
}
.gradient-border:after {
  content: '';
  position: absolute;
  top: calc(-1 * var(--borderWidth));
  left: calc(-1 * var(--borderWidth));
  height: calc(100% + var(--borderWidth) * 2);
  width: calc(100% + var(--borderWidth) * 2);
  background: repeating-linear-gradient(
    60deg, 
    var(--ion-color-light),
    var(--ion-color-primary),
    var(--ion-color-light),
    var(--ion-color-light),
    var(--ion-color-primary),
    var(--ion-color-light),
    var(--ion-color-light),
    var(--ion-color-primary),
    var(--ion-color-light),
    var(--ion-color-light),
    var(--ion-color-primary),
    var(--ion-color-light)
  );
  border-radius: calc(4 * var(--borderWidth));
  z-index: -1;
  animation: animatedgradient 24s linear infinite;
  background-size: 300% 300%;
}


@keyframes animatedgradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}