main {
  max-width: var(--page-max-width);
  margin: auto;

  section {
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding: 16px;
  
    ion-list {
      ion-item {
        small {
          color: var(--ion-color-medium);
        }
  
        ion-label {
          display: flex;
          gap: 4px;
        } 
      }
  
      article {
        display: block;
        padding-inline: 16px;
        white-space: pre-wrap;
        text-align: center;
        margin-block: 16px;
  
        div {
          display: flex;
          gap: 16px;
          justify-content: center;
        }
      }
    }
  }
}
