<strive-header-root title="Supports"></strive-header-root>

<ng-container *ngIf="(uid$ | async) === undefined">
  <strive-page-loading></strive-page-loading>
</ng-container>

<ng-container *ngIf="(uid$ | async) === ''">
  <div class="not-logged-in">
    <p>
      <span class="fat-text-button" (click)="openAuthModal()">Log in</span>to view your supports
    </p>
  </div>
</ng-container>

<ion-content class="ion-no-padding" *ngIf="uid$ | async">
  <ion-refresher slot="fixed" (ionRefresh)="refresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <main>

    <section *ngIf="objectivesWithSupports$ | async as goals; else loading">
      <ion-list *ngFor="let goal of goals" mode="md">
        <ion-item lines="none" *ngIf="goal.supports.length">
          <ion-label>
            <small><a [routerLink]="'../goal/' + goal.id">{{ goal.title }}</a></small>
            <ng-template [ngTemplateOutlet]="goalStatus" [ngTemplateOutletContext]="{ $implicit: goal }"></ng-template>
          </ion-label>
        </ion-item>

        <ng-container *ngFor="let support of goal.supports">
          <article *ngIf="support.needsDecision">
            <small>Goal has been finished. Decide to give support or not.</small>
            <div>
              <ion-button (click)="give(support)" color="secondary" size="small">
                Give
              </ion-button>
              <ion-button (click)="reject(support)" fill="outline" size="small">
                Reject
              </ion-button>
            </div>
          </article>
          <ion-item lines="inset" button [disabled]="support.status !== 'open'">
            <support-pledge [support]="support"></support-pledge>
          </ion-item>
        </ng-container>

        <ng-container *ngFor="let milestone of goal.milestones">
          <ion-item lines="none">
            <ion-label>
              <small><a [routerLink]="'../goal/' + goal.id">{{ goal.title | mSlice}}</a>&nbsp;<span>&#8702;</span> {{ milestone.content | mSlice }}</small>
              <ng-template [ngTemplateOutlet]="milestoneStatus" [ngTemplateOutletContext]="{ $implicit: milestone }"></ng-template>
            </ion-label>
          </ion-item>
          <ng-container *ngFor="let support of milestone.supports">
            <article *ngIf="support.needsDecision">
              <small>Milestone has been completed {{ milestone.status === 'succeeded' ? 'successfully' : 'unsuccessfully'}}. Decide to give support or not.</small>
              <div>
                <ion-button (click)="give(support)" color="secondary" size="small">
                  Give
                </ion-button>
                <ion-button (click)="reject(support)" fill="outline" size="small">
                  Reject
                </ion-button>
              </div>
            </article>

            <ion-item lines="inset" button [disabled]="support.status !== 'open'">
              <support-pledge [support]="support"></support-pledge>
            </ion-item>
          </ng-container> 
        </ng-container>
      </ion-list>
    </section>
      
  </main>
</ion-content>

<ng-template #loading>
  <strive-page-loading></strive-page-loading>
</ng-template>

<ng-template #milestoneStatus let-milestone>
  <small *ngIf="milestone.status === 'succeeded'">(achieved)</small>
  <small *ngIf="milestone.status === 'failed'">(not achieved)</small>
</ng-template>

<ng-template #goalStatus let-goal>
  <small *ngIf="goal.isFinished">(finished)</small>
</ng-template>