main {
  max-width: var(--page-max-width);
  margin: auto;

  section.needs-decision {
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding: 16px;
  }

  section.segment {
    padding: 16px;
  }

  ion-list {
    ion-label {
      display: flex;
      flex-direction: column;
    }
  }
}

h5 {
  padding-inline: 16px;
}

article {
  display: flex;
  flex-direction: column;

  small {
    white-space: nowrap;
  }
}

ion-thumbnail {
  position: relative;
  border-radius: 12px;

  img {
    border-radius: 12px;
    object-fit: cover;
  }
}
