<strive-header-root title="Supports"></strive-header-root>

<ng-container *ngIf="user.uid === undefined">
  <strive-page-loading></strive-page-loading>
</ng-container>

<ng-container *ngIf="user.uid === ''">
  <div class="not-logged-in">
    <p>
      <span class="fat-text-button" (click)="openAuthModal()">Log in</span>to view your supports
    </p>
  </div>  
</ng-container>

<ion-content class="ion-padding" *ngIf="!!user.uid">
  <ion-refresher slot="fixed" (ionRefresh)="refresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <main>
    <ng-container *ngIf="supportsNeedDecision$ | async as goals">
      <section *ngIf="goals.length" class="needs-decision">
        <ng-container *ngFor="let goal of goals">

          <ng-container *ngIf="goal.supports.length; else milestones">
            <ion-list mode="md">
              <h5>Goal "<a [routerLink]="['/goal', goal.id]">{{ goal.title }}</a>" has been finished</h5>

              <ion-item *ngFor="let support of goal.supports" lines="inset">
                <ng-container *ngTemplateOutlet="supportTemplate; context: { $implicit: support }"></ng-container>
              </ion-item>

              <ng-container *ngFor="let milestone of goal.milestones">
                <ion-item *ngFor="let support of milestone.supports" lines="inset">
                  <ng-container *ngTemplateOutlet="supportTemplate; context: { $implicit: support }"></ng-container>
                </ion-item>
              </ng-container>

            </ion-list>
          </ng-container>

          <ng-template #milestones>
            <ng-container *ngIf="goal.milestones.length > 1; else oneMilestone">
              <ion-list mode="md">
                <h5>Several milestones of goal "<a [routerLink]="['/goal', goal.id]">{{ goal.title }}</a>" have been completed</h5>
  
                <ng-container *ngFor="let milestone of goal.milestones">
                  <ion-item *ngFor="let support of milestone.supports; let last = last" [lines]="last ? 'none' : 'inset'">
                    <ng-container *ngTemplateOutlet="supportTemplate; context: { $implicit: support }"></ng-container>                
                  </ion-item>
                </ng-container>
  
              </ion-list>
            </ng-container>

            <ng-template #oneMilestone>
              <ion-list *ngIf="goal.milestones[0] as milestone" mode="md">
                <h5>Milestone "{{ milestone.content }}" of goal "<a [routerLink]="['/goal', goal.id]">{{ goal.title }}</a>" has been completed</h5>

                <ion-item *ngFor="let support of milestone.supports; let last = last" [lines]="last ? 'none' : 'inset'">
                  <ng-container *ngTemplateOutlet="supportTemplate; context: { $implicit: support }"></ng-container>
                </ion-item>
              </ion-list>
            </ng-template>
          </ng-template>
        </ng-container>

      </section>
    </ng-container>

    <ng-container *ngIf="fromYouSupports$ | async as fromYouSupports; else loading">
    <ng-container *ngIf="toYouSupports$ | async as toYouSupports; else loading">

      <ion-segment [value]="segmentChoice" (ionChange)="segmentChanged($event)" mode="md">
        <ion-segment-button value="fromYou">
          FROM YOU <ng-container *ngIf="fromYouSupports | filterStatus:'open' as open">{{ open.length ? '(' + open.length + ')' : '' }}</ng-container>
        </ion-segment-button>
        <ion-segment-button value="forYou">
          FOR YOU <ng-container *ngIf="toYouSupports | filterStatus:'open' as open">{{ open.length ? '(' + open.length + ')' : '' }}</ng-container>
        </ion-segment-button>
      </ion-segment>

      <ng-container [ngSwitch]="segmentChoice">
        <section *ngSwitchCase="'fromYou'" class="segment">

          <ng-container *ngIf="fromYouSupports.length else noFromYou">
            <ion-list mode="md">
              <ion-item *ngFor="let support of fromYouSupports; let last = last" [lines]="last ? 'none' : 'inset'" [disabled]="support.status !== 'open'">
                <ion-thumbnail slot="start">
                  <img [ref]="support.source.goal.image" asset="goal.png"/>
                </ion-thumbnail>
                <ion-label class="ion-text-wrap">
                  <article>
                    <span><b>{{ support.description }}</b> {{ support.status !== 'open' ? '(Given)' : '' }}</span>
                    <ng-template [ngTemplateOutlet]="path" [ngTemplateOutletContext]="{ $implicit: support }"></ng-template>
                    <small>Recipient: {{ support.source.recipient.username }}</small>
                  </article>
                </ion-label>
                <ion-button fill="clear" (click)="openOptions(support, $event)">
                  <ion-icon slot="icon-only" name="ellipsis-vertical"></ion-icon>
                </ion-button>
              </ion-item>
            </ion-list>
          </ng-container>

        </section>
        <section *ngSwitchCase="'forYou'" class="segment">

          <ng-container *ngIf="toYouSupports.length else noToYou">
            <ion-list mode="md">
              <ion-item *ngFor="let support of toYouSupports; let last = last" [lines]="last ? 'none' : 'inset'" [disabled]="support.status !== 'open'">
                <ion-thumbnail slot="start">
                  <img [ref]="support.source.goal.image" asset="goal.png"/>
                </ion-thumbnail>
                <ion-label class="ion-text-wrap">
                  <article>
                    <span><b>{{ support.description }}</b> {{ support.status !== 'open' ? '(Received)' : '' }}</span>
                    <ng-template [ngTemplateOutlet]="path" [ngTemplateOutletContext]="{ $implicit: support }"></ng-template>
                    <small>Supporter: {{ support.source.supporter.username }}</small>
                  </article>
                </ion-label>
              </ion-item>
            </ion-list>
          </ng-container>

        </section>
      </ng-container>

    </ng-container>
    </ng-container>
      
  </main>
</ion-content>

<ng-template #noFromYou>
  <p>You're not supporting any goals yet. Give incentive to yourself or someone else by rewarding one of their objectives.</p>
</ng-template>

<ng-template #noToYou>
  <p>No one is supporting you yet. Share your goals to find out someone might be able to help.</p>
</ng-template>

<ng-template #path let-support>
  <small *ngIf="!support.source.milestone?.id">Goal: <a [routerLink]="'../goal/' + (support.source.goal.id)">{{ support.source.goal.title }}</a></small>
  <small *ngIf="support.source.milestone?.id">Goal: <a [routerLink]="'../goal/' + (support.source.goal.id)">{{ support.source.goal.title | mSlice}}</a>&nbsp;<span>&#8702;</span> {{ support.source.milestone.content | mSlice }}</small>
</ng-template>

<ng-template #supportTemplate let-support>
  <ion-label class="ion-text-wrap">
    <article>
      <span>Support: <b>{{ support.description }}</b></span>
      <small>Recipient: {{ support.source.recipient.username }}</small>
      <small *ngIf="support.source.milestone?.id">Milestone: {{ support.source.milestone.content }}</small>
    </article>
  </ion-label>
  <ion-button color="primary" (click)="give(support)">
    Give
  </ion-button>
  <ion-button fill="outline" (click)="reject(support)">
    Reject
  </ion-button>
</ng-template>

<ng-template #loading>
  <strive-page-loading></strive-page-loading>
</ng-template>