main {
  max-width: var(--page-max-width);
  margin: auto;

  section {
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding: 16px;

    support-list small {
      color: var(--ion-color-medium);
    }
  }
}
