<ng-container *ngIf="pageIsLoading">
  <strive-page-loading></strive-page-loading>
</ng-container>

<ng-container *ngIf="!canAccess && !pageIsLoading">
  <strive-page-not-found></strive-page-not-found>
</ng-container>

<ng-container *ngIf="canAccess && !pageIsLoading">
  <ion-toolbar mode="md">
    <ion-segment [value]="segmentChoice" (ionChange)="segmentChanged($event)" class="ion-align-self-center">
      <ion-segment-button value="goal">
        Goal
      </ion-segment-button>
      <ion-segment-button value="roadmap">
        Roadmap
      </ion-segment-button>
      <ion-segment-button value="story">
        Story
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ng-container>

<ion-content class="ion-padding" [ngSwitch]="segmentChoice" *ngIf="canAccess && !pageIsLoading">

  <section *ngSwitchCase="'goal'">
    <journal-goal></journal-goal>
  </section>

  <!-- Roadmap -->
  <section *ngSwitchCase="'roadmap'">
    <journal-goal-roadmap [goal]="goal"></journal-goal-roadmap>
  </section>

  <!-- Posts -->
  <section *ngSwitchCase="'story'">
    <journal-goal-posts [goal]="goal"></journal-goal-posts>
  </section>

</ion-content>
