<ng-container *ngIf="(isLoggedIn$ | async) === false">
  <strive-header-root></strive-header-root>
</ng-container>

<ng-template #loading>
  <strive-page-loading></strive-page-loading>
</ng-template>

<ng-template #noAccess>
  <strive-404></strive-404>
</ng-template>

<ng-container *ngIf="!pageIsLoading else loading">
<ng-container *ngIf="canAccess; else noAccess">
<ng-container *ngIf="goal$ | async as goal">
<ng-container *ngIf="stakeholder$ | async as stakeholder">
  
  <ion-segment [value]="segmentChoice" (ionChange)="segmentChanged($event)" mode="md">
    <ion-segment-button value="goal">
      Goal
    </ion-segment-button>
    <ion-segment-button value="story">
      Story
    </ion-segment-button>
    <ion-segment-button value="chat" *ngIf="stakeholder.isAdmin || stakeholder.isAchiever || stakeholder.isSupporter">
      Chat <ng-container *ngIf="unreadMessages$ | async as messages">({{messages}})</ng-container>
    </ion-segment-button>
  </ion-segment>
  
  <ng-container [ngSwitch]="segmentChoice">
  
    <ion-content *ngSwitchCase="'goal'" class="ion-no-padding">
      <journal-goal
        [goal]="goal"
        [stakeholder]="stakeholder"
        [story]="story$ | async"
        (segmentChange)="segmentChoice = $event"
      ></journal-goal>
    </ion-content>
  
    <ion-content *ngSwitchCase="'story'" class="ion-padding">
      <ng-container *ngIf="story$ | async as story; else loading">
        <journal-goal-story [story]="story" [isAdmin]="stakeholder.isAdmin" [goalId]="goal.id"></journal-goal-story>
      </ng-container>
    </ion-content>
    
    <strive-chat *ngSwitchCase="'chat'" [goal]="goal$ | async"></strive-chat>
  
  </ng-container>
  
  <ng-container *ngIf="stakeholder.isAdmin">
    <ion-fab *ngIf="segmentChoice === 'story' || segmentChoice === 'goal'" vertical="bottom" horizontal="end" slot="fixed">
      <ion-fab-button (click)="createCustomPost(goal)"><ion-icon name="add"></ion-icon></ion-fab-button>
    </ion-fab>
  </ng-container>

</ng-container>
</ng-container>
</ng-container>
</ng-container>
