ion-segment {
  max-width: 800px;
  margin: auto;
}

journal-goal, journal-goal-story {
  display: block;
  max-width: 800px;
  margin: auto;
}

ion-content {
  -webkit-user-select: text;
  -moz-user-select: text;
  -ms-user-select: text;
  user-select: text;
}
