<ng-container *ngIf="(isLoggedIn$ | async) === false">
  <strive-header-root></strive-header-root>
</ng-container>

<ng-template #loading>
  <strive-page-loading></strive-page-loading>
</ng-template>

<ng-template #noAccess>
  <strive-404></strive-404>
</ng-template>

<ng-container *ngIf="!pageIsLoading else loading">
<ng-container *ngIf="canAccess; else noAccess">

  <ion-content class="ion-no-padding">
    <journal-goal
      [goal]="goal$ | async"
      [stakeholder]="stakeholder$ | async"
      [story]="story$ | async"
    ></journal-goal>
  </ion-content>
  
</ng-container>
</ng-container>
