

ion-segment {
  max-width: 800px;
  margin: auto;
}

.vertical-align-content {
  max-width: 800px;
  margin: auto;
  padding-top: 15px;
}

ion-content {
  -webkit-user-select: text;
  -moz-user-select: text;
  -ms-user-select: text;
  user-select: text;
}
