section.ios-header {
  display: flex;
  align-items: center;
  width: 100%;
}

ion-segment {
  max-width: var(--page-max-width);
  margin: auto;
}

journal-goal, journal-goal-story {
  display: block;
  max-width: var(--page-max-width);
  margin: auto;
}

ion-content {
  -webkit-user-select: text;
  -moz-user-select: text;
  -ms-user-select: text;
  user-select: text;
}
