<ion-list mode="md">
  <!-- <ion-item (click)="close(enumGoalOptions.EditNotificationSettings)" button>Edit Notification Settings</ion-item> -->
  <ion-item [lines]="isAdmin ? 'inset' : 'none'" (click)="close(enumGoalOptions.duplicateGoal)" button>Duplicate Goal</ion-item>
  <!-- <ion-item (click)="close(enumGoalOptions.leaveGoal)" *ngIf="!_isFinished" button>Leave Goal</ion-item> -->
  <ng-container *ngIf="isAdmin">
    <ion-item (click)="close(enumGoalOptions.finishGoal)" *ngIf="!isFinished" button>Finish Goal</ion-item>
    <ion-item (click)="close(enumGoalOptions.editGoal)" button>Edit Goal</ion-item>
    <ion-item lines="none" (click)="close(enumGoalOptions.deleteGoal)" button>Delete Goal</ion-item>
  </ng-container>
</ion-list>