ion-toolbar {
    --background: var(--ion-color-primary);
    color: var(--ion-color-primary-contrast);
}

h4 {
    color: var(--ion-color-primary);
}

.days-list {
    ion-item {
        height: 36px;
    }
    ion-label {
        padding-left: 5px;
    }
}