<ion-list>
  <ion-item (click)="close(enumCollectiveGoalOptions.ViewNotifications)" button>Notifications</ion-item>
  <ion-item (click)="close(enumCollectiveGoalOptions.EditNotificationSettings)" button>Edit Notification Settings</ion-item>
  <ion-item (click)="close(enumCollectiveGoalOptions.editCollectiveGoal)" *ngIf="_isAdmin" button>Edit Collective Goal</ion-item>
  <ion-item (click)="close(enumCollectiveGoalOptions.deleteCollectiveGoal)" *ngIf="_isAdmin" button>Delete Collective Goal</ion-item>
</ion-list>