<!-- Android or iOS header -->
<ion-header *ngIf="_platform.is('android') || _platform.is('ios')">
  <ion-toolbar>
    <ion-buttons slot="secondary">
      <ion-button (click)="cancel()">
        <ion-icon name="close"></ion-icon>Cancel
      </ion-button>
    </ion-buttons>
    <ion-title color="primary">Edit Roadmap</ion-title>
    <ion-buttons slot="primary">
      <ion-button (click)="save()">
        <ion-icon name="checkmark"></ion-icon>Save
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
  <ion-toolbar>
    <ion-grid class="ion-no-padding">
      <ion-row class="ion-no-padding">
        <ion-col size="2" class="ion-no-padding">
          <ion-input [(ngModel)]="newSequenceNumber"></ion-input>
        </ion-col>
        <ion-col class="ion-no-padding">
          <ion-searchbar placeholder="Add milestone" search-icon="add"
            (keydown.enter)="addMilestone(addMilestonebar.value)" #addMilestonebar></ion-searchbar>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-header>

<!-- Browser header -->
<div *ngIf="!_platform.is('android') && !_platform.is('ios')">
  <div class="header">
    <h1>Edit Roadmap</h1>
  </div>

  <div class="sub-header">
    <ion-button (click)="cancel()" color="primary" fill="clear">
      <ion-icon name="close" color="primary"></ion-icon>Cancel
    </ion-button>
    <ion-button (click)="save()" color="primary" fill="clear">
      <ion-icon name="checkmark" color="primary"></ion-icon>Save changes
    </ion-button>
  </div>

  <div class="center">
    <div class="not-too-wide">
      <ion-row class="ion-no-padding">
        <ion-col size="1" class="ion-no-padding">
          <div class="seqno-input">
            <ion-input [(ngModel)]="newSequenceNumber"></ion-input>
          </div>
        </ion-col>
        <ion-col class="ion-no-padding">
          <ion-searchbar placeholder="Add milestone" search-icon="add"
            (keydown.enter)="addMilestone(addMilestonebar.value)" #addMilestonebar></ion-searchbar>
        </ion-col>
      </ion-row>
    </div>
  </div>
</div>

<ion-content class="ion-padding">
  <div class="center">
    <div class="limited-width">

      <div class="explanation" *ngIf="milestoneTemplate?.length === 0">
        <span class="center">This is how it works</span>
        <ion-img src="assets/pages/roadmap/How to edit roadmap.gif"></ion-img>
      </div>

      <ion-list>
        <ion-item *ngFor="let milestone of milestoneTemplate">
          <ion-grid class="ion-no-padding" fixed="true">
            <ion-row class="ion-no-padding ion-justify-content-start">
              <ion-col class="ion-no-padding" size="2">
                <ion-input [ngStyle]="{'margin-left': getMargin(milestone.sequenceNumber)}"
                  (ionInput)="onSequenceNumberInput($event, milestone.sequenceNumber)"
                  (ionFocus)="onSequenceNumberFocus(milestone.sequenceNumber)"
                  (ionBlur)="onSequenceNumberBlur($event, milestone.sequenceNumber)"
                  [(ngModel)]="milestone.sequenceNumber">
                </ion-input>

              </ion-col>
              <ion-col class="ion-no-padding">
                <ion-input [ngStyle]="{'margin-left': getMargin(milestone.sequenceNumber)}"
                  [(ngModel)]="milestone.description"></ion-input>
              </ion-col>
              <ion-col size-xl="2" size-lg="2" size-md="2" size-sm="1" size-xs="1">
                <div class="box">
                  <ion-datetime class="ion-no-padding" placeholder="-- -- --" displayFormat="DD-MM-YY"
                    pickerFormat="DDDD MMMM YYYY" [value]="milestone.deadline"
                    (click)="_openingDatetime($event, milestone)" (ionChange)="onDeadlineDateChange($event, milestone)">
                  </ion-datetime>
                  <fa-icon [icon]="['fas', 'stopwatch']"></fa-icon>
                </div>
              </ion-col>
              <ion-col size="1">
                <ion-icon name="trash" (click)="deleteMilestone(milestone.sequenceNumber)"></ion-icon>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-item>
      </ion-list>
    </div>
  </div>
</ion-content>