<strive-header-root title="Exercises"/>

<ion-content class="ion-padding">
  <main>
    <h1 *ngIf="(isMobile$ | async) === false">Exercises</h1>

    <section *ngIf="exercises$ | async as exercises; else loading">
      <ng-container *ngFor="let exercise of exercises">
        <strive-small-thumbnail [title]="exercise.title" [asset]="exercise.image" [routerLink]="exercise.link">
          <article>
            <small [ngClass]="{'active': exercise.isActive}">{{ exercise.description }}</small>
            <ng-container *ngIf="exercise.id === 'DearFutureSelf'">
              <small class="active" *ngIf="exercise.setting | nextLetter as next">Next letter in {{ next.deliveryDate | timeToGo }}</small>
            </ng-container>
          </article>
        </strive-small-thumbnail>
      </ng-container>
    </section>

    <ng-template #loading>
      <strive-page-loading/>
    </ng-template>
  </main>
</ion-content>