<strive-header-root title="Exercises" color="primary"/>

<ion-content class="ion-padding">
  <main>
    <h1 *ngIf="(isMobile$ | async) === false">Exercises</h1>

    <section *ngIf="exercises$ | async as settings; else loading">
      <ng-container *ngFor="let exercise of exercises">
        <strive-small-thumbnail [title]="exercise.title" [asset]="exercise.image" [routerLink]="exercise.link">
          <ng-container [ngSwitch]="exercise.id">

            <ng-container *ngSwitchCase="'Affirmations'">

              <ng-container *ngIf="settings | get:'Affirmations' as setting; else notSet">
                <ng-container *ngIf="setting.affirmations?.length; else notSet">
                  <article>
                    <small>{{ setting.affirmations.length }} {{ setting.affirmations.length === 1 ? 'Affirmation' : 'Affirmations' }} set</small>
                  </article>
                </ng-container>
              </ng-container>

            </ng-container>
            <ng-container *ngSwitchCase="'DearFutureSelf'">

              <ng-container *ngIf="settings | get:'DearFutureSelf' as setting; else notSet">
                <ng-container *ngIf="setting?.messages?.length; else notSet">
                  <article>
                    <small>{{ (setting | received)?.length }}/{{ setting.messages.length }} Letters received</small>
                    <small *ngIf="setting | nextLetter as next">Next letter in {{ next.deliveryDate | timeToGo }}</small>
                  </article>
                </ng-container>
              </ng-container>

            </ng-container>
            <ng-container *ngSwitchCase="'DailyGratitude'">

              <ng-container *ngIf="settings | get:'DailyGratitude' as setting; else notSet">
                <ng-container *ngIf="setting.on else notSet">
                  <article>
                    <small>Receiving daily at {{ setting.time | date:'shortTime'}}</small>
                  </article>
                </ng-container>
              </ng-container>

            </ng-container>

            <ng-container *ngSwitchCase="'WheelOfLife'">

              <ng-container *ngIf="settings | get:'WheelOfLife' as setting; else notSet">
                <ng-container *ngIf="setting.interval !== 'never'; else notSet">
                  <article>
                    <small>Receiving reminder {{ setting.interval }}</small>
                  </article>
                </ng-container>
              </ng-container>

            </ng-container>
          </ng-container>

          <ng-template #notSet>
            <small>{{ exercise.description }}</small>
          </ng-template>
        </strive-small-thumbnail>
      </ng-container>
    </section>

    <ng-template #loading>
      <strive-page-loading/>
    </ng-template>

  </main>

</ion-content>