main {
  max-width: 700px;
  margin: auto;
}

h1 {
  color: var(--ion-color-primary);
}

section {
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));

  article {
    margin-top: 4px;
    display: flex;
    flex-direction: column;

    small {
      color: var(--ion-color-secondary);
    }
  }

  small {
    color: var(--ion-color-medium);
  }
}