<!-- Mobile -->
<ng-container *ngIf="_platform.is('android') || _platform.is('ios') else browser">

  <ion-card (click)="navToGoal()">
    <div class="image-container">
      <img class="isFinished" [src]="_imageThumbURL"/>
      <div class="after" *ngIf="isFinished">finished</div>
    </div>
    <ion-card-content class="ion-no-padding content-container">
      <ion-grid class="ion-no-padding">
        <ion-row class="ion-no-padding">
          <ion-col size="12">
            <h2 class="card-title">
              <ion-icon *ngIf="!isPublic" name="lock-closed"></ion-icon> {{ title }}
            </h2>
          </ion-col>
        </ion-row>
        <ion-row class="stakeholder-numbers" *ngIf="isTemplate">
          {{ numberOfTimesUsed || 0}} times used
        </ion-row>
        <ion-row class="stakeholder-numbers" *ngIf="numberOfSupporters">
          {{ numberOfSupporters }} Supporters
        </ion-row>
        <ion-row class="stakeholder-numbers" *ngIf="numberOfAchievers">
          {{ numberOfAchievers }} Achievers
        </ion-row>
      </ion-grid>
      <div class="after" *ngIf="isFinished"></div>
    </ion-card-content>
  </ion-card>

</ng-container>
<ng-template #browser>

  <section class="clickable margin" (click)="navToGoal()">
    <div class="image-container">
        <img class="isFinished" [src]="_imageThumbURL"/>
        <div class="after" *ngIf="isFinished">finished</div>
    </div>
    <div class="description-container">
        <div class="wrap details">
            <div *ngIf="isTemplate">
                {{ numberOfTimesUsed || 0 }} times used
            </div>
            <div class="numberOfAchievers" *ngIf="!isTemplate">
                <ion-icon name="flag"></ion-icon>{{ numberOfAchievers || 0}}
            </div>
            <div class="numberOfSupporters" *ngIf="numberOfSupporters">
                <fa-icon [icon]="['fas', 'hand-holding-heart']"></fa-icon>{{ numberOfSupporters}}
            </div>
            <div class="deadline" *ngIf="deadline">
                <fa-icon [icon]="['fas', 'stopwatch']"></fa-icon>{{ deadline }}
            </div>
        </div>
        <div class="title">
            {{ title }}
        </div> 
    </div>
  </section>

</ng-template>