<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Collective Goals</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ng-container *ngIf="collectiveGoals$ | async as collectiveGoals; else loading">
    <table>
      <tr>
        <th>id</th>
        <th>title</th>
        <th>created at</th>
      </tr>
      <tr *ngFor="let collectiveGoal of collectiveGoals">
        <td>{{ collectiveGoal.id }}</td>
        <td>{{ collectiveGoal.title }}</td>
        <td>{{ collectiveGoal.createdAt.toDate() | date:'fullDate' }}</td>
      </tr>
    </table>
  </ng-container>

  <ng-template #loading>
    <strive-page-loading></strive-page-loading>
  </ng-template>
</ion-content>
