main {
  max-width: 700px;
  margin: auto;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

h1 {
  color: var(--ion-color-primary);
}

.explanation {
  color: var(--ion-color-medium);
  
  .read-more {
    cursor: pointer;
  }
}

ion-list {
  overflow: hidden;

  ion-item {
    --highlight-background: var(--ion-color-primary); 
  }

  ion-button {
    display: block;
  }
}

.warning {
  color: var(--ion-color-danger);
  text-align: center;
}

.suggestions {
  margin-top: 16px;

  header {
    display: flex;
    justify-content: space-between;
  
    ion-select {
      margin-top: 8px;
    }

    ion-icon:hover {
      color: var(--ion-color-primary)
    }
  }
}