main {
  max-width: 700px;
  margin: auto;
}

h1 {
  color: var(--ion-color-primary);
}

.read-more {
  cursor: pointer;
}

ion-list {
  border-radius: 12px;
  overflow: hidden;

  ion-item {
    --highlight-background: var(--ion-color-primary); 
  }
}

.warning {
  color: var(--ion-color-danger);
  text-align: center;
}

.suggestions {
  margin-top: 26px;

  header {
    display: flex;
    justify-content: space-between;
  
    ion-select {
      margin-top: 8px;
    }

    ion-icon:hover {
      color: var(--ion-color-primary)
    }
  }
}