<strive-header title="Affirmations" defaultBack="/exercise"></strive-header>

<ion-content class="ion-padding">
  <main>
    <h1 *ngIf="(screensize.isMobile$ | async) === false">Affirmations</h1>
    <p>
      An affirmation is a short, powerful statement.
      They allow you to conciously be in control of your thoughts.
      When you say or think them, they become thoughts that shape your reality. 
      <span class="read-more" (click)="openExplanation()">Learn more...</span>
    </p>

    <ng-container *ngIf="!isLoading else loading">
      <ng-container *ngIf="user.uid else login">

        <exercises-activate-push-notification></exercises-activate-push-notification>

        <h3>Set Affirmation Time</h3>
        <small>Choose up to 3 times during the day, at which you would like to receive a random affirmation.</small>
        <ion-list mode="md">
          <ng-container *ngFor="let time of times; let i = index; let last = last">
            <ion-item (click)="openDatetime(i)" [lines]="last ? 'none' : 'inset'">
              <ion-label>Set time {{ i + 1 }}</ion-label>
              <ion-text>{{ time ? (time | date:'HH:mm') : '--:--'}}</ion-text>
              <ion-icon class="remove-item-icon remove-set-time-icon" (click)="removeSetTime(i)" name="close-circle"></ion-icon> 
            </ion-item>
          </ng-container>
        </ion-list>

        <h3>Affirmations</h3>
        <ion-list mode="md">
          <ion-item *ngFor="let control of affirmationsForm.controls; let i = index; let last = last" [lines]="last ? 'none' : 'inset'">
            <ion-input class="ion-text-wrap" type="text" placeholder="Enter affirmation" [formControl]="control"></ion-input>
            <ion-icon *ngIf="control.value !== ''" class="remove-item-icon" (click)="removeAffirmation(i)" name="close-circle"></ion-icon>
          </ion-item>
        </ion-list>

        <p class="warning" *ngIf="affirmationsButNoTime()"><small>Please don't forget to set a time so you receive your affirmations</small></p>

        <section class="suggestions">
          <header>
            <h4>Suggestions</h4>
            <ion-select [value]="enumAffirmationCategory.all" interface="popover" (ionChange)="filterSuggestions($event.detail.value)">
              <ion-select-option [value]="enumAffirmationCategory.all">All</ion-select-option>
              <ion-select-option [value]="enumAffirmationCategory.health">Health</ion-select-option>
              <ion-select-option [value]="enumAffirmationCategory.personal_development">Personal Development</ion-select-option>
              <ion-select-option [value]="enumAffirmationCategory.motivation">Motivation</ion-select-option>
              <ion-select-option [value]="enumAffirmationCategory.positive_mindset">Positive Mindset</ion-select-option>
              <ion-select-option [value]="enumAffirmationCategory.money">Money</ion-select-option>
              <ion-select-option [value]="enumAffirmationCategory.love">Love</ion-select-option>
            </ion-select>  
          </header>
      
          <ion-list mode="md">
            <ion-item *ngFor="let suggestion of suggestions; let last = last" [lines]="last ? 'none' : 'inset'">
              <ion-label class="ion-text-wrap">{{ suggestion.affirmation }}</ion-label>
              <ion-icon (click)="addSuggestion(suggestion)" name="add-circle"></ion-icon>
            </ion-item>
          </ion-list>
        </section>
      </ng-container>
    </ng-container>

    <ng-template #loading>
      <strive-page-loading></strive-page-loading>
    </ng-template>

    <ng-template #login>
      <section class="not-logged-in">
        <p>
            <span class="fat-text-button" (click)="openAuthModal()">Log in</span>to set your Affirmations
        </p>
      </section>
    </ng-template>
  </main>
</ion-content>
