<strive-header title="Notifications" color="primary"></strive-header>

<ng-container *ngIf="(user.uid$ | async) !== undefined  else loading">
  <ng-container *ngIf="!!user.uid; else notLoggedIn">
    <ion-content>
      <section fxLayout="column" fxLayoutAlign="start">
        <ng-container *ngIf="notifications$ | async as notifications; else loading">
          <ng-container *ngIf="notifications.length; else empty">
            <ng-container *ngFor="let notification of notifications; let isLast = last; let index = index">
              <ng-container *ngIf="notification | message as _message">
                <article fxLayout fxLayoutGap="8px" class="clickable" [routerLink]="_message.link">
                  <img
                    [ref]="_message.image"
                    [asset]="_message.link.includes('profile') ? 'profile.png' : 'goal.png'"
                    [ngStyle]="{'border-radius': _message.link.includes('profile') ? '50%' : '12px'}"
                  />
                  <div>
                    <span>
                      <ng-container *ngFor="let message of _message.message">
                        <ng-container *ngIf="message.link; else noLink">
                          <a [routerLink]="'/' + message.link">{{ message.text }}</a>
                        </ng-container>
                        <ng-template #noLink>{{ message.text }}</ng-template>
                      </ng-container>
                    </span>
                    <small>{{ notification.createdAt | timeAgo }}</small>
                  </div>
                </article>

                <ng-container *ngIf="index === lastUnreadIndex">
                  <span *ngIf="!isLast" class="divider"></span>
                  <div class="unread">
                    <ion-icon name="chevron-up-outline"></ion-icon>
                    <small>unread notifications</small>
                    <ion-icon name="chevron-up-outline"></ion-icon>
                  </div>
                </ng-container>
                <span *ngIf="!isLast" class="divider"></span>
              </ng-container>
            </ng-container>
          </ng-container>  
        </ng-container>

        <ng-template #empty>
          No notifications
        </ng-template>
      </section>
    </ion-content>
  </ng-container>
</ng-container> 

<ng-template #notLoggedIn>
  <div class="not-logged-in">
    <p>
      <span class="fat-text-button" (click)="openLoginModal()">Log in</span>to view your notifications
    </p>
  </div>
</ng-template>

<ng-template #loading>
  <strive-page-loading></strive-page-loading>
</ng-template>