ion-content {
  background: #efefef;
}

.divider {
  width: 100%;
  margin-bottom: 16px;
  border-bottom: 1px solid var(--ion-item-border-color, var(--ion-border-color, var(--ion-color-step-150, rgba(0, 0, 0, 0.13))));
}

main {
  display: flex;
  flex-direction: column;
  margin: auto;
  padding: 16px 8px 0 8px;
  max-width: 700px;
}

h3 {
  color: var(--ion-color-primary);
}

.clickable {
  cursor: pointer;
}

article {
  display: flex;
  gap: 8px;
  margin-bottom: 16px;

  div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow: auto;
  }

  img {
    height: 40px;
    width: 40px;
  }
}


.unread {
  display: flex;
  gap: 8px;
  margin: auto auto 16px;
}