ion-content {
  background: #efefef;
}

ion-refresher {
  z-index: 1;
}

.divider {
  width: 100%;
  margin: 6px 0;
  border-bottom: 1px solid var(--ion-item-border-color, var(--ion-border-color, var(--ion-color-step-150, rgba(0, 0, 0, 0.13))));
}

section {
  padding-top: 16px;
  width: 800px;
  margin: auto;
}
