ion-segment {
    max-width: 800px;
    margin: auto;
}

ion-content {
    background: #efefef;
}

ion-refresher {
    z-index: 1;
}

.vertical-align-content {
    max-width: 800px;
    margin: auto;
}