<ion-content class="ion-no-padding">
  <section>
    <h1>Stay focused on your goals and help others achieve theirs</h1>
  </section>

  <section class="overview">

    <ul>
      <li>
        <img asset="theo-superman-square.svg">
        <article>
          <h3>Set Goals</h3>
          <p>Write down your goal, make a plan, ask others to join and start achieving (alone or together). Make a story about your journey to look back at what you've achieved with pride.</p>
          <ion-button fill="clear" (click)="openAuthModal()">
            <span>CREATE GOAL</span>
            <ion-icon name="arrow-forward-outline" slot="end"></ion-icon>
          </ion-button>
        </article>
      </li>

      <hr/>

      <li routerLink="/explore">
        <img asset="theo-thumb-square.svg">
        <article>
          <h3>Support</h3>
          <p>Put extra incentive on the line for others or yourself. You'll receive a notification once the goal or milestone is completed and then you can decide if you want to give the incentive or not.</p>
          <ion-button fill="clear">
            <span>EXPLORE AROUND</span>
            <ion-icon name="arrow-forward-outline" slot="end"></ion-icon>
          </ion-button>
        </article>
      </li>

      <hr/>

      <li routerLink="/exercise/dear-future-self" class="dear-future-self">
        <img asset="theo-contract-square.svg">
        <article>
          <h3>Dear Future Self</h3>
          <p>Write a letter to your future self. What does your live look like in 5 years? You'll be surprised how much of it will come true.</p>
          <ion-button fill="clear">
            <span>WRITE LETTER</span>
            <ion-icon name="arrow-forward-outline" slot="end"></ion-icon>
          </ion-button>
        </article>
      </li>

      <hr/>

      <li routerLink="/exercise/affirmations">
        <img asset="theo-magnet-square.svg">
        <article>
          <h3>Affirmations</h3>
          <p>Write a letter to your future self. What does your live look like in 5 years? You'll be surprised how much of it will come true.</p>
          <ion-button fill="clear">
            <span>START AFFIRMING</span>
            <ion-icon name="arrow-forward-outline" slot="end"></ion-icon>
          </ion-button>
        </article>
      </li>

      <hr/>

      <li routerLink="/exercise/daily-gratefulness">
        <img asset="theo-meditate-square.svg">
        <article>
          <h3>Daily Gratefulness</h3>
          <p>Write a letter to your future self. What does your live look like in 5 years? You'll be surprised how much of it will come true.</p>
          <ion-button fill="clear">
            <span>SET REMINDER</span>
            <ion-icon name="arrow-forward-outline" slot="end"></ion-icon>
          </ion-button>
        </article>
      </li>
    </ul>
  </section>

  <hr/>

  <section class="statistics">
    
    <h3>You're not alone</h3>
    <ul *ngIf="aggregation$ | async as a">
      <li>
        <span class="number">{{ a.goalsCreated }}</span>
        <span class="label">Goals created</span>
      </li>
  
      <li>
        <span class="number">{{ a.goalsCustomSupports }}</span>
        <span class="label">Supports for goals</span>
      </li>
  
      <li>
        <span class="number">{{ a.usersFutureLetterSent }}</span>
        <span class="label">Letters sent to Future Self</span>
      </li>
  
      <li>
        <span class="number">{{ a.usersAffirmationsSet }}</span>
        <span class="label">Affirmations set</span>
      </li>
  
      <li>
        <span class="number">{{ a.usersGratefulnessOn }}</span>
        <span class="label">Daily gratefulness reminders set</span>
      </li>
    </ul>

  </section>

  <hr/>

  <section class="blogs">
    <h3>Guides</h3>

    <article>
      <ion-card href="http://remcosimonides.com/2022/08/25/the-ultimate-guide-to-achieving-your-goals/" target="_blank">
        <img asset="goal-setting.png"/>
        <ion-card-header>
          <ion-card-title>The Ultime Guide to Achieving Goals</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <ion-text>
            What do you want to achieve? Is it worth the offers you have to make in order to achieve it? It is important to think about it beforehand.
            This guide walks you through important steps you have to think about before embarking on the journey...
          </ion-text>
          <ion-button fill="clear">
            <span>CONTINUE READING</span>
            <ion-icon name="arrow-forward-outline" slot="end"></ion-icon>
          </ion-button>
        </ion-card-content>
      </ion-card>

      <ion-card href="http://remcosimonides.com/2022/08/26/writing-to-your-future-self/" target="_blank">
        <img asset="future-self-letter.png"/>
        <ion-card-header>
          <ion-card-title>Writing to your Future Self</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <ion-text>
            What should you write in this letter? You can write a message from your current self to your future self, or try to predict what your future will look like.
            Chances are small you will remember sending the letter in a couple of years and your future self will be...
          </ion-text>
          <ion-button fill="clear">
            <span>CONTINUE READING</span>
            <ion-icon name="arrow-forward-outline" slot="end"></ion-icon>
          </ion-button>
        </ion-card-content>
      </ion-card>
    </article>

    <ion-button fill="clear" class="more" href="http://remcosimonides.com/category/achieving-goals/" target="_blank">
      <span>MORE GUIDES</span>
      <ion-icon name="arrow-forward-outline" slot="end"></ion-icon>
    </ion-button>

  </section>

  <footer>
    <article>
      <a routerLink="/terms">Terms of Use</a><br/>
      <a routerLink="/privacy-policy">Privacy Policy</a>
    </article>
  </footer>
</ion-content>
