<ion-content class="ion-no-padding">
  <section class="fade">
    <h1>Stay focused on your goals and help others achieve theirs</h1>
  </section>

  <section class="overview">

    <ul>
      <li>
        <img asset="theo-superman-square.svg" class="fade left">
        <article class="fade right">
          <h3>Set Goals</h3>
          <p>Write down your goal, make a plan, ask others to join and start achieving (alone or together). Make a story about your journey to look back at what you've achieved with pride.</p>
          <ion-button fill="clear" (click)="openAuthModal()">
            <span>CREATE GOAL</span>
            <ion-icon name="arrow-forward-outline" slot="end"></ion-icon>
          </ion-button>
        </article>
      </li>

      <hr class="fade right" />

      <li routerLink="/explore">
        <img asset="theo-thumb-square.svg" class="fade left">
        <article class="fade right">
          <h3>Support</h3>
          <p>Put extra incentive on the line for others or yourself. You'll receive a notification once the goal or milestone is completed and then you can decide if you want to give the incentive or not.</p>
          <ion-button fill="clear">
            <span>EXPLORE AROUND</span>
            <ion-icon name="arrow-forward-outline" slot="end"></ion-icon>
          </ion-button>
        </article>
      </li>

      <hr class="fade right" />

      <li routerLink="/exercise/dear-future-self" class="dear-future-self">
        <img asset="theo-contract-square.svg" class="fade left">
        <article class="fade right">
          <h3>Dear Future Self</h3>
          <p>Write a letter to your future self. What does your live look like in 5 years? You'll be surprised how much of it will come true.</p>
          <ion-button fill="clear">
            <span>WRITE LETTER</span>
            <ion-icon name="arrow-forward-outline" slot="end"></ion-icon>
          </ion-button>
        </article>
      </li>

      <hr class="fade right"/>

      <li routerLink="/exercise/affirmations">
        <img asset="theo-magnet-square.svg" class="fade left">
        <article class="fade right">
          <h3>Affirmations</h3>
          <p>Set your own affirmations and receive them at set times. Affirmations will help your mind to prioritize positive thoughts over negative thoughts.</p>
          <ion-button fill="clear">
            <span>START AFFIRMING</span>
            <ion-icon name="arrow-forward-outline" slot="end"></ion-icon>
          </ion-button>
        </article>
      </li>

      <hr class="fade right"/>

      <li routerLink="/exercise/daily-gratefulness">
        <img asset="theo-meditate-square.svg" class="fade left">
        <article class="fade right">
          <h3>Daily Gratefulness</h3>
          <p>What 3 things were you grateful for today? Receive a daily reminder and write down 3 things you were grateful for. Whatever you write down will be encrypted and saved.</p>
          <ion-button fill="clear">
            <span>SET REMINDER</span>
            <ion-icon name="arrow-forward-outline" slot="end"></ion-icon>
          </ion-button>
        </article>
      </li>
    </ul>
  </section>

  <hr class="fade right"/>

  <section class="statistics">
    
    <h3 class="fade"f>You're not alone</h3>
    <ul *ngIf="aggregation$ | async as a">
      <li>
        <span class="number fade left">{{ a.goalsCreated | compact }}</span>
        <span class="label fade right">Goals created</span>
      </li>
  
      <li>
        <span class="number fade left">{{ a.goalsCustomSupports |compact }}</span>
        <span class="label fade right">Supports for goals</span>
      </li>
  
      <li>
        <span class="number fade left">{{ a.usersFutureLetterSent | compact }}</span>
        <span class="label fade right">Letters sent to Future Self</span>
      </li>
  
      <li>
        <span class="number fade left">{{ a.usersAffirmationsSet | compact }}</span>
        <span class="label fade right">Affirmations set</span>
      </li>
  
      <li>
        <span class="number fade left">{{ a.usersGratefulnessOn | compact }}</span>
        <span class="label fade right">Daily gratefulness reminders set</span>
      </li>
    </ul>

  </section>

  <hr/>

  <section class="blogs">
    <h3 class="fade">Guides</h3>

    <article>
      <ion-card href="https://blog.strivejournal.com/category/create-the-perfect-goal" target="_blank" class="fade left">
        <img asset="goal-setting.png" loading='eager'/>
        <ion-card-header>
          <ion-card-title>The Ultime Guide to Achieving Goals</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <ion-text>
            What do you want to achieve? Is it worth the offers you have to make in order to achieve it? It is important to think about it beforehand.
            This guide walks you through important steps you have to think about before embarking on the journey...
          </ion-text>
          <ion-button fill="clear">
            <span>CONTINUE READING</span>
            <ion-icon name="arrow-forward-outline" slot="end"></ion-icon>
          </ion-button>
        </ion-card-content>
      </ion-card>

      <ion-card href="https://blog.strivejournal.com/blog/dear-future-self" target="_blank" class="fade right">
        <img asset="future-self-letter.png" loading='eager'/>
        <ion-card-header>
          <ion-card-title>Writing to your Future Self</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <ion-text>
            What should you write in this letter? You can write a message from your current self to your future self, or try to predict what your future will look like.
            Chances are small you will remember sending the letter in a couple of years and your future self will be...
          </ion-text>
          <ion-button fill="clear">
            <span>CONTINUE READING</span>
            <ion-icon name="arrow-forward-outline" slot="end"></ion-icon>
          </ion-button>
        </ion-card-content>
      </ion-card>
    </article>

    <ion-button fill="clear" class="more fade" href="https://blog.strivejournal.com/intro" target="_blank">
      <span>MORE GUIDES</span>
      <ion-icon name="arrow-forward-outline" slot="end"></ion-icon>
    </ion-button>

  </section>

  <footer>
    <article>
      <a routerLink="/terms">Terms of Use</a><br/>
      <a routerLink="/privacy-policy">Privacy Policy</a>
    </article>
  </footer>
</ion-content>
