<strive-header-modal (dismiss)="dismiss()" [transparent]="true">
  <ion-searchbar placeholder="Search" (ionChange)="search($event)"/>
</strive-header-modal>

<ion-content class="ion-padding">
  <ng-container *ngIf="results$ | async as profiles; else loading">
    <ng-container *ngIf="profiles.length else empty">
      <ion-list>
        <ng-container *ngFor="let profile of results$ | async; let last = last">
          <ion-item [lines]="last ? 'none' : 'full'">
            <ion-avatar slot="start">
              <img asset="profile.png" [ref]="profile.photoURL" [width]="120" [height]="120">
            </ion-avatar>
            <ion-label>
              <article>
                <span>{{ profile.username }}</span>
                <small>{{ profile | subtitle }}</small>
              </article>
            </ion-label>
            <ion-button (click)="invite(profile)" slot="end" fill="outline" color="primary" [disabled]="profile.isStakeholder || profile.openInvite">
              {{ profile | inviteText }}
            </ion-button>
          </ion-item>
        </ng-container>
      </ion-list>
    </ng-container>
  </ng-container>
</ion-content>
<ion-footer class="ion-no-border">
  <small>Invite someone without Strive Journal account?</small>
  <ion-button (click)="share($event)" color="primary" size="small">
    <ion-icon slot="start" name="share-social-outline"/>
    <span>Share link</span>
  </ion-button>
</ion-footer>

<ng-template #loading>
  <section>
    <ion-spinner name="lines" color="primary"/>
  </section>
</ng-template>

<ng-template #empty>
  <section>
    <i *ngIf="query === ''">Search to find Strive users</i>
    <i *ngIf="query !== ''">No results found</i>
  </section>
</ng-template>