<ion-refresher slot="fixed" (ionRefresh)="refreshPosts($event)">
  <ion-refresher-content></ion-refresher-content>
</ion-refresher>

<ng-container *ngIf="story$ | async as story; else loading">
  <ng-container *ngIf="!!story.length else noStory">
    <section fxLayout="column">

      <ng-container *ngFor="let item of story; trackBy: trackByFn">
        <ng-container *ngIf="item | storyMessage as message">
          <article *ngIf="message.message.length">
            <div class="emblem">
              <ion-icon [name]="message.icon"></ion-icon>
            </div>
            <div class="timelineContent" fxLayout fxLayoutAlign="start start">
              <span>
                <ng-container *ngFor="let text of message.message">
                  <ng-container *ngIf="text.link; else noLink"><a [routerLink]="'/' + text.link">{{ text.text }}</a></ng-container>
                  <ng-template #noLink>{{ text.text }}</ng-template>
                </ng-container>
                {{ item.createdAt | timeAgo }}
              </span>
            </div>
          </article>
        </ng-container>
        <article *ngIf="item.source.postId" class="extra">
          <div></div>
          <div>
            <post-main [storyItem]="item"></post-main>
          </div>
        </article>
      </ng-container>

    </section>
  </ng-container>

  <ng-template #noStory>
    <section fxLayout fxLayoutAlign="center center">
      No story yet
    </section>
  </ng-template>
</ng-container>

<ng-template #loading>
  <strive-page-loading></strive-page-loading>
</ng-template>