<ion-list lines="full" mode="md">
  <!-- <ion-item button (click)="pushNotifications()">Give push notification permission</ion-item> -->
  <ion-item button (click)="goToProfile()">Profile</ion-item>
  <ion-item button *ngIf="pwa.showInstallPromotion$ | async" (click)="pwa.showInstallPromotion()">Install app</ion-item>
  <ion-item button (click)="goTo('/notifications')">
    <span [ngClass]="{'badge': unreadNotifications$ | async}">Notifications</span>
  </ion-item>
  <ion-item button (click)="goTo('/edit-profile')">Edit Profile</ion-item>
  <ion-item button (click)="goTo('/settings')">Settings</ion-item>
  <ion-item button (click)="signOut()" lines="none">Log out</ion-item>

</ion-list>