form {
  max-width: var(--page-max-width);
  margin: auto;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px; // same has h1
  margin-bottom: 10px; // same has h1

  h1 {
    margin: 0;
  }

  ion-toggle {
    padding: 8px;
  }
}

article {
  display: flex;
  flex-direction: column;
  gap: 4px;

  small {
    color: var(--ion-color-medium);
  }
}

section {
  display: flex;
  justify-content: center;
}

@media only screen and (max-width: 768px) {
  ion-list {
    border-radius: 0;
  }
}