<ion-list mode="md">
  <ion-item (click)="close(enumCollectiveGoalOptions.ViewNotifications)" button>Notifications</ion-item>
  <ion-item (click)="close(enumCollectiveGoalOptions.EditNotificationSettings)" button [lines]="isAdmin ? 'inset' : 'none'">Edit Notification Settings</ion-item>
  <ion-item (click)="close(enumCollectiveGoalOptions.editCollectiveGoal)" *ngIf="isAdmin" button>Edit Collective Goal</ion-item>
  <ion-item (click)="close(enumCollectiveGoalOptions.deleteCollectiveGoal)" *ngIf="isAdmin" button lines="none">Delete Collective Goal</ion-item>
</ion-list>