<ng-container *ngIf="pageIsLoading">
  <strive-page-loading></strive-page-loading>
</ng-container>

<ng-container *ngIf="!canAccess && !pageIsLoading">
  <strive-page-not-found></strive-page-not-found>
</ng-container>

<ion-content *ngIf="canAccess && !pageIsLoading" class="ion-no-padding">

  <section>
    <ng-container *ngIf="collectiveGoal$ | async as collectiveGoal">
      <ion-grid>
        <ion-row>
          <ion-col>
            <ion-icon *ngIf="collectiveGoal.isSecret" name="lock-closed"></ion-icon>
            <span class="title">{{ collectiveGoal.title }}</span>
            <!-- <span *ngIf="collectiveGoal.isFinished"> (finished)</span> TODO: can collective goal be finished? -->
          </ion-col>
          <ion-col size-xs="3" size-sm="2" size-md="2" size-lg="2" size-xl="2" fxLayoutAlign="end center">
            <ion-button (click)="openSharePopover(collectiveGoal, $event)" fill="clear" size="small" class="ion-no-padding">
              <ion-icon slot="icon-only" name="share-social-outline"></ion-icon>
            </ion-button>
            <ng-container *ngIf="!!user.uid">
              <ion-button (click)="openOptionsPopover($event)" fill="clear" class="ion-no-padding">
                <ion-icon slot="icon-only" name="ellipsis-vertical"></ion-icon>
              </ion-button>
            </ng-container>
          </ion-col>
        </ion-row>

        <ng-container *ngIf="collectiveGoal.deadline">
          <ion-row>
            <div id="deadline" [ngStyle]="{ 'color': isOverdue(collectiveGoal.deadline) ? 'var(--ion-color-danger-tint)' : 'inherit'}">
              <fa-icon [icon]="['fas', 'stopwatch']"></fa-icon> {{ collectiveGoal.deadline | date:'fullDate' }}
            </div>
          </ion-row>
        </ng-container>
      </ion-grid>

      <article class="summary">
        <ion-grid>
          <ion-row>
            <ion-col>
              <div class="short-description">
                <i>{{ collectiveGoal.shortDescription }}</i>
              </div>
              <div fxLayout fxLayoutAlign="center center">
                <div fxLayout="column" fxLayoutAlign="center center">
                  <strong>Achievers</strong>
                  <span class="stats">{{ collectiveGoal.numberOfAchievers || '0' }}</span>
                </div>
              </div>
            </ion-col>
            <ion-col size-xs="12" size-sm="4" size-md="4" size-lg="4" size-xl="4">
                <span class="image-container">
                  <img [ref]="collectiveGoal.image" asset="collective-goal.jpeg"/>
                  <!-- <div class="after" *ngIf="collectiveGoal.isFinished">finished</div> TODO: can collective goal be finished? => maybe expired -->
                </span>
              </ion-col>
          </ion-row>
        </ion-grid>
      </article>

      <strive-text-editor
        [description]="collectiveGoal.description"
        [isAdmin]="isAdmin"
        (update)="saveDescription($event)"
      ></strive-text-editor>

    </ng-container>
  </section>

  <!-- Templates overview -->
  <ng-container *ngIf="templates$ | async as templates">
    <h2 class="padding">Templates</h2>
    <ng-container *ngIf="templates.length > 0 || isAdmin else noTemplate">
      <strive-thumbnail-grid>
        <ng-container *ngIf="isAdmin">
          <ng-template #thumb>
            <small-thumbnail title="CREATE TEMPLATE" asset="create_goal.jpeg" (click)="createTemplate()"></small-thumbnail>
          </ng-template>
        </ng-container>
        <ng-container *ngFor="let template of templates">
          <ng-template #thumb>
            <small-thumbnail [title]="template.title" [image]="template.goalImage" asset="goal.jpeg" [routerLink]="['template/', template.id]">
              <small>{{ template.numberOfTimesUsed }} time{template.numberOfTimesUsed, plural, =1 {} other {s}} used</small>
            </small-thumbnail>
          </ng-template>
        </ng-container>
      </strive-thumbnail-grid>
    </ng-container>

    <ng-template #noTemplate>
      <span class="padding">No templates available yet</span>
    </ng-template>
  </ng-container>

  <!-- Goals overview -->
  <h2 class="padding">Goals</h2>
  <ng-container *ngIf="goals$ | async as goals">
    <ng-container *ngIf="goals.length > 0 || !!user.uid else noGoal">
      <strive-thumbnail-grid>
        <ng-container *ngIf="!!user.uid">
          <ng-template #thumb>
            <small-thumbnail title="CREATE GOAL" asset="create_goal.jpeg" (click)="createGoal()"></small-thumbnail>
          </ng-template>
        </ng-container>
        <ng-container *ngFor="let goal of goals">
          <ng-template #thumb>
            <small-thumbnail [title]="goal.title" [image]="goal.image" asset="goal.jpeg" [routerLink]="['/goal', goal.id]">
              <small>
                {{ goal.numberOfSupporters }} Supporter{goal.numberOfSupporters, plural, =1 {} other {s}}<br/>
                {{ goal.numberOfAchievers }} Achiever{goal.numberOfAchievers, plural, =1 {} other {s}}
              </small>
            </small-thumbnail>
          </ng-template>
        </ng-container>
      </strive-thumbnail-grid>
    </ng-container>

    <ng-template #noGoal>
      <span class="padding">No goals yet</span>
    </ng-template>
  </ng-container>

  <section>
    <ion-list mode="md">
      <h2>Team</h2>
      <ion-item *ngFor="let stakeholder of stakeholders$ | async" button [routerLink]="'/profile/' + (stakeholder.uid)">
        {{ stakeholder.username }}
        <fa-icon *ngIf="stakeholder.isAdmin" [icon]="['fas', 'user-tie']" slot="end"></fa-icon>
        <fa-icon *ngIf="isAdmin && !stakeholder.isAdmin" [icon]="['fas', 'user-tie']" slot="end" style="opacity: 0.3;" (click)="toggleAdmin(stakeholder, $event)"></fa-icon>
        <fa-icon *ngIf="stakeholder.isAchiever" [icon]="['fas', 'flag']" slot="end"></fa-icon>
        <fa-icon *ngIf="isAdmin && !stakeholder.isAchiever" [icon]="['fas', 'flag']" slot="end" style="opacity: 0.3;" (click)="toggleAchiever(stakeholder, $event)"></fa-icon>
      </ion-item>
    </ion-list>
  </section>

</ion-content>