picture.mobile {
  height: 60vw;

  div {
    border-radius: 0;
  }
}

picture.desktop {
  aspect-ratio: 1/1;
  height: 100%;
}

ion-fab {
  margin-top: constant(safe-area-inset-top);
  margin-top: env(safe-area-inset-top);
}

ion-content {
  -webkit-user-select: text;
  -moz-user-select: text;
  -ms-user-select: text;
  user-select: text;
}

main {
  max-width: var(--page-max-width);
  margin: auto;
  display: flex;
  flex-direction: column;
  gap: 24px;
  padding: 16px;

  h1 {
    font-size: clamp(1.5rem, 5vw, 2.5rem);
    color: var(--ion-text-color);
    margin: 0;
  }

  h5 {
    margin-top: 0;
    margin-bottom: 16px;
  }

  div.main {
    display: flex;
    gap: 24px;

    picture {
      flex: 1;

      img {
        border-radius: 12px;
      }
    }

    div.info {
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      gap: 16px;
      flex: 2;

      ul.properties {
        display: flex;
        flex-direction: column;
        gap: 8px;

        li {
          display: flex;
          gap: 4px;
          align-items: center;
          color: var(--ion-color-step-350);
          font-size: clamp(12px, 2.5vw, 1rem);

          &.clickable {
            cursor: pointer;
          }
        }
      }
    }
  }


  section {
    display: flex;
    flex-direction: column;
  }

  section.actions {
    gap: 2px;

    article {
      display: flex;
      gap: 8px;

      strive-goal-join-button {
        flex: 1.5;
      }

      ion-button.button-block {
        flex: 1;
      }
    }
  }
}

picture {
  display: block;
  position: relative;
  overflow: hidden;

  img {
    display: block;
    object-fit: cover;
    width: 100%;
    aspect-ratio: 1/1;
  }

  .finished-overlay {
    ion-icon {
      font-size: 36px;
    }
  }
}

ion-select {
  font-weight: bold;
  padding: 0;
  min-height: 0;
}

ion-card.finish {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 16px;

  article {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 16px;
  }

  @media only screen and (max-width: 568px) {
    article {
      grid-template-columns: auto;
    }
  }
}

.supports {

  article {
    display: flex;
    flex-direction: column;
    gap: 16px;

    strive-support-list {
      small {
        overflow: hidden;
        text-overflow: ellipsis;
        color: var(--ion-color-medium);
      }

      i {
        color: var(--ion-color-medium);
      }
    }
  }
}

.story, .roadmap, .requests {
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 8px;

    h5 {
      margin: 0;
    }
  }
}

.strava {
  margin-bottom: 16px;
}

.ai {
  display: block;
  margin-top: 8px;
  margin-left: auto;
}