ion-toolbar {
    --background: var(--ion-color-primary);
    color: var(--ion-color-primary-contrast);
}

h4 {
    color: var(--ion-color-primary);
}

ion-fab {
    margin-right: 15px;
}

.remove-item-icon:hover {
    color: red;
    cursor: pointer;
}


.setTimeContainer {

    .remove-set-time-icon {
        padding-left: 5px;
        position: relative;
        z-index: 2;
    }

    .remove-set-time-icon {
        --padding-end: 10px;
    }
    
}


.suggestions {
    margin-top: 25px;

    .suggestions-header {
        display: flex;
        margin-top: auto;
        margin-bottom: auto;
        justify-content: space-between;
    
        ion-select {
            margin-top: 8px;
        }
    }

    .add-suggestion-icon:hover {
        color: var(--ion-color-primary)
    }
}
