<strive-header-modal (dismiss)="dismiss()" />

<ion-content class="ion-no-padding">
  <header>
    <h4>You're now following {{ username }}.</h4>
    <small>
      You'll receive a notification when {{ username }} starts or finishes a goal.
      In order to receive more notifications about a goal, you can follow the goal too.
    </small>
  </header>

  <ion-button class="primary all" (click)="spectateAll()" [disabled]="allSpectated()">
    <span>Follow all</span>
  </ion-button>

  <ion-list>
    @for (goal of goals; track goal; let last = $last) {
      @if (goal | getStakeholder | async; as stakeholder) {
        <ion-item [lines]="last ? 'none' : 'full'">
          <ion-thumbnail slot="start">
            <img asset="goal.png" [ref]="goal.image" [width]="120" [height]="120" [alt]="goal.title" />
            @if (goal.status !== 'pending') {
              <div class="finished-overlay">finished</div>
            }
          </ion-thumbnail>
          <ion-label>{{ goal.title }}</ion-label>
          @if (stakeholder.isSpectator) {
            <ion-button (click)="spectate(goal.id, stakeholder)" color="primary" class="fake-disable">
              <span>Following</span>
            </ion-button>
          } @else {
            <ion-button (click)="spectate(goal.id, stakeholder)" color="primary">
              <span>Follow</span>
            </ion-button>
          }
        </ion-item>
      }
    }
  </ion-list>
</ion-content>
