<ng-container *ngIf="goal$ | async as goal; else loading">
<ng-container *ngIf="milestones$ | async as milestones; else loading">
  <ng-container *ngIf="milestones.length else empty">
    <ion-list>
      <ion-reorder-group (ionItemReorder)="doReorder($event, milestones)">

        <ion-item *ngFor="let milestone of milestones" button>
          <section>
            {{ milestone.content }}
            <article>
              <ng-container *ngIf="milestone.subtasks?.length">
                <div class="subtasks">
                  <ion-icon name="list-outline"></ion-icon><small>{{ milestone.subtasks | subtasksCompleted }}</small>
                </div>
              </ng-container>
              <ng-container *ngIf="milestone.deadline">
                <div class="deadline">
                  <ion-icon name="alarm-outline"></ion-icon>
                  <small>{{ milestone.deadline | date:'MMM d, y' }}</small>
                </div>
              </ng-container>
              <ng-container *ngIf="milestone.achiever?.uid">
                <strive-milestone-assignee [achiever]="milestone.achiever!"></strive-milestone-assignee>
              </ng-container>
            </article>
          </section>
          <ion-reorder slot="end"/>
        </ion-item>

      </ion-reorder-group>
    </ion-list>
  </ng-container>
</ng-container>
</ng-container>

<ng-template #empty>
  <section>
    <h3>Roadmap is not defined</h3>
  </section>
</ng-template>

<ng-template #loading>
  <strive-page-loading></strive-page-loading>
</ng-template>