<strive-header title="Edit Profile" />

@if (isLoggedIn$ | async) {
  <ion-content class="ion-no-padding">
    <main>
      <ion-card>
        <ion-card-content>
          <ion-item>
            <ion-input
              type="text"
              label="Username"
              labelPlacement="floating"
              maxlength="16"
              autocapitalize="sentences"
              [formControl]="form.username"
              (keydown.enter)="update()"
              class="primary"
            />
          </ion-item>
          <strive-image-selector [form]="form.photoURL" [storagePath]="'profiles/' + uid" />
          <ion-button color="primary" [disabled]="form.invalid" (click)="update()">Save</ion-button>
        </ion-card-content>
      </ion-card>
      <hr/>
      <ion-button color="danger" fill="outline" (click)="deleteAccount()">
        <span>Delete Account</span>
      </ion-button>
    </main>
  </ion-content>
} @else {
  <section class="not-logged-in">
    <p>
      <span class="fat-text-button" (click)="openAuthModal()">Log in</span>to edit your profile
    </p>
  </section>
}