<ng-container *ngIf="goal$ | async as goal">
  <h1>{{ goal.title }}</h1>

  <section fxLayout fxLayout.lt-sm="column" fxLayoutGap="16px">
    <article fxLayout="column" fxFlex fxFlexOrder.lt-sm="2">
      <picture>
        <img [ref]="goal.image" asset="goal.jpeg" [width]="500" [height]="500"/>
        <div *ngIf="goal.status === 'finished'">finished</div>
      </picture>
      <ng-container *ngIf="collectiveGoal$ | async as collectiveGoal">
        <ion-card fxLayout class="collective-goal">
          <article fxLayout="column" fxFlex fxLayoutAlign="center center">
            this goal is part of collective goal
            <a [routerLink]="'../../collective-goal/' + ( collectiveGoal.id )"><b>{{ collectiveGoal.title }}</b></a>
          </article>
          <img class="collective-goal-image" [ref]="collectiveGoal.image" asset="collective-goal.jpeg">
        </ion-card>
      </ng-container>
    </article>

    <article fxLayout="column" fxLayoutGap="16px" fxFlex fxFlexOrder.lt-sm="1">
      <ion-card fxLayout fxLayoutAlign="space-evenly" class="team">
        <article fxLayout="column" fxLayoutGap="16px" fxLayoutAlign="center center">
          <ion-button (click)="join()" color="primary" fill="outline" [disabled]="goal.status === 'finished' || hasOpenRequestToJoin">
            <ion-icon slot="start" name="flag"></ion-icon>
            <span> {{ getJoinText() }}</span>
          </ion-button>
          <div fxLayout="column" fxLayoutAlign="start center" (click)="openTeamModal()">
            <strong>Achievers</strong>
            <span class="number">{{ goal.numberOfAchievers || '0' }}</span>
          </div>
        </article>
        <article fxLayout="column" fxLayoutGap="16px" fxLayoutAlign="center center">
          <ion-button (click)="supportGoal()" color="secondary" fill="outline">
            <fa-icon slot="start" [icon]="['fas', 'hand-holding-heart']"></fa-icon>
            <span> support</span>
          </ion-button>
          <div fxLayout="column" fxLayoutAlign="start center" (click)="openTeamModal()">
            <strong>Supporters</strong>
            <span class="number">{{ goal.numberOfSupporters || '0' }}</span>
          </div>
        </article>
      </ion-card>

      <!-- Options -->
      <ng-container *ngIf="screensize.isMobile$ | async else desktopOptions">
        <div fxLayout="row wrap" fxLayoutAlign="end" fxLayoutGap="4px">
          <ion-button (click)="openTeamModal()" class="ion-no-padding action-button" fill="clear">
            <ion-icon slot="icon-only" name="people-outline"></ion-icon>
          </ion-button>
          <ion-button (click)="openDiscussion()" class="ion-no-padding action-button" fill="clear">
            <ion-icon slot="icon-only" name="chatbox-outline"></ion-icon>
          </ion-button>
          <ion-button (click)="openSharePopover($event, goal)" fill="clear" size="small" class="ion-no-padding action-button">
            <ion-icon slot="icon-only" name="share-social-outline"></ion-icon>
          </ion-button>
          <ion-button (click)="presentGoalOptionsPopover($event, goal)" fill="clear" class="ion-no-padding action-button" *ngIf="!!user.uid">
            <ion-icon slot="icon-only" name="ellipsis-vertical"></ion-icon>
          </ion-button>
        </div>
      </ng-container>
      <ng-template #desktopOptions>
        <div fxLayout="row wrap" fxLayoutAlign="space-between" fxLayoutGap="16px">
          <ion-button (click)="openTeamModal()" fill="clear">
            <ion-icon slot="start" name="people-outline"></ion-icon>
            <span>team</span>
          </ion-button>
  
          <ion-button (click)="openDiscussion()" fill="clear">
            <ion-icon slot="start" name="chatbox-outline"></ion-icon>
            <span>chat</span>
          </ion-button>
  
          <ion-button (click)="openSharePopover($event, goal)" fill="clear">
            <ion-icon slot="start" name="share-social-outline"></ion-icon>
            <span>share</span>
          </ion-button>
          <ion-button (click)="presentGoalOptionsPopover($event, goal)" fill="clear" *ngIf="!!user.uid">
            <span>more options</span>
          </ion-button>
        </div>
      </ng-template>

      <div fxHide.lt-sm>
        <ng-container *ngTemplateOutlet="properties"></ng-container>
      </div>

    </article>

    <article fxHide.gt-sm fxFlexOrder="3">
      <ng-container *ngTemplateOutlet="properties"></ng-container>
    </article>
  </section>

  <strive-text-editor [description]="goal.description"
    [isAdmin]="isAdmin"
    (update)="saveDescription($event)"
  ></strive-text-editor>

  <section fxLayout>
    <ion-button fill="clear" (click)="segmentChange.next('roadmap')">
      see roadmap
    </ion-button>
    <ion-button fill="clear" (click)="segmentChange.next('story')">
      see story
    </ion-button>
  </section>

  <ng-template #properties>
    <article class="properties" fxLayout="column" fxLayoutGap="24px">
      <!-- Status -->
      <div fxLayout fxLayoutAlign="start center">
        <ion-icon name="pulse"></ion-icon>
        <span>Status: </span> 
        <ng-container *ngIf="isAdmin else statusNoAdmin">
          <ion-select placeholder="Select Status" interface="popover" [value]="goal.status" (ionChange)="updateStatus($event, goal)">
            <ion-select-option value="bucketlist">Bucket List</ion-select-option>
            <ion-select-option value="active">Active</ion-select-option>
            <ion-select-option value="finished">Finished</ion-select-option>
          </ion-select>
        </ng-container>
        <ng-template #statusNoAdmin>
          <b>{{ goal.status | titlecase }}</b>
        </ng-template>
      </div>
  
      <!-- Privacy -->
      <div fxLayout fxLayoutAlign="start center">
        <ion-icon name="lock-closed-outline"></ion-icon>
        <span>Access: <b>{{ goal.publicity === 'public' ? 'Everyone can access' : goal.publicity === 'collectiveGoal' ? 'People with access to collective goal or an invite' : 'Invites only' }}</b></span>
      </div>
  
      <!-- Deadline -->
      <ng-container *ngIf="!!goal.deadline">
        <div fxLayout fxLayoutAlign="start center" [ngStyle]="{ 'color': goal.isOverdue ? 'var(--ion-color-danger-tint)' : 'inherit'}">
          <ion-icon name="timer-outline"></ion-icon>
          <span>Deadline: <b>{{ goal.deadline | date:'fullDate' }}</b></span>
        </div>
      </ng-container>
  
    </article>
  </ng-template>

</ng-container>
