<ng-container *ngIf="goal$ | async as goal">
  <section fxLayout fxLayoutAlign="space-between center">
    <article fxLayout="column">
      <h1>{{ goal.title }}</h1>
      <ng-container *ngIf="goal.publicity === 'private'">
        <div fxLayout fxLayoutAlign="start center">
          <!-- <ion-icon name="lock-closed"></ion-icon> -->
          <span>Access: Private</span>
        </div>
      </ng-container>
      <ng-container *ngIf="!!goal.isFinished">
        <span>Status: Finished</span>
      </ng-container>
      <ng-container *ngIf="!!goal.deadline">
        <div [ngStyle]="{ 'color': goal.isOverdue ? 'var(--ion-color-danger-tint)' : 'inherit'}">
          <!-- <fa-icon [icon]="['fas', 'stopwatch']"></fa-icon> -->
          <span>Deadline: {{ goal.deadline | date:'fullDate' }}</span>
        </div>
      </ng-container>
    </article>

    <article fxLayout="row wrap" fxLayoutAlign="end" fxLayoutGap="4px">
      <ion-button (click)="openDiscussion()" class="ion-no-padding action-button" fill="clear">
        <ion-icon slot="icon-only" name="chatbox-outline"></ion-icon>
      </ion-button>
      <ion-button (click)="supportGoal()" color="secondary" class="ion-no-padding action-button" fill="clear">
        <fa-icon [icon]="['fas', 'hand-holding-heart']" slot="end"></fa-icon>
      </ion-button>
      <ion-button (click)="openSharePopover($event, goal)" fill="clear" size="small" class="ion-no-padding action-button">
        <ion-icon slot="icon-only" name="share-social-outline"></ion-icon>
      </ion-button>
      <ion-button (click)="presentGoalOptionsPopover($event, goal)" fill="clear" class="ion-no-padding action-button" *ngIf="!!user.uid">
        <ion-icon slot="icon-only" name="ellipsis-vertical"></ion-icon>
      </ion-button>
    </article>
  </section>

  <section fxLayout fxLayout.lt-sm="column" fxLayoutGap="24px">
    <article fxLayout="column" fxLayoutGap="24px" fxFlex>
      <i>{{ goal.shortDescription }}</i>

      <ng-container *ngIf="collectiveGoal$ | async as collectiveGoal">
        <ion-card fxLayout>
          <article fxLayout="column" fxFlex fxLayoutAlign="center center">
            this goal is part of
            <a [routerLink]="'../../collective-goal/' + ( collectiveGoal.id )"><b>{{ collectiveGoal.title }}</b></a>
          </article>
          <img class="collective-goal-image" [ref]="collectiveGoal.image" asset="collective-goal.jpg">
        </ion-card>
      </ng-container>


      <div fxLayout fxLayoutAlign="space-evenly">
        <div fxLayout="column" fxLayoutAlign="center center" class="stats">
          <strong>Achievers</strong>
          <span>{{ goal.numberOfAchievers || '0' }}</span>
        </div>
        <div fxLayout="column" fxLayoutAlign="center center" class="stats">
          <strong>Supporters</strong>
          <span>{{ goal.numberOfSupporters || '0' }}</span>
        </div>
      </div>

      <!-- Can only REQUEST to participate if not admin and not achiever  -->
      <ng-container *ngIf="!isAdmin && !isAchiever && !goal.isFinished && !!user.uid">
        <ng-container *ngIf="hasOpenRequestToJoin else pending">
          <ion-button disabled><ion-icon name="flag"></ion-icon> Request pending</ion-button>
        </ng-container>
        <ng-template #pending>
          <ion-button (click)="requestToJoinGoal()"><ion-icon name="flag"></ion-icon> Request to participate</ion-button>
        </ng-template>
      </ng-container>
    </article>
    <article fxLayout="column" fxLayoutAlign="center" class="image-container">
      <img [ref]="goal.image" asset="goal.jpg"/>
      <div class="after" *ngIf="goal.isFinished">finished</div>
    </article>

      <!-- Only a stakeholder can join the discussion -->
      <!-- <span *ngIf="isSupporter || isAdmin || isAchiever">
        <ion-button color="primary" fill="solid" routerLink="/discussion"><ion-icon name="chatboxes"></ion-icon> Discussion</ion-button>
      </span> -->

  </section>

  <strive-text-editor [description]="goal.description"
    [isAdmin]="isAdmin" 
    (update)="saveDescription($event)"
  ></strive-text-editor>

</ng-container>

<ion-list>
  <ion-list-header>Stakeholders</ion-list-header>
  <ion-item *ngFor="let stakeholder of stakeholders$ | async" button [routerDirection]="'root'" [routerLink]="'../../profile/' + (stakeholder.id)">
    {{ stakeholder.username }}
    <fa-icon *ngIf="stakeholder.isAdmin" [icon]="['fas', 'user-tie']" slot="end"></fa-icon>
    <fa-icon *ngIf="isAdmin && !stakeholder.isAdmin" [icon]="['fas', 'user-tie']" slot="end" style="opacity: 0.3;" (click)="toggleAdmin(stakeholder, $event)"></fa-icon>
    <fa-icon *ngIf="stakeholder.isAchiever" [icon]="['fas', 'flag']" slot="end"></fa-icon>
    <fa-icon *ngIf="isAdmin && !stakeholder.isAchiever" [icon]="['fas', 'flag']" slot="end" style="opacity: 0.3;" (click)="toggleAchiever(stakeholder, $event)"></fa-icon>
    <fa-icon *ngIf="stakeholder.isSupporter" [icon]="['fas', 'hand-holding-heart']" slot="end"></fa-icon>
    <fa-icon *ngIf="isAdmin && !stakeholder.isSupporter" [icon]="['fas', 'hand-holding-heart']" slot="end" style="opacity: 0.3;" (click)="toggleSupporter(stakeholder, $event)"></fa-icon>
  </ion-item>
</ion-list>
