h1 {
  font-size: 2.5rem;
  font-weight: 500;
  color: var(--ion-color-dark-tint);
  margin-top: 0;
}

.action-button {
  height: 2em;
  width: 2em;
  margin: 4px;
}

.collective-goal-image {
  height: 70px;
}

ion-card {
  border-radius: 12px;
  margin: 0;
}

ion-card.team {
  padding: 24px 8px;

  ion-button {
    fa-icon {
      margin-right: 0.3em;
    }
  }

  span.number {
    color: var(--ion-color-medium);
    font-size: 26px;
  }
}

.properties {
  color: var(--ion-color-medium);

  ion-icon {
    font-size: 20px;
    margin-right: 8px;
  }
}

picture {
  position: relative;
  border-radius: 12px;
  overflow: hidden;

  img {
    object-fit: cover;
    width: 100%;
    height: 100%;
  }

  div {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: var(--ion-color-primary-contrast);
    background: rgba(247, 148, 29, 0.6);
  }
}

.collective-goal {
  margin-top: -24px;
}

strive-text-editor {
  margin: 0 16px;
}

ion-select {
  font-weight: bold;
  padding: 0 4px;
}