<!-- Android or iOS header -->
<ion-header *ngIf="screensize.isMobile$ | async else desktop">
  <ion-toolbar>
    <ion-buttons slot="secondary">
      <ion-button (click)="cancel()">
        <ion-icon name="close"></ion-icon>Cancel
      </ion-button>
    </ion-buttons>
    <ion-title color="primary">Edit Roadmap</ion-title>
    <ion-buttons slot="primary">
      <ion-button (click)="save()">
        <ion-icon name="checkmark"></ion-icon>Save
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
  <ion-toolbar>
    <form [formGroup]="milestoneForm">
      <ion-item>
        <ion-input
          formControlName="sequenceNumber"
          (ionInput)="onSequenceNumberInput($event, 'milestone', milestoneForm.sequenceNumber.value)"
          ></ion-input>
      </ion-item>
      <ion-item>
        <ion-icon name="add"></ion-icon>
        <ion-input formControlName="description" placeholder="Add milestone..." (keydown.enter)="addMilestone()"></ion-input>
        <ion-button (click)="addMilestone()">add</ion-button>
      </ion-item>
    </form>
  </ion-toolbar>
</ion-header>

<!-- Browser header -->
<ng-template #desktop>
  <h1>Edit Roadmap</h1>

  <section fxLayout fxLayoutAlign="center">
    <ion-button (click)="cancel()" color="primary" fill="clear">
      <ion-icon name="close" color="primary"></ion-icon>Cancel
    </ion-button>
    <ion-button (click)="save()" color="primary" fill="clear">
      <ion-icon name="checkmark" color="primary"></ion-icon>Save changes
    </ion-button>
  </section>

  <section>
    <form [formGroup]="milestoneForm">
      <ion-item>
        <ion-input formControlName="sequenceNumber" (ionInput)="onSequenceNumberInput($event, 'milestone', milestoneForm.sequenceNumber.value)"></ion-input>
      </ion-item>
      <ion-item>
        <ion-icon name="add"></ion-icon>
        <ion-input formControlName="description" placeholder="Add milestone..." (keydown.enter)="addMilestone()"></ion-input>
        <ion-button (click)="addMilestone()">add</ion-button>
      </ion-item>
    </form>
  </section>
</ng-template>

<ion-content class="ion-padding">
  <section fxLayout fxLayoutAlign="center">

    <ng-container *ngIf="roadmapForm.controls.length === 0 else list">
      <article class="explanation">
        <span class="center">This is how it works</span>
        <ion-img src="assets/pages/roadmap/How to edit roadmap.gif"></ion-img>
      </article>
    </ng-container>

    <ng-template #list>
      <ion-list>
        <ion-item *ngFor="let control of roadmapForm.controls; let i = index">
          <ion-input [ngStyle]="{'margin-left': getMargin(control.value.sequenceNumber)}"
            class="sequenceNumber"
            (ionInput)="onSequenceNumberInput($event, 'roadmap', control.value.sequenceNumber)"
            (ionFocus)="onSequenceNumberFocus(control.value.sequenceNumber)"
            (ionBlur)="onSequenceNumberBlur($event, control.value.sequenceNumber)"
            [formControl]="control.sequenceNumber">
          </ion-input>
          <ion-input [ngStyle]="{'margin-left': getMargin(control.value.sequenceNumber)}"
            [formControl]="control.description">
          </ion-input>
          <ion-datetime class="ion-no-padding"
            placeholder="-- -- --"
            displayFormat="DD-MM-YY"
            pickerFormat="DDDD MMMM YYYY"
            [formControl]="control.deadline"
            (click)="openingDatetime($event, control.value)"
            (ionChange)="onDeadlineDateChange($event, control.value)"
            #datetime>
          </ion-datetime>
          <fa-icon [icon]="['fas', 'stopwatch']" (click)="openDateTime(i)"></fa-icon>
          <ion-icon name="trash" (click)="deleteMilestone(control.value.sequenceNumber)"></ion-icon>
        </ion-item>
      </ion-list>
    </ng-template>

  </section>
</ion-content>