<!-- Android or iOS header -->
<ion-header *ngIf="platform.is('android') || platform.is('ios')">
  <ion-toolbar>
    <ion-buttons slot="secondary">
      <ion-button (click)="cancel()">
        <ion-icon name="close"></ion-icon>Cancel
      </ion-button>
    </ion-buttons>
    <ion-title color="primary">Edit Roadmap</ion-title>
    <ion-buttons slot="primary">
      <ion-button (click)="save()">
        <ion-icon name="checkmark"></ion-icon>Save
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
  <ion-toolbar>
    <section fxLayout fxLayoutAlign="center" class="limited-width">
      <article class="new_sequenceNumber">
        <ion-input [(ngModel)]="newSequenceNumber"></ion-input>
      </article>
      <ion-searchbar placeholder="Add milestone" 
        search-icon="add"
        (keydown.enter)="addMilestone(addMilestonebar.value)"
        #addMilestonebar>
      </ion-searchbar>
    </section>
  </ion-toolbar>
</ion-header>

<!-- Browser header -->
<ng-container *ngIf="!platform.is('android') && !platform.is('ios')">
  <h1>Edit Roadmap</h1>

  <section fxLayout fxLayoutAlign="center">
    <ion-button (click)="cancel()" color="primary" fill="clear">
      <ion-icon name="close" color="primary"></ion-icon>Cancel
    </ion-button>
    <ion-button (click)="save()" color="primary" fill="clear">
      <ion-icon name="checkmark" color="primary"></ion-icon>Save changes
    </ion-button>
  </section>

  <section fxLayout fxLayoutAlign="center" class="limited-width">
    <article class="new_sequenceNumber">
      <ion-input [(ngModel)]="newSequenceNumber"></ion-input>
    </article>
    <ion-searchbar placeholder="Add milestone" 
      search-icon="add"
      (keydown.enter)="addMilestone(addMilestonebar.value)"
      #addMilestonebar>
    </ion-searchbar>
  </section>
</ng-container>

<ion-content class="ion-padding">
  <section fxLayout fxLayoutAlign="center" class="limited-width">

    <ng-container *ngIf="formArray.controls.length === 0">
      <article class="explanation">
        <span class="center">This is how it works</span>
        <ion-img src="assets/pages/roadmap/How to edit roadmap.gif"></ion-img>
      </article>
    </ng-container>

    <ion-list>
      <ion-item *ngFor="let control of formArray.controls">
        <ion-input [ngStyle]="{'margin-left': getMargin(control.value.sequenceNumber)}"
          class="sequenceNumber"
          (ionInput)="onSequenceNumberInput($event, control.value.sequenceNumber)"
          (ionFocus)="onSequenceNumberFocus(control.value.sequenceNumber)"
          (ionBlur)="onSequenceNumberBlur($event, control.value.sequenceNumber)"
          [formControl]="control.sequenceNumber">
        </ion-input>
        <ion-input [ngStyle]="{'margin-left': getMargin(control.value.sequenceNumber)}"
          [formControl]="control.description">
        </ion-input>
        <ion-datetime class="ion-no-padding" 
          placeholder="-- -- --"
          displayFormat="DD-MM-YY"
          pickerFormat="DDDD MMMM YYYY"
          [formControl]="control.deadline"
          (click)="_openingDatetime($event, control.value)"
          (ionChange)="onDeadlineDateChange($event, control.value)">
        </ion-datetime>
        <fa-icon [icon]="['fas', 'stopwatch']"></fa-icon>
        <ion-icon name="trash" (click)="deleteMilestone(control.value.sequenceNumber)"></ion-icon>
      </ion-item>
    </ion-list>

  </section>
</ion-content>