<ng-container *ngIf="(isLoggedIn$ | async) === false">
  <strive-header-root></strive-header-root>
</ng-container>

<ng-container *ngIf="showIOSHeader$ | async">
  <ion-fab slot="fixed" vertical="top" horizontal="start">
    <ion-fab-button (click)="back()" color="light" size="small">
      <ion-icon name="arrow-back"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ng-container>

<ng-template #loading>
  <strive-page-loading></strive-page-loading>
</ng-template>

<ng-template #noAccess>
  <strive-404></strive-404>
</ng-template>

<ng-container *ngIf="(pageIsLoading$ | async) === false else loading">
<ng-container *ngIf="canAccess$ | async else noAccess">
<ng-container *ngIf="goal$ | async as goal">
<ng-container *ngIf="stakeholder$ | async as stakeholder">

<ion-content>

  <picture (click)="openZoom(goal)" *ngIf="screensize.isMobile$ | async" class="mobile">
    <img [ref]="goal.image" asset="goal.png" [width]="500" [height]="500"/>
    <div *ngIf="goal.isFinished">finished</div>
  </picture>

  <ng-template #actions>
    <section class="actions">
    
      <article>
        <goal-join-button [goal]="goal" [stakeholder]="stakeholder"></goal-join-button>

        <ion-button (click)="spectate()" size="block" class="primary" [ngClass]="{'fake-disable': stakeholder.isSpectator}">
          <ion-icon name="notifications-outline" size="small" slot="start"></ion-icon> 
          <span>{{ stakeholder.isSpectator ? 'FOLLOWING' : 'FOLLOW' }}</span>
        </ion-button>
      </article>
  
      <article>
        <ion-button (click)="openChat()" size="block" class="secondary">
          <ion-icon name="chatbubbles-outline" slot="start" size="small"></ion-icon>
          <span>Chat</span>
        </ion-button>

        <ng-container *ngIf="goal.publicity === 'public' || stakeholder.isAdmin">
          <ion-button (click)="openShareModal()" class="secondary">
            <ion-icon slot="icon-only" size="small" name="person-add-outline"></ion-icon>
          </ion-button>
        </ng-container>

        <ion-button (click)="presentGoalOptionsPopover($event, goal)" class="secondary">
          <ion-icon slot="icon-only" size="small" name="ellipsis-horizontal-outline"></ion-icon>
        </ion-button>
      </article>
  
    </section>
  </ng-template>

  <main>
    <h1>{{ goal.title }}</h1>

    <div class="main">
      <picture (click)="openZoom(goal)" *ngIf="(isMobile$ | async) === false">
        <img [ref]="goal.image" asset="goal.png" [width]="500" [height]="500"/>
        <div *ngIf="goal.isFinished">finished</div>
      </picture>

      <div class="info">
        <ul class="properties">
      
          <li (click)="openTeamModal()" class="clickable">
            <ion-icon name="flag"></ion-icon>
            <div>
              <b>{{ goal.numberOfAchievers ?? 0 }}</b>
              <span> Achievers</span>
            </div>
          </li>
      
          <li (click)="openTeamModal()" class="clickable">
            <ion-icon src="assets/icons/hand-holding-heart-solid.svg"></ion-icon>
            <div>
              <b>{{ goal.numberOfSupporters ?? 0 }}</b>
              <span> Supporters</span>
            </div>
          </li>

          <li (click)="openTeamModal()" class="clickable">
            <ion-icon name="star"></ion-icon>
            <div>
              <b>{{ goal.numberOfSpectators ?? 0 }}</b>
              <span> Followers</span>
            </div>
          </li>
      
          <!-- Privacy -->
          <li>
            <ion-icon [name]="goal.publicity === 'public' ? 'lock-open-outline' : 'lock-closed-outline'"></ion-icon>
            <span>Access:</span>
            <ng-container *ngIf="stakeholder.isAdmin; else privacyNoAdmin">
              <ion-select placeholder="Select Privacy" interface="popover" [value]="goal.publicity" (ionChange)="updatePrivacy($event, goal)">
                <ion-select-option value="public">Everyone can access</ion-select-option>
                <ion-select-option value="private">Invites only</ion-select-option>
              </ion-select>
            </ng-container>
            <ng-template #privacyNoAdmin>
              <span>&nbsp;<b>{{ goal.publicity === 'public' ? 'Everyone can access' : 'Invites only' }}</b></span>
            </ng-template>
          </li>
      
          <!-- Deadline -->
          <li *ngIf="goal.deadline" [ngStyle]="{ 'color': isOverdue(goal.deadline) ? 'var(--ion-color-danger-tint)' : ''}">
            <ion-icon name="timer-outline"></ion-icon>
            <div>
              <div>
                <span>Deadline: </span>
                <b>{{ goal.deadline | date:'fullDate' }}</b>
              </div>
            </div>
          </li>
      
        </ul>

        <ng-container *ngIf="(isMobile$ | async) === false">
          <ng-container *ngTemplateOutlet="actions"></ng-container>
        </ng-container>
      </div>
    </div>

    <ng-container *ngIf="isMobile$ | async">
      <ng-container *ngTemplateOutlet="actions"></ng-container>
    </ng-container>

    <!-- Request to join -->
    <ng-container *ngIf="openRequests$ | async as stakeholders">
      <ng-container *ngIf="stakeholders.length">
        <h3>Open requests to join</h3>
        <ion-list mode="md">
          <ion-item *ngFor="let stakeholder of stakeholders; let last = last" [lines]="last ? 'none' : 'inset'" (click)="navTo(stakeholder.uid)">
            <ion-avatar slot="start">
              <img [ref]="stakeholder.profile.photoURL" asset="profile.png"/>
            </ion-avatar>
            <ion-label>{{ stakeholder.profile.username }}</ion-label>
            <ion-button (click)="handleRequestDecision(stakeholder, true, $event)" color="primary" size="default">
              <span *ngIf="(isMobile$ | async) === false">Accept</span>
              <ion-icon name="checkmark-outline"></ion-icon>
            </ion-button>
            <ion-button (click)="handleRequestDecision(stakeholder, false, $event)" size="default" fill="outline">
              <span *ngIf="(isMobile$ | async) === false">Reject</span>
              <ion-icon name="close-outline"></ion-icon>
            </ion-button>
          </ion-item>
        </ion-list>
      </ng-container>
    </ng-container>

    <ng-container *ngIf="goal.description || stakeholder.isAdmin">
      <strive-description [value]="goal.description" [canEdit]="stakeholder.isAdmin" (onUpdate)="updateDescription($event)"></strive-description>
    </ng-container>

    <section>
      <h3>Roadmap</h3>
      <goal-strive-roadmap
        [goal]="goal"
        [milestones]="milestones$ | async"
        [stakeholder]="stakeholder">
      </goal-strive-roadmap>
    </section>

    <section class="supports">
      <h3>Supports</h3>
      <article>
        <ng-container *ngIf="!goal.isFinished">
          <support-add [goal]="goal"></support-add>
        </ng-container>

        <ng-container *ngIf="supports$ | async as supports">
          <support-list [goal]="supports[0]">
            <ng-template #milestone let-milestone="milestone">
              <small>Milestone: {{ milestone.content }}</small>
            </ng-template>
            <ng-container *ngIf="!goal.isFinished">
              <ng-template #empty>
                <i>No supports yet</i>
              </ng-template>
            </ng-container>
          </support-list>
        </ng-container>
      </article>
    </section>

    <section>
      <h3>Story</h3>
      <goal-story [story]="story$ | async" [stakeholder]="stakeholder" [goalId]="goal.id"></goal-story>
    </section>

  </main>

</ion-content>

</ng-container>
</ng-container>
</ng-container>
</ng-container>
