<ng-container *ngIf="(isLoggedIn$ | async) === false">
  <strive-header-root></strive-header-root>
</ng-container>

<ng-container *ngIf="showIOSHeader$ | async">
  <ion-fab slot="fixed" vertical="top" horizontal="start">
    <ion-fab-button (click)="back()" color="light" size="small">
      <ion-icon name="arrow-back"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ng-container>

<ng-template #loading>
  <strive-page-loading></strive-page-loading>
</ng-template>

<ng-template #noAccess>
  <strive-404></strive-404>
</ng-template>

<ng-container *ngIf="(pageIsLoading$ | async) === false else loading">
<ng-container *ngIf="canAccess$ | async else noAccess">
<ng-container *ngIf="goal$ | async as goal">
<ng-container *ngIf="stakeholder$ | async as stakeholder">

<ion-content>

  <picture (click)="openZoom(goal)" *ngIf="screensize.isMobile$ | async" class="mobile">
    <img [ref]="goal.image" asset="goal.png" [width]="600" [height]="600"/>
    <div *ngIf="goal.status !== 'pending'">finished</div>
  </picture>

  <ng-template #actions>
    <section class="actions">
    
      <article>
        <strive-goal-join-button [goal]="goal" [stakeholder]="stakeholder" [collectiveStakeholder]="collectiveStakeholder"></strive-goal-join-button>

        <ion-button (click)="spectate()" size="block" class="primary" [ngClass]="{'fake-disable': stakeholder.isSpectator}">
          <ion-icon name="notifications-outline" size="small" slot="start"></ion-icon> 
          <span>{{ stakeholder.isSpectator ? 'FOLLOWING' : 'FOLLOW' }}</span>
        </ion-button>
      </article>
  
      <article>
        <ion-button (click)="openChat()" size="block" class="secondary">
          <ion-icon name="chatbubbles-outline" slot="start" size="small"></ion-icon>
          <span>Chat</span>
        </ion-button>

        <ng-container *ngIf="stakeholder.isAdmin; else share">
          <ion-button (click)="openAddOthersModal()" class="secondary">
            <ion-icon slot="icon-only" size="small" name="person-add-outline"></ion-icon>
          </ion-button>
        </ng-container>
        <ng-template #share>
          <ng-container *ngIf="goal.publicity === 'public'">
            <ion-button (click)="openShare($event)" class="secondary">
              <ion-icon slot="icon-only" size="small" name="share-social-outline"></ion-icon>
            </ion-button>
          </ng-container>
        </ng-template>

        <ion-button (click)="presentGoalOptionsPopover($event, goal)" class="secondary">
          <ion-icon slot="icon-only" size="small" name="ellipsis-horizontal-outline"></ion-icon>
        </ion-button>
      </article>
  
    </section>
  </ng-template>

  <main>
    <h1>{{ goal.title }}</h1>

    <div class="main">
      <picture (click)="openZoom(goal)" *ngIf="(isMobile$ | async) === false">
        <img [ref]="goal.image" asset="goal.png" [width]="600" [height]="600"/>
        <div *ngIf="goal.status !== 'pending'">finished</div>
      </picture>

      <div class="info">
        <ul class="properties">
      
          <li (click)="openTeamModal('isAchiever')" class="clickable">
            <ion-icon name="flag"></ion-icon>
            <ng-container *ngIf="stakeholder.isAchiever">
              <ng-container *ngIf="goal.numberOfAchievers > 1">
              <span><b>You</b> and <b>{{ goal.numberOfAchievers - 1 ?? 0 }}</b> other {{ goal.numberOfAchievers === 2 ? 'achiever' : 'achievers' }}</span>
              </ng-container>
              <ng-container *ngIf="goal.numberOfAchievers === 1">
                <span><b>You</b> achieve</span>
              </ng-container>
            </ng-container>
            <ng-container *ngIf="!stakeholder.isAchiever">
              <span><b>{{ goal.numberOfAchievers ?? 0 }}</b> {{ goal.numberOfAchievers === 1 ? 'achiever' : 'achievers' }}</span>
            </ng-container>
          </li>
      
          <li (click)="openTeamModal('isSupporter')" class="clickable">
            <ion-icon src="assets/icons/hand-holding-heart-solid.svg"></ion-icon>
            <ng-container *ngIf="stakeholder.isSupporter">
              <ng-container *ngIf="goal.numberOfSupporters > 1">
                <span><b>You</b> and <b>{{ goal.numberOfSupporters - 1 ?? 0 }}</b> other {{ goal.numberOfSupporters === 2 ? 'supporter' : 'supporters' }}</span>
              </ng-container>
              <ng-container *ngIf="goal.numberOfSupporters === 1">
                <span><b>You</b> support</span>
              </ng-container>
            </ng-container>
            <ng-container *ngIf="!stakeholder.isSupporter">
              <span><b>{{ goal.numberOfSupporters ?? 0 }}</b> {{ goal.numberOfSupporters === 1 ? 'supporter' : 'supporters' }}</span>
            </ng-container>
          </li>

          <li (click)="openTeamModal('isSpectator')" class="clickable">
            <ion-icon name="notifications"></ion-icon>
            <ng-container *ngIf="stakeholder.isSpectator">
              <ng-container *ngIf="goal.numberOfSpectators > 1">
                <span><b>You</b> and <b>{{ goal.numberOfSpectators - 1 ?? 0 }}</b> other {{ goal.numberOfSpectators === 2 ? 'follower' : 'followers' }}</span>
              </ng-container>
              <ng-container *ngIf="goal.numberOfSpectators === 1">
                <span><b>You</b> follow</span>
              </ng-container>
            </ng-container>
            <ng-container *ngIf="!stakeholder.isSpectator">
              <span><b>{{ goal.numberOfSpectators ?? 0 }}</b> {{ goal.numberOfSpectators === 1 ? 'follower' : 'followers' }}</span>
            </ng-container>
          </li>

          <ng-container *ngIf="collectiveStakeholders$ | async as stakeholders">
            <ng-container *ngIf="stakeholders.length">
              <li (click)="openCollectiveGoals(stakeholders)" class="clickable">
                <ion-icon name="link"></ion-icon>
                <span><b>{{ stakeholders.length }}</b> connected {{ stakeholders.length === 1 ? 'goal' : 'goals' }} </span>
              </li>
            </ng-container>
          </ng-container>
      
          <!-- Privacy -->
          <li>
            <ion-icon [name]="goal.publicity === 'public' ? 'lock-open-outline' : 'lock-closed-outline'"></ion-icon>
            <span>Access:</span>
            <ng-container *ngIf="stakeholder.isAdmin; else privacyNoAdmin">
              <ion-select placeholder="Select Privacy" interface="popover" [value]="goal.publicity" (ionChange)="updatePrivacy($event, goal)" class="clickable">
                <ion-select-option value="public">Everyone can access</ion-select-option>
                <ion-select-option value="private">Only invited users</ion-select-option>
              </ion-select>
            </ng-container>
            <ng-template #privacyNoAdmin>
              <span><b>{{ goal.publicity === 'public' ? 'Everyone can access' : 'Invites only' }}</b></span>
            </ng-template>
          </li>
      
          <!-- Deadline -->
          <li *ngIf="goal.deadline"
            [ngStyle]="{
              'color': isOverdue(goal.deadline) && goal.status === 'pending' ? 'var(--ion-color-danger-tint)' : '',
              'clickable': stakeholder.isAchiever
            }"
            (click)="openDatePicker($event)"
          >
            <ion-icon name="timer-outline"></ion-icon>
            <span>End date: </span>
            <b>{{ goal.deadline | date:'fullDate' }}</b>
          </li>
      
        </ul>

        <ng-container *ngIf="(isMobile$ | async) === false">
          <ng-container *ngTemplateOutlet="actions"></ng-container>
        </ng-container>
      </div>
    </div>

    <ng-container *ngIf="isMobile$ | async">
      <ng-container *ngTemplateOutlet="actions"></ng-container>
    </ng-container>

    <ng-container *ngIf="isOverdue(goal.deadline) && goal.status === 'pending' && (stakeholder.isAdmin || stakeholder.isAchiever)">
      <ion-card class="finish">
        <h3>Did you finish the goal?</h3>
        <article>
          <ion-button (click)="finishGoal('succeeded')" color="primary">Yes!</ion-button>
          <ion-button (click)="openDatePicker($event)" fill="clear" color="primary">Set new end date</ion-button>
          <ion-button (click)="finishGoal('failed')" fill="clear" color="danger">No, I give up</ion-button>
        </article>
      </ion-card>
    </ng-container>

    <!-- Request to join -->
    <ng-container *ngIf="openRequests$ | async as stakeholders">
      <ng-container *ngIf="stakeholders.length">
        <h3>Open requests to join</h3>
        <ion-list mode="md">
          <ion-item *ngFor="let stakeholder of stakeholders; let last = last" [lines]="last ? 'none' : 'full'" (click)="navTo(stakeholder.uid)" button>
            <ion-avatar slot="start">
              <img [ref]="stakeholder.profile.photoURL" asset="profile.png" [width]="60" [height]="60"/>
            </ion-avatar>
            <ion-label>{{ stakeholder.profile.username }}</ion-label>
            <ion-button (click)="handleRequestDecision(stakeholder, true, $event)" color="primary" size="default">
              <span *ngIf="(isMobile$ | async) === false">Accept</span>
              <ion-icon name="checkmark-outline" slot="end"></ion-icon>
            </ion-button>
            <ion-button (click)="handleRequestDecision(stakeholder, false, $event)" size="default" fill="outline">
              <span *ngIf="(isMobile$ | async) === false">Reject</span>
              <ion-icon name="close-outline" slot="end"></ion-icon>
            </ion-button>
          </ion-item>
        </ion-list>
      </ng-container>
    </ng-container>


    <ng-container *ngIf="goal.description || stakeholder.isAdmin">
      <strive-description [value]="goal.description" [canEdit]="stakeholder.isAdmin" (updated)="updateDescription($event)"></strive-description>
    </ng-container>

    <section>
      <h5>Roadmap</h5>
      <ion-segment scrollable>
        <ion-segment-button>
          2021
        </ion-segment-button>
        <ion-segment-button>
          2022
        </ion-segment-button>
        <ion-segment-button>
          2023
        </ion-segment-button>
      </ion-segment>

      <strive-roadmap
        [goal]="goal"
        [milestones]="milestones$ | async"
        [stakeholder]="stakeholder">
      </strive-roadmap>
    </section>

    <section class="supports">
      <h5>Supports</h5>
      <article>
        <ng-container *ngIf="goal.status === 'pending'">
          <strive-support-add [goal]="goal"></strive-support-add>
        </ng-container>

        <ng-container *ngIf="supports$ | async as supports">
          <strive-support-list [goal]="supports[0]">
            <ng-template #milestone let-milestone="milestone">
              <small>Milestone: {{ milestone.content }}</small>
            </ng-template>
            <ng-container *ngIf="goal.status === 'pending'">
              <ng-template #empty>
                <i>No supports yet</i>
              </ng-template>
            </ng-container>
          </strive-support-list>
        </ng-container>
      </article>
    </section>

    <section class="story">
      <header>
        <h5>Story</h5>
        <ion-button fill="clear" *ngIf="storyOrder$ | async as order" (click)="toggleStoryOrder()" size="small">
          <ion-icon *ngIf="order === 'desc'" name="arrow-up-outline" slot="icon-only" size="small"></ion-icon>
          <ion-icon *ngIf="order === 'asc'" name="arrow-down-outline" slot="icon-only" size="small"></ion-icon>
        </ion-button>
      </header>
      <strive-story [story]="story$ | async" [stakeholder]="stakeholder" [goalId]="goal.id"></strive-story>
    </section>

  </main>

</ion-content>

</ng-container>
</ng-container>
</ng-container>
</ng-container>
