<ng-container *ngIf="pageIsLoading">
  <strive-page-loading></strive-page-loading>
</ng-container>

<ng-container *ngIf="!canAccess && !pageIsLoading">
  <strive-page-not-found></strive-page-not-found>
</ng-container>

<ng-container *ngIf="canAccess && !pageIsLoading">
  <ion-toolbar>
    <ion-segment (ionChange)="segmentChanged($event)" class="ion-align-self-center">
      <ion-segment-button value="Goal" href="#goal" checked>
        Goal
      </ion-segment-button>
      <ion-segment-button value="Roadmap" href="#roadmap">
        Roadmap
      </ion-segment-button>
      <ion-segment-button value="Posts" href="#posts">
        Posts
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ng-container>


<ion-content class="ion-no-padding" [ngSwitch]="segmentChoice" *ngIf="canAccess && !pageIsLoading">

  <!-- Goal description -->
  <div *ngSwitchCase="'Goal'" class="vertical-align-content">

    <div *ngIf="!!goal">
      <ion-grid>
        <ion-row>
          <ion-col>
            <ion-icon *ngIf="goal.publicity === 'private'" name="lock-closed"></ion-icon>
            <span id="goal-title">{{ goal?.title }}</span>
            <span *ngIf="goal.isFinished"> (finished)</span>
          </ion-col>
          <ion-col size-xs="3" size-sm="3" size-md="3" size-lg="3" size-xl="3" self-align-end *ngIf="user.isLoggedIn$ | async">
            <div class="action-buttons-wrapper">
              <ion-button (click)="openDiscussion()" class="ion-no-padding action-button" fill="clear">
                <ion-icon slot="icon-only" name="chatbox-outline"></ion-icon>
              </ion-button>
              <ion-button (click)="supportGoal()" color="secondary" class="ion-no-padding action-button" fill="clear">
                <fa-icon [icon]="['fas', 'hand-holding-heart']" slot="end"></fa-icon>
              </ion-button>
              <ion-button (click)="openSharePopover($event)" fill="clear" size="small" class="ion-no-padding action-button">
                <ion-icon slot="icon-only" name="share-social-outline"></ion-icon>
              </ion-button>
              <ion-button (click)="presentGoalOptionsPopover($event)" fill="clear" class="ion-no-padding action-button" *ngIf="user.isLoggedIn$ | async">
                <ion-icon slot="icon-only" name="ellipsis-vertical"></ion-icon>
              </ion-button>
            </div>
          </ion-col>
        </ion-row>
        <ion-row *ngIf="goal.deadline">
          <ion-col>
            <div id="goal-deadline" [ngStyle]="{ 'color': goal.isOverdue ? 'var(--ion-color-danger-tint)' : 'inherit'}">
              <fa-icon [icon]="['fas', 'stopwatch']"></fa-icon> {{ goal.deadline | date:'fullDate' }}
            </div>
          </ion-col>
        </ion-row>
      </ion-grid>

      <div class="goal-action-section">
        <ion-grid>
          <ion-row>
            <ion-col>

              <!-- Short Description -->
              <div id="goal-short-description">
                <i>{{ goal.shortDescription }}</i>
              </div>

              <!-- Only show collective goal data if the goal is connected to a collective goal -->
              <div class="collective-goal-details-section">
                <ion-card *ngIf="goal.collectiveGoal as collectiveGoal">
                  <div id="collective-goal-text">
                    this goal is part of<br/>
                    <a id="collective-goal-title" [routerLink]="'../../collective-goal/' + ( collectiveGoal.id )">{{ collectiveGoal.title }}</a>
                  </div>
                  <img class="collective-goal-image" [src]="goal.collectiveGoal.image">
                </ion-card>
              </div>

              <div class="goal-stats">
                <div class="stats-holder">
                  <div class="stats">
                    <strong>Achievers</strong>
                    <span>{{ goal.numberOfAchievers || '0' }}</span>
                  </div>
                  <div class="stats">
                    <strong>Supporters</strong>
                    <span>{{ goal.numberOfSupporters || '0' }}</span>
                  </div>
                </div>
              </div>

              <!-- <span *ngIf="!goal.isFinished && _isLoggedIn">
                <ion-button (click)="supportGoal()" color="secondary" fill="clear">
                  Support goal <fa-icon [icon]="['fas', 'hand-holding-heart']" slot="end"></fa-icon>
                </ion-button>
              </span> -->

              <!-- Can only REQUEST to participate if not admin and not achiever  -->
              <span *ngIf="!isAdmin && !isAchiever && !goal.isFinished && user.isLoggedIn">
                <ion-button (click)="requestToJoinGoal()" *ngIf="!hasOpenRequestToJoin"><ion-icon name="flag"></ion-icon> Request to participate</ion-button>
                <ion-button disabled *ngIf="hasOpenRequestToJoin"><ion-icon name="flag"></ion-icon> Request pending</ion-button>
              </span>

            </ion-col>
            <ion-col size-xs="12" size-sm="4" size-md="4" size-lg="4" size-xl="4">
              <span class="image-container">
                <img class="goal-image" src="{{goal.image}}"/>
                <div class="after" *ngIf="goal.isFinished">finished</div>
              </span>
            </ion-col>
          </ion-row>

          <!-- Only a stakeholder can join the chat -->
          <!-- <span *ngIf="isSupporter || isAdmin || isAchiever">
            <ion-button color="primary" fill="solid" routerLink="/chat"><ion-icon name="chatboxes"></ion-icon> Chat</ion-button>
          </span> -->

        </ion-grid>
      </div>

      <app-text-editor [_description]="goal.description"
        [isAdmin]="isAdmin" 
        (update)="saveDescription($event)"
      ></app-text-editor>

    </div>

    <ion-list>
      <ion-list-header>Stakeholders</ion-list-header>
      <ion-item *ngFor="let stakeholder of stakeholders" button [routerDirection]="'root'" [routerLink]="'../../profile/' + (stakeholder.id)">
        {{ stakeholder.username }}
        <fa-icon *ngIf="stakeholder.isAdmin" [icon]="['fas', 'user-tie']" slot="end"></fa-icon>
        <fa-icon *ngIf="isAdmin && !stakeholder.isAdmin" [icon]="['fas', 'user-tie']" slot="end" style="opacity: 0.3;" (click)="toggleAdmin(stakeholder)"></fa-icon>
        <fa-icon *ngIf="stakeholder.isAchiever" [icon]="['fas', 'flag']" slot="end"></fa-icon>
        <fa-icon *ngIf="isAdmin && !stakeholder.isAchiever" [icon]="['fas', 'flag']" slot="end" style="opacity: 0.3;" (click)="toggleAchiever(stakeholder)"></fa-icon>
        <fa-icon *ngIf="stakeholder.isSupporter" [icon]="['fas', 'hand-holding-heart']" slot="end"></fa-icon>
        <fa-icon *ngIf="isAdmin && !stakeholder.isSupporter" [icon]="['fas', 'hand-holding-heart']" slot="end" style="opacity: 0.3;" (click)="toggleSupporter(stakeholder)"></fa-icon>
      </ion-item>

    </ion-list>

  </div>

  <!-- Roadmap -->
  <div *ngSwitchCase="'Roadmap'" class="vertical-align-content">
  
    <app-default-roadmap [goalId]="goalId" [isAdmin]="isAdmin" [isAchiever]="isAchiever" [goal]="goal"></app-default-roadmap>

  </div>

  <!-- Posts -->
  <div *ngSwitchCase="'Posts'" class="vertical-align-content">

    <ion-refresher slot="fixed" (ionRefresh)="refreshPosts($event)">
      <ion-refresher-content></ion-refresher-content>
    </ion-refresher>
 
    <ng-container *ngFor="let notification of paginationService.data | async">
      <app-notification [goalId]="goalId" [notification]="notification" [isAdmin]="isAdmin" [reference]="'Goals/' + goalId + '/Notifications/' + notification.id"></app-notification>
    </ng-container>

    <ion-fab *ngIf="isAdmin" vertical="bottom" horizontal="end" slot="fixed">
      <ion-fab-button (click)="createCustomPost()"><ion-icon name="add"></ion-icon></ion-fab-button>
    </ion-fab>

    <ion-infinite-scroll threshold="100px" (ionInfinite)="loadData($event)">
      <ion-infinite-scroll-content
        loadingSpinner="bubbles"
        loadingText="Loading more data...">
      </ion-infinite-scroll-content>
    </ion-infinite-scroll>

  </div>

</ion-content>
