picture.mobile {
  height: 60vw;
}

ion-fab {
  margin-top: constant(safe-area-inset-top);
  margin-top: env(safe-area-inset-top);
}

ion-content {
  -webkit-user-select: text;
  -moz-user-select: text;
  -ms-user-select: text;
  user-select: text;
}

main {
  max-width: var(--page-max-width);
  margin: auto;
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 16px;

  h1 {
    font-size: clamp(1.5rem, 5vw, 2.5rem);
    font-weight: 500;
    color: var(--ion-text-color);
  }

  h3 {
    margin-top: 32px;
    color: var(--ion-color-primary);
    margin: 0;
  }
  
  div.main {
    display: flex;
    gap: 16px;

    picture {
      flex: 1;
      border-radius: 12px;
    }

    div.info {
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      gap: 16px;
      flex: 2;

      ul.properties {
        display: flex;
        flex-direction: column;
        gap: 8px;
        margin: 0;
      
        li {
          display: flex;
          gap: 4px;
          align-items: center;
          color: var(--ion-color-medium);
          font-size: clamp(12px, 2.5vw, 1rem);

          &.clickable {
            cursor: pointer;
          }
        }
      }
    }
  }


  section {
    display: flex;
    flex-direction: column;
  }
  
  section.actions {
    gap: 2px;

    article {
      display: flex;
      gap: 8px;

      goal-join-button {
        flex: 1.5;
      }
  
      ion-button.button-block {  
        flex: 1;
      }
    }
  }
}

picture {
  display: block;
  position: relative;
  overflow: hidden;

  img {
    display: block;
    object-fit: cover;
    width: 100%;
    height: 100%;
  }

  div {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: var(--ion-color-primary-contrast);
    background: rgba(247, 148, 29, 0.6);
  }
}

ion-select {
  font-weight: bold;
  padding: 0 4px;
}

ion-card.finish {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 16px;

  article {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 16px;
  }

  @media only screen and (max-width: 568px) {
    article {
      grid-template-columns: auto;
    }
  }
}

strive-description, goal-strive-roadmap  {
  margin-block: 32px; 
}

.supports {

  article {
    margin-block: 32px;
    display: flex;
    flex-direction: column;
    gap: 16px;

    support-list {
      small {
        overflow: hidden;
        text-overflow: ellipsis;
        color: var(--ion-color-medium);
      }

      i {
        color: var(--ion-color-medium);
      }
    }
  }
}
