<strive-header title="Assess Life" defaultBack="/exercise" color="primary">
  <ion-buttons slot="end">
    <ion-button fill="clear" size="small" routerLink="settings">
      <ion-icon slot="icon-only" name="settings-outline" />
    </ion-button>
  </ion-buttons>
</strive-header>

<ion-content class="ion-padding">
  <main>
    <header>
      <h1 *ngIf="(isMobile$ | async) === false">Assess Life</h1>
      <ion-button
        *ngIf="(isMobile$ | async) === false"
        size="small"
        fill="clear"
        routerLink="settings"
        >
        <ion-icon slot="icon-only" name="settings-outline" />
      </ion-button>
    </header>
    <small class="explanation">
      Get a grasp on life by looking back and planning ahead
    </small>

    <ion-list mode="md">
      <ng-container *ngIf="weekly$ | async as weekly">
        <ion-item button (click)="addEntry('weekly')" [disabled]="weekly.disabled">
          <ion-label>
            <h2>Add Weekly Entry</h2>
            <small>{{ weekly.message }}</small>
          </ion-label>
          <ion-icon name="arrow-forward-outline" slot="end" />
        </ion-item>
      </ng-container>

      <ng-container *ngIf="monthly$ | async as monthly">
        <ion-item button (click)="addEntry('monthly')" [disabled]="monthly.disabled">
          <ion-label>
            <h2>Add Monthly Entry</h2>
            <small>{{ monthly.message }}</small>
          </ion-label>
          <ion-icon name="arrow-forward-outline" slot="end" />
        </ion-item>
      </ng-container>

      <ng-container *ngIf="quarterly$ | async as quarterly">
        <ion-item button (click)="addEntry('quarterly')" [disabled]="quarterly.disabled">
          <ion-label>
            <h2>Add Quarterly Entry</h2>
            <small>{{ quarterly.message }}</small>
          </ion-label>
          <ion-icon name="arrow-forward-outline" slot="end" />
        </ion-item>
      </ng-container>

      <ng-container *ngIf="yearly$ | async as yearly">
        <ion-item button (click)="addEntry('yearly')" [disabled]="yearly.disabled" lines="none">
          <ion-label>
            <h2>Add Yearly Entry</h2>
            <small>{{ yearly.message }}</small>
          </ion-label>
          <ion-icon name="arrow-forward-outline" slot="end" />
        </ion-item>
      </ng-container>

    </ion-list>

    <header>
      <h3>Past entries</h3>
      <ion-button size="small" fill="clear" id="filter-popover">
        <ion-icon name="filter-outline" slot="icon-only" />
      </ion-button>
    </header>

    <ng-container *ngIf="entries$ | async as entries; else loading">
      <ng-container *ngIf="entries.length; else noEntries">
        <ion-list mode="md">
          <ng-container *ngFor="let entry of entries; let last = last">
            <ion-item (click)="openEntry(entry)" [lines]="last ? 'none' : 'inset'" button>
              <ion-label>
                <span>{{ entry.interval | interval | titlecase }}ly entry</span>&nbsp;<small>({{ entry.createdAt | date:'longDate' }})</small>
              </ion-label>
              <ion-icon name="arrow-forward-outline" slot="end" />
            </ion-item>
          </ng-container>
        </ion-list>
      </ng-container>
    </ng-container>

    <ng-template #loading>
      <strive-page-loading />
    </ng-template>

    <ng-template #noEntries>
      <p>No entries yet</p>
    </ng-template>
  </main>
</ion-content>

<ion-popover trigger="filter-popover">
  <ng-template>
    <ion-content>
      <form [formGroup]="filterForm">
        <ion-list mode="md">
          <ion-item>
            <ion-checkbox formControlName="weekly">Weekly</ion-checkbox>
          </ion-item>
          <ion-item>
            <ion-checkbox formControlName="monthly">Monthly</ion-checkbox>
          </ion-item>
          <ion-item>
            <ion-checkbox formControlName="quarterly">Quarterly</ion-checkbox>
          </ion-item>
          <ion-item lines="none">
            <ion-checkbox formControlName="yearly">Yearly</ion-checkbox>
          </ion-item>
        </ion-list>
      </form>
    </ion-content>
  </ng-template>
</ion-popover>