main {
  max-width: var(--page-max-width);
  margin: auto;
  display: flex;
  flex-direction: column;
  gap: 16px
}

.note {
  display: flex;
  gap: 4px;
  color: var(--ion-color-medium);
}

section {
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));

  article {
    margin-top: 4px;
    display: flex;
    flex-direction: column;

    .active {
      color: var(--ion-color-secondary);
    }
  }

  small {
    color: var(--ion-color-medium);
  }
}